[2016-06-06 17:58] Tobias-Fischer commented on #90
Closing here, we rely on speech recognition instead.

[2016-06-06 17:58] #90 closed

[2016-06-06 17:59] Tobias-Fischer commented on #132
Done in https://github.com/robotology/wysiwyd/pull/142

[2016-06-06 17:59] #132 closed

[2016-06-07 15:52] Tobias-Fischer commented on #42
@clement-moulin-frier @gregoire-pointeau @maxime-petit @pattacini
Do you think this should be tackled in year 3?

[2016-06-07 16:15] pattacini commented on #42
I have no objections to try it out again for year 3.

[2016-06-07 17:23] maxime-petit commented on #42
Yes sure,

Maybe it does not have to be permanent but at least in some "subset" of scenario (like an active search, ...)

[2016-06-07 22:58] clement-moulin-frier commented on #42
Would be a very good feature to have indeed. But we (upf) still haven't understood why and how the saliency decreases automatically (and very rapidly), preventing us to control it programatically in a robust way.
Does the new convention for `m_present`, now taking real values, change something?

[2016-06-08 09:50] #127 closed

[2016-06-12 17:39] pattacini opened #143 "Report on stale branches"
The following three branches are almost to be considered as _stale_, given that they haven't been touched since more than 2 months:

- [`renaming2`](https://github.com/robotology/wysiwyd/tree/renaming2), whose responsible developer is @jypuigbo
- [`babblingTest`](https://github.com/robotology/wysiwyd/tree/babblingTest), whose responsible developer is @martz21
- [`upf-devel-goals`](https://github.c

[2016-06-15 14:14] jypuigbo commented on #143
I've been looking at those branches you tagged me recently. `upf-devel-goals` has work in progress (currently I'm trying to rebase `devel` into it to make sure it is updated), we are constructing the contextual layer there.

For `renaming 2`, it was developed by @clement-moulin-frier  during an integration meeting, but I think the changes were not accepted to be added in the demo. We should talk (

[2016-06-15 14:14] pattacini commented on #143
@martz21 any update on `babblingTest`?

[2016-06-15 17:39] martz21 commented on #143
Hi @pattacini ! No updates yet, but I am going to work on it very soon. If it was possible I would like to keep this branch for another bit. Please let me know if that would be an issue.

[2016-06-15 18:10] pattacini commented on #143
Cool, thanks for the info @martz21.
The branch can certainly stay there.

[2016-06-15 18:10] #143 closed

[2016-06-21 11:26] Tobias-Fischer commented on #119
Any news on this @dcam0050?

[2016-06-21 13:04] dcam0050 commented on #119
Working on it should release something in the next 2 weeks.
On Jun 21, 2016 12:26 PM, "Tobias Fischer" <notifications@github.com> wrote:

[2016-06-28 12:19] sockchinglow opened #144 "Unable to build CVZ as 'opencv2/opencv.hpp' cannot be found"
I have installed opencv3.0.0 as instructed in the WYSIWYD readme. The opencv installation goes fine, but when I try to build WYSIWYD there will be the following error:
`error C1083: Cannot open include file: 'opencv/opencv.hpp': No such file or directory`

This is found in the projects `cvxFiber`, `cvzCore`, `cvzHierarchyXmlBuilder` and `cvzStackExample`. However in `cvzVisualHierarchy`, there wer

[2016-06-28 12:51] Tobias-Fischer commented on #144
1) Try removing your `build` folder, and try again from scratch.
2) Please post the output of `cat CMakeCache.txt | grep OpenCV`

[2016-06-28 13:00] sockchinglow commented on #144
I have removed the `build` folder and rebuilt it...several times. To the same result. And I'm using windows, so I'm not sure which file `cat CMakeCache.txt | grep OpenCV` should yield, but I have attached the `CMakeCache.txt` in opencv/build.
[CMakeCache.txt](https://github.com/robotology/wysiwyd/files/337033/CMakeCache.txt)

[2016-06-28 13:03] Tobias-Fischer commented on #144
I meant the `CMakeCache.txt` in `wysiwyd/main/build` ..
As it's Windows, I won't be able to help. Maybe @pattacini or @maxime-petit can have a look.

[2016-06-28 13:04] sockchinglow commented on #144
This is the [CMakeCache.txt](https://github.com/robotology/wysiwyd/files/337038/CMakeCache.txt) in `wysiwyd/main/build`.

[2016-06-28 13:25] Tobias-Fischer commented on #144
I assume that this is due to not having `OpenCV` in the `include_directories` and `target_link_libraries` in the modules you mentioned, although they indirectly include `opencv/opencv.hpp` (they include `cvz/gui/all.h` which includes `GuiNN.h` which includes `cvz/core/CvzNN.h` which includes `opencv2/opencv.hpp`.

1) Can you remove `opencv2/opencv.hpp` from ``cvz/core/CvzNN.h` and see whether it c

[2016-06-28 13:58] sockchinglow commented on #144
It still doesn't work; I have attached one of the `CMakeLists.txt` (from `cvzHierarchyXmlBuilder`) for reference as to how I added the `${OpenCV_INCLUDE_DIRS}` and `${OpenCV_LIBRARIES}`.

[2016-06-28 14:06] Tobias-Fischer commented on #144
There is no reference to `OpenCV` in your `CMakeLists.txt` at all ..
Did you try solution 1)?
If this doesn't help, I'm afraid @pattacini or @maxime-petit have to kick in, as I have no clue about compiling on Windows.

[2016-06-28 14:10] sockchinglow commented on #144
I added it into the `include_directories` of the `CMakeLists.txt`. Solution 1) did not help either :/ it's all very strange because I did manage to build it before. I thought it would be something that I changed, so I pulled the entire `wysiwyd` folder from github and tried to recompile from there but it still didn't work.

[2016-06-28 14:23] maxime-petit commented on #144
Do you have the `opencv.hpp` file in `C:/Users/sock/robotology/opencv/build/opencv2` ?

[2016-06-28 14:35] sockchinglow commented on #144
No, it is in `C:/Users/sock/robotology/opencv/include/opencv2`. I did manually put it in `build/opencv2` but that did not help either.

[2016-06-28 14:43] Tobias-Fischer commented on #144
Can you upload the (modified) `CMakeLists.txt` you are using? The uploaded version above is just the standard version without any modifications.

[2016-06-28 14:53] maxime-petit commented on #144
Oups yes sorry :D `C:/Users/sock/robotology/opencv/include/opencv2` is fine

Can you check also if you have another opencv directory installed? And check your variable environment (OpenCV_DIR and PATH).

I don't have opencv3 installed on my windows machines but I will take a look

[2016-06-28 15:08] sockchinglow commented on #144
In my `PATH` I have included the directory `C:\Users\sock\robotology\opencv\build\bin\Release`, the `OpenCV_DIR` is `C:\Users\sock\robotology\opencv\build`. The uploaded `CMakeLists.txt` differs from the standard version in the `include_directories` portion where I had added the `${OpenCV_INCLUDE_DIRS}` and `${OpenCV_LIBRARIES}`.

[2016-06-28 15:51] clement-moulin-frier commented on #144
Hi guys,

Same as @Tobias-Fischer , I am not very skilled in Windows compilation :/
As a light contribution however:
@max says that *"`C:/Users/sock/robotology/opencv/include/opencv2` is fine"* for `cmake` to find `opencv.hpp`. But from what I know the only path we provide to `cmake` is the `build` directory, so how could it find `include/opencv2`?

[2016-06-28 16:25] Tobias-Fischer commented on #144
Hmmm, sorry, I can't help in this case .. Out of ideas for remote Windows debugging ..

[2016-06-28 16:32] pattacini commented on #144
There shouldn't be any difference in this case between Windows and Linux, as we're using cmake just for that purpose :wink: It must be a problem due to how opencv has been installed and/or how `cvz` might be in sync with latest opencv releases.

I cannot go through the compilation of `cvz` given that I don't have `GTK2`, which is a required dependency. I've got also a concern about `cvz`: it's a p

[2016-06-28 16:40] Tobias-Fischer commented on #144
@sockchinglow By the way, what's the output of `git log -1`? As a quick fix, you can set `WYSIWYD_USE_GTK2` to `OFF`, it's only used by the `cvz` stuff.
@pattacini Happy to remove `cvz` as long as the guys at UPF are happy as well @jypuigbo @clement-moulin-frier - I agree it's a waste of time trying to get a module compiled we don't use.

[2016-06-28 16:45] pattacini commented on #144
@Tobias-Fischer I think `WYSIWYD_USE_GTK2` is an output variable, thus not used as input and therefore toggling it to `OFF` won't have any effect: it'll be rewritten to `ON`.

To disable `cvz` compilation @sockchinglow should comment out these lines:

1. https://github.com/robotology/wysiwyd/blob/master/main/src/libraries/CMakeLists.txt#L8
2. https://github.com/robotology/wysiwyd/blob/master/main/

[2016-06-28 16:51] pattacini commented on #144
@sockchinglow can you compile just `iol2opc` to verify that the remaining modules are ok with your installation of `opencv-3.0.0`?

- It that's the case, then it's very likely that `cvz` must be upgraded.
- If `iol2opc` fails to compile, then your installation of `opencv-3.0.0` could be wrong somehow.

[2016-06-28 16:53] Tobias-Fischer commented on #144
@pattacini
`WYSIWYD_HAS_GTK2` is the output variable, as far as I know `WYSIWYD_USE_GTK2` has the desired effect of being able to switch compilation off although the library is present.

[2016-06-28 16:56] pattacini commented on #144
@Tobias-Fischer you're right, although I've bad memories of playing with those cmake vars.

[2016-06-29 14:35] sockchinglow commented on #144
I managed to build the `wysiwyd` project after removing the `cvz` module! In addition to commenting the lines that @pattacini mentioned, I also "turned off" the variables `WYSIWYD_USE_GTK2` and, just in case, `ICUB_USE_GTK2`.

Thanks for your help @Tobias-Fischer @pattacini @maxime-petit @clement-moulin-frier! Since we don't use the `cvz` module, I guess even though we still don't know what the is

[2016-06-29 14:35] #144 closed

[2016-07-15 11:50] Tobias-Fischer opened #145 "wrdac Swig (Python) bindings"
Hi,
@clement-moulin-frier suggested in https://github.com/robotology/yarp/issues/822 that it would be nice to have Python bindings for wrdac. I agree it would be a nice thing to have (seeing that both UPF and USFD work with Python); and it shouldn't be too hard to implement.

I'll assign @clement-moulin-frier for now.

Best, Tobi

[2016-07-15 12:00] clement-moulin-frier commented on #145
Thanks for opening it here @Tobias-Fischer

Besides the fact of working with Python, it would also be a convenient way to interactively use some of our libraries, even for people that don't code modules in Python. For example we could use the `opcClient`  functionalities in an interactive Python shell like `ipython` in order to flexibly change the `OPC` state on the fly (instead on relying on the

[2016-07-15 12:56] Tobias-Fischer commented on #145
Hi,
It's probably easier to adapt one of the sample `cmake` scripts (http://www.swig.org/Doc1.3/Introduction.html#Introduction_build_system) rather than the one provided by yarp.
Let me know which issues you run into, I might be able to help. However I haven't worked with SWIG yet either.

Good luck! Tobi

[2016-07-29 10:50] dcam0050 commented on #119
This is fixed with commit #147

[2016-07-31 19:58] Tobias-Fischer commented on #119
Will close after merging https://github.com/robotology/wysiwyd/pull/147

[2016-08-09 13:38] Tobias-Fischer commented on #51
Hi @dcam0050 and @gregoire-pointeau,
I don't see this happening in the next few months, should we close this as `wontfix`?

[2016-08-09 13:39] Tobias-Fischer commented on #38
Should we close this @jypuigbo @clement-moulin-frier @maxime-petit? Don't think this will happen, I think it's a `wontfix`.

[2016-08-09 13:39] Tobias-Fischer commented on #45
Hi @clement-moulin-frier @gregoire-pointeau, should we close this? Or is anyone working on this?

[2016-08-11 09:48] clement-moulin-frier commented on #38
Yes let's close it for the time being and we'll reopen it if we need the feature for Y3.
Not complicated to do but there many possible ways and we need to agree on one.

[2016-08-11 09:48] #38 closed

[2016-08-11 09:52] clement-moulin-frier commented on #45
It was mentioned during the videoconf workshop that proactive tagging could focus more on actions for Y3 (in order both to keep it and not re-presenting the exact the same thing).

@dcam0050 Do you think you could have a look at it during BCBT? As mentioned during the workshop it can be quite easy if we simply consider tagging actions that the iCub is already able to classify (i.e. to distinguish

[2016-08-17 13:54] Tobias-Fischer commented on #134
Will close this as a `wontfix`.

[2016-08-17 13:54] #134 closed

[2016-08-17 13:55] Tobias-Fischer commented on #117
Hi @dcam0050, does your pull request address this issue?

[2016-08-17 13:56] Tobias-Fischer commented on #120
Hi @dcam0050, is this addressed in your PR? Is this still needed @gregoire-pointeau?

[2016-08-17 13:58] Tobias-Fischer commented on #140
As a first step, I will implement the above mentioned pointing during the integration meeting at BCBT.
@hjchang @maxime-petit: Let's have a chat on how exactly this should be done next week.

[2016-08-17 13:58] Tobias-Fischer commented on #145
Did you get to work on this @clement-moulin-frier?

[2016-08-17 14:01] gregoire-pointeau commented on #120
"Needed" I don't know.
It's just for SAM to be able to imagine different point of view.

[2016-08-17 14:32] Tobias-Fischer commented on #44
If we decide that this is needed in the scenario , the first step to tackle this issue would be making the output of the kinect wrapper compatible with `pcl`.

- So far there is only a method to retrieve single 3D points using a RPC command, which will be too slow to reconstruct the point cloud.
- Instead, I guess it will be faster to either construct the point cloud within `kinect-wrapper` and se

[2016-08-17 16:01] pattacini commented on #44
Hi @Tobias-Fischer

I think `kinect-wrapper` could be conveniently extended in order to expose a new method (say `get3DPoints`) responsible for providing the entire point cloud extracted from the image. That being said, I'd rather keep the library independent from `PCL`, which is really not required to this end.

Then, copying out the output of `get3DPoints` in a `PCL` compatible object would like

[2016-09-05 10:52] Tobias-Fischer commented on #119
Fixed in #147

[2016-09-05 10:52] #119 closed

[2016-09-06 15:11] #117 closed

[2016-09-07 16:53] towardthesea opened #155 "Adding calibration ability for subSystem_KARMA with iol"
This calibration ability should be similar to [`subSystem_ARE`](https://github.com/robotology/wysiwyd/blob/devel/main/src/libraries/wrdac/src/subsystems/subSystem_ARE.cpp#L42-L54).

The problem is that `KARMA` (in this current state) chooses the hand by itself after considering 2 solutions of 2 arms!

[2016-09-08 16:22] pattacini commented on #155
Hey @towardthesea @Tobias-Fischer

According to [`karma` documentation](http://robotology.github.io/karma/doxygen/doc/html/group__karmaMotor.html), there's a simple way to force the use of one given arm, which resorts to the following _rpc service_:

[code]

where we would basically set `x y z` equal to `0.0 0.0 0.0` and `arm` equal to `left` or `right`.

In this manner, inside `subSystem_KARMA` l

[2016-09-08 16:25] pattacini commented on #155
#### Side note

I believe `subSystem_ARE` also forces the arm selection somehow through the `API` and or in a way hidden to the user.

[2016-09-08 17:51] Tobias-Fischer commented on #155
Hi,
This sounds good to me. I'll check with @towardthesea so he can start working on it.

Regarding `subSystem_ARE`: Yes, indeed this is the case.
[code]

[2016-09-09 13:02] Tobias-Fischer commented on #155
So two things need to be done:
1) Choosing the left/right hand for the actions
2) Applying the correction from `iolReachingCalibration`
@towardthesea is on it.

[2016-09-10 11:18] towardthesea commented on #155
Hi @Tobias-Fischer , @pattacini

1. Choosing hand was implemented for `calibration before actions`. The chosen for actions are ongoing!
2. Correction from `iolReachingCalibration` was implemented and tested but there are still error (large in some cases) in the calibrated coordinates of recognized objects

[2016-09-10 17:26] Tobias-Fischer commented on #155
Hi @towardthesea , don't worry about the coordinates which are returned by `iolReachingCalibration`. They are wrong because the calibration we've done wasn't great. Just open a pull request as soon as choosing the hand also works for the KARMA action, and that's good :)!

[2016-09-12 10:47] towardthesea commented on #155
Hi @pattacini @Tobias-Fischer
About the `table calibration`, I knew that there is such kind of `rpc` command to ask robot to check the table high and store the value as an object in `opc`. I meant in the email that should we automate the whole process and let the robot call the `table calibration` by itself (in case of we deal with table top scenarios) as initialized procedure, rather than we have

[2016-09-12 11:19] Tobias-Fischer commented on #155
Hi @towardthesea,
I don't think we should do the calibration procedure every single time. There is no need for this. The table height typically doesn't change, nor does the kinematics of the robot (besides after broken cables etc.). So the calibration only needs to be done every couple of months, rather than at each start of the robot.
What do you think @pattacini?

Best, Tobi

[2016-09-12 11:55] pattacini commented on #155
@Tobias-Fischer is right.

#### Table calibration
We need to run it only when the table itself changes or we're unsure the height is well found. This info is stored permanently within `OPC`.

To this end, it suffices to do once:
`$ echo "calib table" | yarp rpc /actionsRenderingEngine/cmd:io`

#### iolReachingCalibration
We need to run this process always after robot [fine calibration](http://wiki

[2016-09-12 16:39] towardthesea commented on #155
To sum up, the `table height` will be checked `manually` through `rpc` command then will be stored to `OPC`!

The next thing is that should the `table height` be read programmatically and/or through `ini` file? What are your opinion?

If we go for the first option, I am not sure if we can use `OPC` class (`WYSIWYD` way) as we use for other `object`, because the `table` has only `table_height` para

[2016-09-12 16:44] Tobias-Fischer commented on #155
Hi @towardthesea,
I would add a `SubARE` within `SubSystem_KARMA` (similar to `SubABM` and `SubATT`). Then, use the `getTableHeight()` method to get the table height from `ARE`.
I am not sure whether the table height is really stored in the `OPC` or in a `ini` file.

Best, Tobi

[2016-09-12 17:54] pattacini commented on #155
`ARE` has two concurrent ways to store the `table height` information and retrieve it back at start-up:

1. In `OPC` by connecting `/actionsRenderingEngine/OPC:io` to `/OPC/rpc`. However, as you have already figured out, the format used by `ARE` here is not `wrdac` compatible. If `wrdac` will ignore data with unknown format we could go the whole hog, but I'm afraid it's likely not the case, since

[2016-09-16 07:55] pattacini commented on #155
Can this be closed?

[2016-09-16 08:17] Tobias-Fischer commented on #155
I prefer to see the PR merged first :)

[2016-09-16 08:19] Tobias-Fischer commented on #44
Closing this issue, it's been integrated. We'll see how to demonstrate it in the demo.

[2016-09-16 08:19] #44 closed

[2016-09-16 08:20] Tobias-Fischer commented on #42
I don't think anyone is planning to show this. Closing.

[2016-09-16 08:20] #42 closed

[2016-09-19 22:35] towardthesea commented on #155
I think we can close this issue also!
Please kindly open it again if you find problem in the calibration with `KARMA subSystem`!

[2016-09-19 22:35] #155 closed

[2016-10-02 11:24] pattacini opened #162 "Object recognition problem with himrep"
@dcam0050 is having the following recognition problem:

`himrep` keeps saying:
[code]
And once connected to `iol2opc` says this:
[code]
After which, `iol2opc` keeps sending:
[code]
to which `himrep` replies:
[code]

[2016-10-02 17:26] pattacini commented on #162
Hi @dcam0050,

`himrepClassifier` connects to `OPC` only within the `IOL` settings, not within WYSIWYD scenario.

In our case, instead, `himrepClassifier` functions as a _man-in-the-middle_ between `iol2opc` and `linearClassifierModule`, to which it forwards the requests received from `iol2opc` giving back the replies: see for example this [**code**](https://github.com/robotology/iol/blob/master/s

[2016-10-03 08:34] Tobias-Fischer commented on #162
I might have an idea. It seems like `iol2opc` does not send any objects to `himrep` to classify. @dcam0050 told me that `lbpExtractor` does detect objects though; so I assume that `blobExtractor.read(false)` (L128 module.cpp) returns something (please confirm @dcam0050).
Thus I reckon that the x/y-bounds are wrongly setup in the `config.ini`, which causes `skimBlobs` to not add the blobs to `skimm

[2016-10-03 08:34] Tobias-Fischer commented on #145
Any news on this @clement-moulin-frier? Otherwise will close as `wontfix`.

[2016-10-03 08:35] Tobias-Fischer commented on #120
@gregoire-pointeau @dcam0050 did you ever talk about this again? Do you think this will happen before the end of the year? Otherwise will close as `wontfix`.

[2016-10-03 08:36] Tobias-Fischer commented on #51
Closing as `wontfix`, let be know if there are any objections.

[2016-10-03 08:36] #51 closed

[2016-10-03 08:38] gregoire-pointeau commented on #120
We talked about sending all open class word from `LRH` to `SAM` but I guess the dictionary won't be set before the end of the year, we can close it I guess.

[2016-10-03 08:38] #120 closed

[2016-10-03 14:32] dcam0050 commented on #162
I found out yesterday that there was another problem that was causing iol2opc to crash but stay open. When sending a `[clas]` command, not all return paths made sure there was something present in the bottle that was being sent as a reply and as a consequence iol2opc would report a yarp bottle read failure and get stuck there.

@Tobias-Fischer I will be trying the code out now. Because iol2opc pla

[2016-10-03 14:34] dcam0050 commented on #162
@pattacini Yes linearClassifierModule starts out with a missing IOL2OPC directory

[2016-10-03 14:49] dcam0050 commented on #162
@Tobias-Fischer The values I am using for `skim_blobs_x_bounds` and `skim_blobs_y_bounds` are the default values that come with the iol2opc `config.ini`

[code]

[2016-10-03 15:11] dcam0050 commented on #162
@Tobias-Fischer This is part of the log after I did the change you proposed:

When a blob is actually received the parameters of the blob are sent to `himrep` with a `[clas]` command. But most of the `[clas]` commands being sent are still empty.

Does this affect the recognition of the object?

[code]

[2016-10-03 15:20] Tobias-Fischer commented on #162
Well ` [WARNING]get3DPosition failed` gives a pretty good hint. Are you sure SFM is working fine? Can you try sending `Rect 147 117 7 7 2` as well as `Point 150 120` to `/SFM/rpc` and report the replies?

[2016-10-03 16:15] dcam0050 commented on #162
Yes I currently have a big problem with `SFM`. I thought it was OK because when I tested the disparity map, I did it with the iCub looking head on which looked really good but as soon as I `home all` with `ARE` almost the whole disparity map turns black. So now I'm trying to recalibrate but no success. I've had 2 questions come up:

When you perform `stereoCalib`, should the eye vergence be at 5de

[2016-10-03 16:25] Tobias-Fischer commented on #162
1) I think at 5deg, but @pattacini please confirm
2) Yes! I think this is nowhere documented, but I'm 99% sure that `camCalib` and `SFM` should run on the same machine. @pattacini shall we document this somewhere?

[2016-10-03 16:51] pattacini commented on #162
1) It depends. The only important point is that you launch `ARE` with the same vergence used for calibration. We usually use `5 deg`.

2) `camCalib` and `SFM` can run everywhere. We in fact launch them on separate machines.

[2016-10-03 16:53] pattacini commented on #162
I think @Tobias-Fischer is definitely right: there must be a stereo problem with your robot which prevents from inserting objects in the database.

@dcam0050 could you please open a PR. I won't go through the code you posted for obvious reasons :smile:

[2016-10-03 17:28] dcam0050 commented on #162
@pattacini are the separate machines you mentioned connected via the same .local filesystem though? Because I'm running `SFM` on the cuda machine and `camCalib` on the laptop and they don't share the .local filesystem. Regarding himrep I will open a PR.

[2016-10-03 17:53] pattacini commented on #162
Well, `SFM` needs to access intrinsic camera parameters provided by `camCalib` during calibration, this is somehow understood: it's even not the only module requiring that file (e.g. `iKinGazeCtrl` needs it too). Along the same line, if you want to launch WYSIWYD suite part on the laptop and part on the cluster, again, they have to retrieve the same information.

My considerations above were beyon

[2016-10-03 18:02] Tobias-Fischer commented on #162
Hi @pattacini, it might be well understood for you guys, but for people new to the iCub this fact might not be too obvious ;-).

[2016-10-03 18:10] pattacini commented on #162
I can see your point @Tobias-Fischer but this is a general approach to the eco-system, it's not related to `SFM` + `camCalib` only, hence also suggesting to run both on the same machine is not totally correct in my opinion.

[2016-10-03 18:17] pattacini commented on #162
What I wanted to pointed out is that if you connect a laptop to a properly configured cluster (meaning its machines share the `.local\share\yarp` thing plus other stuff), then you really need to be careful because you could come across downsides like the one above.

I gave this for granted, but it could be worth putting this info somewhere in the WYSIWYD instructions.

[2016-10-03 18:32] dcam0050 commented on #162
I agree with @Tobias-Fischer here because I'm just finding this out after a year and a half ... might actually explain a lot of the weird behaviour that we see here in Sheffield

[2016-10-03 20:37] dcam0050 commented on #162
Ok so after configuring all computers to have the same shared .local files, SFM calibrated immediately and it's a great disparity map ... also I had previously noted that lbpExtract and iol2opc seemed to operate independently with iol2opc sending an empty `[clas]` command in between receiving blob information. That is also gone. The issue now is that after an amount of `[clas] (blob_x(a b c d))`,

[2016-10-04 09:10] dcam0050 commented on #162
So yesterday I did not manage to compile caffe master with opencv 3.1 so I compiled both `caffe` and `caffeCoder` with opencv 2.4.12 and it compiles but when using it together with iol2opc I get strange behaviour. `/viewer/iol/histogram` stops displaying the blob it is currently classifying when `caffeCoder` has finished processing an input image. Also the `IOL2OPCDatabase` is filling up with a ne

[2016-10-04 17:27] Tobias-Fischer commented on #162
Did you try deleting the `IOL2OPCDatabase` folder? Also, can you record a video with the different module outputs visible so it's easier to understand for us what's going on?

[2016-10-04 17:39] pattacini commented on #162
I was thinking to arrange for a remote chat session, but I'm afraid I'll be available only in two days during IFI...

[2016-10-05 15:18] jypuigbo opened #163 "Adding a waypoint for homing after push actions"
It would be safer to have an intermediate waypoint for going to `home` position after a push action.
Maybe @towardthesea could help on that?

The changes for this behavior are being made in the branch `feature/upf/pushBehaviors`.

[2016-10-05 15:33] dcam0050 commented on #162
@Tobias-Fischer I'll be recording a video today

@pattacini What are the dates you are available in? My timetable is pretty flexible right now

[2016-10-05 15:48] pattacini commented on #162
Don't know yet with the necessary precision. Perhaps tomorrow.

Btw, may I ask you what catastrophic event happened to your system? 😄
I remember object recognition was perfectly working in Sheffield.

[2016-10-06 09:58] dcam0050 commented on #162
@ugo Updates happened haha

Ok so I figured out what went wrong.

1) Initially iol2opc was freezing up which led me to modify the himrepClassifier to return something with every return which resulted in iol2opc not freezing up so I thought it was progress.

2) Then I learned about the requirement for a common .local directory which fixed SFM and seemed to sync blobs arriving from lbpExtract with [

[2016-10-06 10:00] dcam0050 commented on #162
Previously it was working 'fine' in Sheffield even though I did not have a shared .local folder because I had initially configured the system to share both .local and /usr/local/src/robot but I then removed the linking on both so I had .local files which were a copy of when they were configured together

[2016-10-06 12:37] pattacini commented on #162
Ok... happy to know that this big problem just deflated. I was started to be scared about that 😄

[2016-10-06 12:37] #162 closed

[2016-10-07 08:51] towardthesea commented on #163
Hi @jypuigbo, @sockchinglow
A new method was added to `subSystem_KARMA` to return robot arm after any push actions (but before home call). It was tested in IIT without any problem.
Could you please check it with `behaviorManager`! Then we can make a PR!

Cheers,
Phuong

[2016-10-22 13:35] #145 closed

[2016-10-26 15:01] towardthesea opened #165 "Fork KARMA into newKARMA and modify to provide function of changing the hand configuration function"
There are 2 main tasks related to this issue:
- Consider `tool` actions and replace/remove it if not necessary for WYSIWYD
- Provide a new function to change the hand configuration: rotate the hand, control the fingers, form the pull configuration

[2016-10-27 12:37] Tobias-Fischer commented on #163
Was this tested in the meantime? Can we merge?

[2016-10-27 12:40] Tobias-Fischer commented on #140
@maxime-petit and @hjchang have been working on this recently, and did good progress. We're now able to get the correspondences not only between selfimage-otherimage (year 2 demo), but also between selfjoint-selfimage, which allows us to get the selfjoint-otherimage (and vice versa). We're currently agreeing on a good format to store these correspondences. Also, we have to think about how to best

[2016-10-27 12:42] Tobias-Fischer commented on #45
@dcam0050 did you work on this?
@hjchang @maxime-petit can we use the "abnormality" detection of object use we discussed the other day?

[2016-10-27 12:42] Tobias-Fischer commented on #124
@clement-moulin-frier Will this happen? Otherwise we might consider closing this.

[2016-10-27 12:43] Tobias-Fischer commented on #125
@clement-moulin-frier @jypuigbo How far are you guys with this issue?

[2016-10-28 07:42] towardthesea commented on #163
@Tobias-Fischer I tested in IIT but still waiting the full test of UPF with behaviorManager. Should we wait?

[2016-10-28 08:52] clement-moulin-frier commented on #124
Let's close it for the time being then, we'll reopen it if needed

[2016-10-28 08:52] #124 closed

[2016-10-28 08:54] clement-moulin-frier commented on #125
It's done but we still have to adapt a few behaviors of the Y2 demo to deal with the new architecture. We are on it. (a few issues to solve before, as explained during the last slack meeting).

[2016-10-28 08:56] clement-moulin-frier commented on #145
Sorry I missed this one. I tried but no success. Certainly possible though if more time to allow on it.

[2016-11-07 14:15] Tobias-Fischer opened #166 "Perspective taking / reachable area demonstration"
After the integration of the perspective taking module at the last integration meeting in Barcelona, we must now decide how to demonstrate this module in the common demo.
@maxime-petit and I spoke about it, and the neatest way seems to be increasing the saliency of an object which is hidden to the human. Then, when expressing knowledge, the robot prefers talking about this object, and can say "Do

[2016-11-09 09:54] towardthesea opened #167 "Add parameters in conf file of `subSystem_KARMA` to modify the position of the `prepare` action"
Current `prepare` method in `subSystem_KARMA` brings both robot's arms to `hand-up` pose. The purpose of this issue is to solve the problem by providing the ability to tune this pose through config files. This issue will:
- Modify the `prepare` action to cope with parameters in config files
- Change `related` config files.

[2016-11-10 08:51] clement-moulin-frier commented on #163
Hi,

Sorry guys we have been delayed a lot these last weeks. The rush is ending tomorrow, so Monday we test it sure (our iCub is working fine now).

Clément

[2016-11-10 08:53] pattacini commented on #163
Hi @clement-moulin-frier,

Then, do you have any news on https://github.com/robotology/icub-support/issues/321?

[2016-11-14 11:01] jypuigbo commented on #163
It is solved!

[2016-11-14 11:05] pattacini commented on #163
Thanks!

[2016-11-15 09:05] Tobias-Fischer commented on #163
Does that mean you tested this and we can close the issue @jypuigbo?
To be honest, I am still not sure whether this issue exists just to test something which is already in `devel`, or test something in another branch which still needs to be merged into `devel`. Could you please let me know @towardthesea?

[2016-11-15 15:20] clement-moulin-frier commented on #163
Hi,

We are testing the push behaviors now.
@towardthesea : to do so, do you confirm we have to run the modules in `main/src/examples/KARMAiCubClientExample/KARMAiCubClientExample.xml`?
from the branch `feature/upf/pushBehaviors`

[2016-11-15 17:58] sockchinglow opened #168 "KARMA application in WYSIWYD demo"
We have managed to test the `KARMA` behaviours and have found the following problems that need to be resolved before it can be run as part of the demo:

- Both `PushingRight` and `PushingLeft` creates a scooping behaviour rather than a horizontal movement. This might be because the wrist joint angle is fixed and the only way to move from the start to end point is to execute that movement. Needless

[2016-11-15 18:01] Tobias-Fischer commented on #168
Can we try summarizing all `KARMA` related issues within one issue? So far, we have four: this one, https://github.com/robotology/wysiwyd/issues/167, https://github.com/robotology/wysiwyd/issues/165 and https://github.com/robotology/wysiwyd/issues/163

[2016-11-15 18:08] sockchinglow commented on #163
@towardthesea we did not see any further problems with this during the test. Thanks!

[2016-11-15 18:08] #163 closed

[2016-11-15 18:09] sockchinglow commented on #168
@Tobias-Fischer the issues are not directly related except for #163 (which we have just resolved). The others are more on how to tune `KARMA` to fit the demo.

[2016-11-16 16:20] towardthesea commented on #165
All mentioned goals of this issues are solved by new features (updated by the latest push https://github.com/towardthesea/karmaWYSIWYD/commit/a1c64f4f805d9a41ec36be3427512bef7177c98c)  of the forked `karmaWYSIWYD` (https://github.com/towardthesea/karmaWysiwyd)
So I close this issue here.

[2016-11-16 16:20] #165 closed

[2016-11-16 16:41] towardthesea commented on #168
Hi @sockchinglow , thanks for updates. I have some questions to make your points clearer:
  1. Have you tried to run `subSystem_KARMA` with newest update of the branch (I made a `push` on Friday afternoon)?
  2. Have you checked the `table height` and does the `height` make sense?
  3. Can you explain your meaning of `scooping behavior`: It is better to understand with short videos (or similar) of

[2016-11-16 17:17] sockchinglow commented on #168
Hi @towardthesea, thanks for the response.

1. The files were built from what was on github yesterday, so I guess it's the newest version of `subSystem_KARMA`.
2. The `table height` was correct. The other actions were working fine in terms of height.
3. When moving from the starting point, the height of the hand moves downwards and then back upwards to the specified height when it reaches the endi

[2016-11-16 19:18] towardthesea opened #170 "Migrate from `karma` to new `karmaWYSIWYD`"
This issue is opened to provide a (painless) manual to migrate from original version of `karma` to new version, named `karmaWYSIWYD`.

**Where to get new version**
The modified forked version of `karma` is currently maintained in this repository: https://github.com/towardthesea/karmaWysiwyd.

**How to build it**
You can simply compile it as you did with original `karma`. There is no new special re

[2016-11-16 19:20] towardthesea commented on #168
As I promised, the new issue https://github.com/robotology/wysiwyd/issues/170 was created to introduce the new version of `karma`, named `karmaWYSIWYD`.

[2016-11-16 19:21] towardthesea commented on #170
Hi @pattacini , could you please kindly have a look.
Thanks!

[2016-11-17 00:31] towardthesea commented on #168
Hi @sockchinglow , to be clear I will firstly describe what will happen when users call `push` action (including `left`, `right` and `front`) and `pull` action from `karma`:

**push** from `x0` to `x1`
  - move to `x0'` higher than `x0` an offset (currently set at 0.1m)
  - move down to `x0`
  - move to `x1`
  - come back to `x0`
  - move up 0.05m (new update provided by `subSystem_KARMA` from `UP

[2016-11-17 08:05] pattacini commented on #170
It seems fine, thanks @towardthesea

cc @sockchinglow @clement-moulin-frier @jypuigbo

[2016-11-17 08:53] Tobias-Fischer commented on #170
Hi @towardthesea,
great, thanks! The only problem we have is that https://github.com/robotology/wysiwyd/tree/feature/upf/pushBehaviors is
a) unmerged
b) contains commits which introduce pushing behaviors in the `behaviorManager`, as well as changing the `subsystem_Karma`
c) is not compatible with the new `karmaWysiwyd`

To fix all of the above, I suggest to
1) remove the `prepare` method in the `p

[2016-11-17 09:41] Tobias-Fischer opened #172 "Clean up / merge branches"
Hi guys,
I think we should try and reduce the number of branches before the integration meeting. Could you please give me an update on the status of these branches?

To be merged ASAP:
- `pushBehaviors`: I think we should merge this ASAP, see https://github.com/robotology/wysiwyd/issues/170

Under active development:
- `r-4-learnPrimitive` Still under development (@maxime-petit is in charge)
- `sp

[2016-11-17 09:55] pattacini commented on #170
@Tobias-Fischer

I've already talked to @towardthesea pointing out that next time we should follow a cleaner workflow and definitely avoid using branches not under the developer's own control.

As of now @towardthesea is at Humanoids and this will prevent him from reacting quickly.
Let's see when he'll have enough time to catch up with all these points.

[2016-11-17 10:37] gregoire-pointeau commented on #172
I'll clean my branch, reset nicely the conf files, and merge it.
It should be done before the end of the week.

[2016-11-17 13:52] maxime-petit commented on #172
`joints3d-to-ks2d` that was the first initial implementation of the `jointsAwareness` module. It was replicating some code for 3d joints position without the call to the cartesianSolver method. Ugo suggested to add that to `jointsAwareness` for performance issue. At the end we sticked with the original `jointsAwareness`, so I guess we can delete it.

`r-4-learnPrimitive` is still under development

[2016-11-17 16:09] towardthesea commented on #170
Hi @Tobias-Fischer , @pattacini

Sorry for a bit delay of reply due to the time zone and conference.
1. Removing the `prepare()`: done
2. Testing the whole system: @sockchinglow could you please consider it without problem mentioned in https://github.com/robotology/wysiwyd/issues/168, because they can all be solved by adjusting `karmaWYSIWYD`. Please consider my first comment on this issue about t

[2016-11-22 21:03] clement-moulin-frier commented on #172
Hi,
Regarding `reactiveLayerEFAA`, it contains code from EFAA about allostatic control with touch and speech interaction, as well as postures and face expressions.
It doesn't compile correctly due to changes in the subsystem interfaces. We spent a few hours a few weeks ago trying to adapt the code to the new interfaces, but it was not trivial (maybe @jypuigbo  remember better than me what was the

[2016-11-22 22:20] Tobias-Fischer commented on #172
Hi, in this case I'd suggest not to merge it, but instead keep it in the separate branch. In case someone gets around to work on it, he can use the branch for it.
Is that fine with you?
Best, Tobi

[2016-11-23 15:19] Tobias-Fischer commented on #170
Can we close this as soon as #174 is merged?

[2016-11-23 15:20] Tobias-Fischer commented on #168
Can we close this (as soon as #174 is merged)? @sockchinglow?

[2016-11-23 15:20] Tobias-Fischer commented on #167
Is that addressed in #174 @towardthesea?

[2016-11-23 15:21] towardthesea commented on #167
It is solved indeed!

[2016-11-23 15:21] #167 closed

[2016-11-23 16:40] towardthesea commented on #168
#174 is merged, this should be closed then!

[2016-11-23 16:43] towardthesea commented on #170
#174 is merged. This should be closed then!

[2016-11-23 16:43] #170 closed

[2016-11-23 16:44] towardthesea commented on #168
Closed this by mistake! We should wait for testing and confirmation from UPF!
@sockchinglow please keep update asap!

[2016-11-23 18:18] sockchinglow commented on #168
@towardthesea We have just resolved another problem that we had, so we will test `karma` tomorrow. Naturally, we will keep you updated and hopefully this issue will be closed soon.

[2016-11-24 10:34] Tobias-Fischer commented on #172
I've had another look at the `states` branch and I think it can be deleted. It contains an alternative way of propagating whether an object is in the reachable/non-reachable area, however we decided to go for a solution implemented in `iol2opc` instead. Can we delete @jypuigbo?

[2016-11-24 13:10] towardthesea commented on #168
@sockchinglow this video (https://www.youtube.com/watch?v=eyz9d6KdalY&feature=youtu.be) shows how the `KARMA example` run in our iCub. Does it similar at UPF?
Btw, new `pulling` methods are added (the `KARMA example` is changed also), you guys should update the `behaviorManager`.

[2016-11-24 15:24] clement-moulin-frier commented on #170
Hi guys,

We're about to test it. Just to be sure: we just have to install the new version `karmaWYSIWYD` and all the rest remains the same, right?

[2016-11-24 15:58] towardthesea commented on #170
Hi @clement-moulin-frier , only new `karmaWYSIWYD` is required, the rest is the same. Remember to `make` and `make install`.

[2016-11-24 19:23] jypuigbo commented on #168
Hi,

we have tested the new karmaWysiwyd module.

It works better than the previous one (more precise and safe) but there are still a few issues.

- This is what we get with `KARMAexample`.
https://goo.gl/photos/8Tt3CqvvDZ21YxaY8
The main problem is for push and pull, it is quite different from the video posted by @towardthesea above. Pulling in particular is very weird.

Then, running it from the

[2016-11-24 19:28] pattacini commented on #168
@jypuigbo just a quick side note

`feature/upf/pushBehaviors` doesn't seem to contain latest commits on `karma` since it is not rebased on top of `devel`.

[2016-11-24 19:51] pattacini commented on #168
@towardthesea can you also try out the instructions posted by @jypuigbo?
Or did you already do that?

[2016-11-25 09:39] Tobias-Fischer commented on #168
@maxime-petit and I will give the `karmaExample` a try today. As soon as `feature/upf/pushBehavior` is rebased on top of `devel`, we can give it a try as well.

[2016-11-25 14:31] towardthesea commented on #168
I am checking it now @pattacini @jypuigbo !

[2016-11-25 15:11] clement-moulin-frier commented on #168
@sockchinglow :  What's the status of rebasing `pushBehaviors` on top of `devel`? Let me know if you need help doing it.

[2016-11-25 16:16] sockchinglow commented on #168
@clement-moulin-frier @towardthesea @Tobias-Fischer : Due to the internal workshop, we would probably be unable to `rebase` and test the branch by the end of today. Nonetheless, we will work on that as soon as possible.

[2016-11-27 22:11] Tobias-Fischer commented on #168
@maxime-petit let's try this tomorrow. Our robot was on strike on Friday .. it didn't wanna start due to our random torso problems. Let's hope he'll behave tomorrow.

[2016-11-28 10:36] Tobias-Fischer commented on #137
Hi @gregoire-pointeau,
was this included in your pull request? If not, will you be working on it, or shall we close this issue?

[2016-11-28 10:37] Tobias-Fischer commented on #125
Hey @clement-moulin-frier,
what's the status on this?

[2016-11-28 10:37] Tobias-Fischer commented on #138
Any news on this @clement-moulin-frier @gregoire-pointeau?

[2016-11-28 10:38] gregoire-pointeau commented on #137
The comprehension/producation system now handle this kind of sentences (as you could see in the videos).
However for now it just segment the sentences, we don't forward meanings for example.
But technically speaking, `lrh` understand and produce these sentences.

[2016-11-28 10:40] gregoire-pointeau commented on #138
As I said in #137 We understand and produce complex sentences.
I'll see to push it into ears to create the goals.

[2016-11-28 11:21] clement-moulin-frier commented on #125
This is done in the planner, we can close

[2016-11-28 11:21] #125 closed

[2016-11-28 14:08] jypuigbo commented on #172
@Tobias-Fischer I'm checking it today and I let you know.

[2016-11-28 15:16] clement-moulin-frier commented on #138
@gregoire-pointeau : let's discuss here what the best way of sending goals, together with @sockchinglow and @jypuigbo (sending it to `ears` might not be the best solution since how we handle action plans has changed a bit). Can you please tell us what is the format of the meaning created by `lrh` on such complex sentences?

[2016-11-28 16:25] jypuigbo commented on #168
Update from upf after testing again post-rebaseing `devel`:
- `PullingBack` has been added as a behavior and the code in all behaviors has been cleaned in all others.
- `PullingBack` and `PushingFront` behaviors now work quite well.
- `PushingRight/Left` try to cross the table when moving (see video below)
- All: They seem to be using the wrist to push/pull the objects, what makes it more suscepti

[2016-11-28 17:40] towardthesea commented on #168
@jypuigbo Could you declare the condition of the two videos? I cannot analyse without knowing the scenario.

Your above conclusion is not clear for me :)

[2016-11-29 09:31] sockchinglow commented on #168
@towardthesea `Table crossing` is when the iCub uses the right hand to push an object on its left, instead of using the left hand. `Wrist pushing` shows how the iCub uses the position of its wrist as the end effector instead of its palm/fingers to push objects. In other words, instead of using its palm to push things, it uses its wrist. This means that the "correct position" is offset by the dista

[2016-11-29 10:00] towardthesea commented on #168
Hi @sockchinglow @jypuigbo ,

By default, `karma` will choose the arm to conduct the action by itself if user doesn't define any arm to use. In particular, if the object on the `left side` wrt the x-axis, robot will use the `left arm` to push the object, then depending on the action, i.e `pushingLeft` or `pushingRight`, the `table crossing` happens. For this case, it is for `pushingRight`. So, if

[2016-11-29 10:08] pattacini commented on #168
I've got a rough idea of what might be happening that could potentially explain the so-called "_table crossing_". It has something to do with the distance between the starting and ending point of the push action. If that's too long, then the swing might end up being too curved.

I'd kind of have a workaround for this, but since it's not of an easy implementation, we should consider the "dimensions

[2016-11-29 11:14] jypuigbo commented on #168
@towardthesea Yes, I understand that not everything can/must be considered from the design point of view and much will be done from the user point of view. From my side, I was just stating what were the issues I was finding, to check that they made sense and we were not doing anything wrong from our side. In this regard, we just tested the predefined behaviors with the predefined positions while t

[2016-11-29 17:40] jypuigbo commented on #168
Just in case it was not clear, to reproduce the wrist-pushing issue these are the exact steps:
- Installing the karma fork as explained by @towardthesea  above
- switching to the branch `feature/upf/pushBehavior`
- running `karmaMotor`
- run `opcPopulater` and send `populateSpecific3` to `/opcPopulater/rpc` (`IOL` can be used instead, but the issue is not clearly seen, then)
- `OPC` and `ABM` (can

[2016-11-29 18:47] jypuigbo commented on #172
@Tobias-Fischer I't keep it by know, just temporarily. Because, do you think it's important to adapt the code you added in the `wrdac/knowledge` and `iol2opc` to have the kind of area definition I included in the branch `feature/upf/states` ? As a trade off, it increases flexibility for defining new setups, but reduces efficiency (see `app/reactiveLayer/sensationManager/conf/default.ini` and `OpcS

[2016-11-30 14:14] Tobias-Fischer commented on #168
Hi guys, @maxime-petit and I finally got around trying this. We have only tried the `KARMAiCubClientExample` however, and not the integration with `behaviorManager` (we can do this after @pattacini and @towardthesea tried this and if needed).
It works nicely on our robot. I guess the next step for @towardthesea and @pattacini is to try whether it actually works with objects as perceived by `iol2op

[2016-11-30 14:18] Tobias-Fischer commented on #172
@jypuigbo okay thanks. Let's keep it then.

[2016-11-30 14:20] Tobias-Fischer commented on #172
Closing here as only one branch is left to be merged before the integration meeting.

[2016-11-30 14:20] #172 closed

[2016-12-01 10:40] towardthesea commented on #168
Hi guys,

The new merged `PR` of `karmaWYSIWYD` (https://github.com/towardthesea/karmaWYSIWYD/pull/1) basically introduce a solution for the `curved movement` during `pushing`. Please kindly update your `karmaWYSIWYD` and test it if you can.

Please also consider the `reachable region` problem of iCub for any further tests, e.g `behaviorManager`, my suggestion is not farther than (-0.3, -0.2) on t

[2016-12-01 12:20] pattacini commented on #168
Let's keep this open until we'll test `karmaWYSIWYD` along with `IOL`.

[2016-12-05 09:41] Tobias-Fischer commented on #139
Hey @clement-moulin-frier @matejhof @towardthesea @jypuigbo,
Do you think this will happen, or shall we close this issue?
Best, Tobi

[2016-12-05 09:42] Tobias-Fischer commented on #140
Just an update: We're still on this, and hope to have something by the end of the project.

[2016-12-05 09:46] Tobias-Fischer commented on #166
Update on this: We thought a nice way of demonstrating the perspective taking knowledge is estimating the reachability of the human. This will be done by using the forward models learned by @martz21 on the robot, then finding the kinematic structure correspondences by @hjchang, and finally doing the mental rotation using my perspective taking module. We'll do this in a probabilistic manner, where

[2016-12-05 10:20] pattacini opened #178 "Fix AppVeyor CI"
Reminder to fix `AppVeyor` CI.

[2016-12-05 10:25] maxime-petit commented on #166
Yop!

Just as a small details: the triggering of the demonstration before the demo might actually not be from knowledge expression (even if we can potentially trigger it like this) in order to "be in control". Unless it is the only knowledge the robot knows (and pre-setting the drive to have knowledge expression first) it is not guarantee to be triggered.

./Max

[2016-12-05 10:38] sockchinglow commented on #166
For the Y3 tabletop scenario, the current definitions for reachable zones of the human and the iCub are somewhat arbitrarily set. If we are able to integrate this perspective taking into the `sensationManager`, it is possible to define the reachable area of the human based on the real-time position of the human partner instead. This could be shown by the human moving around the table (to a certain

[2016-12-05 10:57] Tobias-Fischer commented on #166
@sockchinglow Yes that would be the ideal :+1:

[2016-12-06 08:05] towardthesea commented on #139
Hi @tobias-fischer
We are working on it, so keep in open please :smile:

Cheers,
Phuong

[2016-12-06 17:16] Tobias-Fischer commented on #178
Seems like this is fixed (either @pattacini did some magic, or it decided to work by itself randomly). Shall we close @pattacini?

[2016-12-07 07:18] pattacini commented on #178
Actually, I didn't do any magic 😮
Perhaps AppVeyor was lazy ans stuck on its own...

Closing.

[2016-12-07 07:18] #178 closed

[2016-12-07 10:40] Tobias-Fischer commented on #168
Shall we merge your branch then so we can close this issue? :)

[2016-12-07 22:20] matejhof commented on #139
I have just updated a google document summarizing the status: [Peripersonal space with drives and object values](https://docs.google.com/document/d/16pNZ_TEBOpxTNfcx2P1TG4xG3sfckuuIT_1i65r58qA/edit?usp=sharing)

There are 3 possibilities:
1. Margin of safety expansion/shrinking as a whole such as responding to overall state of the agent (e.g. more cautious or more stressed -> expanding the whole P

[2016-12-08 18:19] pattacini commented on #168
Closing upon #180.

[2016-12-08 18:19] #168 closed

[2016-12-08 20:20] pattacini commented on #139
Thanks @matejhof
We'll discuss this tomorrow and let you know.

[2016-12-09 15:32] jypuigbo commented on #139
Hi @matejhof !
We've discussing a bit and what could be interesting to do and we suggest a mix of 2 and 3:
- The robot tries to interact with an object
- The human hand (from kinect, neutral value, obstacle) interferes
  - Negative value of human hand increases
- The robot keeps trying and the human keeps stopping it
  - Negative value of the hand increases again, and PPS keeps expanding because o

[2016-12-09 17:55] towardthesea commented on #139
Only providing more information for a feasible scenario:
 - Robot retrieves objects from `iol` and `opc`, then plans to reach the `target` while avoid other `obstacles`, including static objects and human's hands
 - After planning, robot tries to follow the `plan` then can be interfered by human's hands moving into it path. Thus makes robot modify the path (thanks to the `PPS` and `reactControl`)

[2016-12-09 21:35] matejhof commented on #139
Makes sense I think! Will be a nice addition with the kinect to track human hands.

As you two probably already now, but just to clarify for everyone, the extent of the PPS is fixed (we're newly using 45 cm with @towardthesea - not sure which representation you're currently using, the old learned files in the repo had only 20 cm and were from skin V1), what is modulated are the activations. These

[2016-12-11 15:34] Tobias-Fischer opened #189 "Allostatic plot: Triggered drive does not show"
After the recent change in allostatic plot (https://github.com/robotology/wysiwyd/commit/fd05f8f3947eb4859cad8a41506ba3bd8fea54b6), the rectangles with the triggered drive names do not show up properly anymore.

[2016-12-11 16:07] Tobias-Fischer commented on #189
This is now partly fixed. It's scrolling correctly, however only one triggered behavior can be shown. If a second one happens while the other one is still displayed, it stops scrolling.

[2016-12-11 16:18] Tobias-Fischer commented on #189
All done. Now it's up to you to delete plot items if they are not visible anymore.

[2016-12-13 10:49] Tobias-Fischer opened #194 "Allow iCub pointing to object / body part somewhere in 3D space"
Hi,
We guys at Imperial (especially @hjchang) want to be able to have the iCub pointing to the humans body parts. More generally, you could think of having the iCub point anywhere in the space. The three points of elbow, hand, and object should be in a straight line.
Unfortunately, the `point()` provided by `ARE` is not suitable for this task (as the hand is always parallel to the ground).
@pattac

[2016-12-13 11:09] pattacini commented on #194
Further considerations:

- We can **block wrist joints** to `(0.0 0.0)`
- We can play with the **angle between the forearm and the arm** to handle the last degree of freedom

[2016-12-14 10:50] #189 closed

[2016-12-14 11:21] Tobias-Fischer commented on #194
@jypuigbo created a branch to add bodyparts with known kinect node to the sensation manager:
https://github.com/robotology/wysiwyd/tree/feature/sensationPointBodypart

Thanks!

[2016-12-14 15:29] Tobias-Fischer commented on #138
Hi @gregoire-pointeau @clement-moulin-frier, what shall we do with this issue?

[2016-12-14 15:30] Tobias-Fischer commented on #137
Hi @gregoire-pointeau, can we close this issue?

[2016-12-14 17:02] gregoire-pointeau commented on #137
Yes

[2016-12-14 17:02] #137 closed

[2016-12-14 17:09] clement-moulin-frier commented on #138
If the robot is able to talk about goal execution through action plan I think it is sufficient. It will actually already be bidirectional, since we can also trigger an action plan through language (even if we can't refine an action plan through language, but it's fine I think).
@gregoire-pointeau : is the robot now able to describe the action plan that just happened? If so we can close I think

[2016-12-15 12:36] Tobias-Fischer commented on #140
This is mostly done. As soon as @pattacini will have finished the work on the pointing to 3D space (https://github.com/robotology/wysiwyd/issues/194), we'll be able to merge the work by @jypuigbo in https://github.com/robotology/wysiwyd/tree/feature/sensationPointBodypart - and then it's just a matter of changing the `iCubClient` to either call the `ARE->point()` or the `Pattacini->point()` depend

[2016-12-15 13:08] clement-moulin-frier opened #205 "SAMErrors"
Hi @dcam0050

We are running the demo and we found the error in the attached file.
[SAMERROR.txt](https://github.com/robotology/wysiwyd/files/654701/SAMERROR.txt)

Thanks

[2016-12-15 13:45] Tobias-Fischer commented on #166
Update on this: there is a PR which supports getting the reachable area. For now, it is the bounds defined in `iol2opc`. I am afraid that any self-learned reachable area will be too fragile, as the bounds between the different areas are very, very small due to the constraints given by the small area of the robot in terms of pulling on the one side, and perception on the other side. Therefore, I su

[2016-12-15 13:47] Tobias-Fischer commented on #205
Also, action recognition did not work (it never replied, and it opened a new window when sending the recognition order). @dcam0050 please be in touch with the guys from UPF such that the action + face recognition works nicely for the review. We can't afford not getting a reply from SAM. There should be a hard timeout of 10 seconds or so; if it can't load the model in this time, it should reply "na

[2016-12-20 10:54] Tobias-Fischer commented on #194
One thing which we make want to take into consideration as well is the `table_height` as defined by `ARE` ...

[2016-12-21 15:17] Tobias-Fischer commented on #205
Also a pointer that `pip install tables` is needed is missing.

[2016-12-23 13:03] dcam0050 commented on #205
The last commit should have fixed the mentioned issues. I've also added a logging function that will capture all exceptions and writes them to a log file within the data folder specified in default.ini. Also the non responsive countdown does not apply to models that are being loaded right now so they can take as much time as needed without the risk of being restarted continuously. Hope this makes

[2017-01-05 09:44] Tobias-Fischer commented on #205
Hi @clement-moulin-frier @jypuigbo,
Can you please try whether SAM is working fine in Barcelona with the latest changes? In this case, we can close this issue.

[2017-01-05 09:48] Tobias-Fischer commented on #139
Hey @matejhof @towardthesea @jypuigbo,
Just checking how this is going ahead. Is it still planned to show this in the demo?

Best,
Tobi

[2017-01-05 09:50] Tobias-Fischer commented on #45
Closing this as no one seems to work on this.
/cc @hjchang @dcam0050 @clement-moulin-frier

[2017-01-05 09:50] #45 closed

[2017-01-05 10:10] pattacini commented on #139
This has become a kind of very last moment integration, because of the difficulties and the complexity of replacing the current motor pipeline (karma) with the new reactive layer that can speak to PPS. It was all expected though 😉

@towardthesea will be on it during this month, let's see how it goes. Probably we'll be able to show results from a first implementation.

[2017-01-06 13:52] towardthesea commented on #139
Some very first results of integration and testing give us some hopes :smile:

[2017-01-08 21:43] towardthesea commented on #139
Hi @jypuigbo, I wonder if your modules, which modulates `stress value` of object, i.e negative, positive and neutral, does provide any `rpc commands` for user to manipulate it. I would like to change the `stress level` manually to see the effect on `PPS` and `robot behavior` consequently.
If you can, please provide me as detailed as possible.

Thanks 😄

[2017-01-09 11:22] Tobias-Fischer commented on #139
Hi @towardthesea,
The code is in wysiwyd/src/modules/reactivelayer/sensationManager/opcSensation.cpp, lines 186-200. You can change the value where it says `right_hand.addDouble(-0.5);    //Currently hardcoded threat. Make adaptive`. Maybe @jypuigbo can add an RPC command to make it adaptive :)

[2017-01-09 11:54] towardthesea commented on #139
Thanks @Tobias-Fischer
I saw those lines but rpc command is much easier to run :smile:
Hope @jypuigbo can provide a better solution :smile:

[2017-01-09 12:20] jypuigbo commented on #139
Hi @towardthesea ,

What @Tobias-Fischer was pointing to is to change the value. The value of an object is currently hardcoded and you can see changes in the PPS depending on the **position** of the object, instead of changing the value itself.

In contrast, the stress level depends on the allostatic controller drives. You can run it with any drive (I suggest running the reactive layer (`Sensation

[2017-01-12 14:36] Tobias-Fischer commented on #194
@pattacini: Just a quick reminder :)

[2017-01-12 15:20] pattacini commented on #194
Yeah 😉 I've planned to start working this out from this weekend.
Keep you informed.

[2017-01-12 15:32] Tobias-Fischer commented on #194
Great, thanks a lot :)

[2017-01-18 15:23] clement-moulin-frier opened #210 "Fix bugs in the planner"
Cc @sockchinglow @jypuigbo

The planner module is still not behaving as expected in some situations. The following problems sometime occur:

- When a drive is close to the threshold and the human give an order, the execution of the plan and of the drive-related behavior can be mixed together (e.g. 1st action of the plan, then drive-related behavior, then 2nd action of the plan). A temporary soluti

[2017-01-19 22:07] pattacini commented on #194
Hi @Tobias-Fischer

The new pointing is implemented as per https://github.com/robotology/icub-main/pull/413.

What is still missing is to expose it from within `wysiwyd::wrdac::SubSystem_ARE`. Could you do that? I'll be busy with other issues next days, while hoping the new feature will be working always fine...

[2017-01-20 09:04] Tobias-Fischer commented on #194
Thanks a lot! We'll give it a try in the next few days. No worries about the `SubSystem`, I'll do that.
Best, Tobi

[2017-01-20 09:07] Tobias-Fischer commented on #194
@hjchang Are you free on Monday? Let's try this.

[2017-01-25 09:13] towardthesea commented on #139
Hi @Tobias-Fischer
For the hand detection from the `Kinect`, is it consistent for occluded case, e.g the human 's hand is covered by the icub 's hand?

[2017-01-25 09:38] Tobias-Fischer commented on #139
Hi, what do you mean by "consistent"? The Kinect will do some kind of estimation, but I have no idea how accurate the estimates are in case of occlusions :(. It's best to try for the cases you're interested in. Keep in mind that a random forest is used (at least as far as I know), so there is no guarantee for the same output given the same input.
Let me know if that answers your question ..

Best,

[2017-01-25 10:53] towardthesea commented on #139
For the `consistent` I meant that if the human hand can disappear (in `OPC`) when being occluded by the robot hand.
However your concern of `random forest` somehow answers my question.

Thanks!

[2017-01-25 11:44] matejhof commented on #139
Without knowing the details, it seems likely that under occlusion the hand will go undetected eventually. However, since the `react-controller` is using both visual (from PPS) and tactile (directly from the skin) information, we could think of demonstrating exactly this. The hand would get occluded and lost from Kinect - OPC - PPS, then it will touch the skin, and here the next layer will kick in

[2017-01-25 11:47] matejhof commented on #139
btw., guys, thanks to @towardthesea, the documentation of PPS with drives has started here: https://github.com/robotology/wysiwyd/wiki/Peripersonal-space-and-modulation-by-drives-and-object-valence
Please use it and expand it! @jypuigbo in particular I guess.

[2017-01-25 15:45] clement-moulin-frier opened #212 "When asking to point an unknown object, the robot repeats 3 times the same thing."
When asking to point an unknown object, the robot says sonthing like:

"I cannot execute the plan because the object is not known and not present and not known and not present and not known and not present".

@sockchinglow knows how to solve it

[2017-01-25 15:47] jypuigbo commented on #212
The issue has been tracked to planner.
Log from planner:
[code]

[2017-01-25 15:50] sockchinglow commented on #210
Repetitive error message describing the failure to execute a plan is addressed in #212

[2017-01-25 18:04] sockchinglow commented on #210
Occasionally, within the time for a command to be processed and sent to the `planner`, the `allostaticController` starts another behaviour in the `behaviorManager` based on the internal drive dynamics. This causes the `planner` to send the command to the `BM` and receiving a `nack` response. As this response was included in the attempt count, which has a limit of 3, the planner interjects the ongo

[2017-01-25 18:50] clement-moulin-frier commented on #210
We still need to check and test it on the robot though, we'll do it tomorrow Thursday

[2017-01-26 08:51] Tobias-Fischer commented on #210
So what does that mean for the plan to be executed though? Say the plan consists of behaviors B1 and B2 (e.g. B1: Ask human to push the object to shared area, B2: Pull object). The `planner` sends the command for B1 to `BM` which is successfully executed. Now `allostaticController` kicks in and asks `BM` to execute B3. `planner` tries to get B2 executed, but `BM` replies `nack` as B3 is currently

[2017-01-26 09:02] Tobias-Fischer commented on #139
Good progress guys! Looking forward to see this in a couple of weeks.
Regarding the wiki: I think `agentDetector` is missing as mandatory module to run @towardthesea.

Best, Tobi

[2017-01-26 10:51] clement-moulin-frier commented on #210
That is actually the case, the drives are frozen during the entire plan execution. The change is that now the planner give up if the 1st action can't be executed because the BM is busy. Before it was keeping trying, postponing the plan execution. This was noy good for the interaction because the plan was often executed long after it was requested.

[2017-01-26 11:54] Tobias-Fischer commented on #210
Okay, I see, this makes sense. However, shouldn't the fix be on a higher level then? Shouldn't there be a "common mutex" which only allows access to the BM by either the `allostaticController` or the `planner`?

[2017-01-26 12:55] clement-moulin-frier commented on #210
This is also the case, there is a [mutex in the BM](https://github.com/robotology/wysiwyd/blob/devel/main/src/modules/reactiveLayer/behaviorManager/include/behavior.h#L40-L61) for this.

[2017-01-26 13:23] sockchinglow commented on #210
@Tobias-Fischer the mutex in the `BM` successfully prevents the planner from sending commands to it while it is running another behaviour. However, because the planner used to take this as a failure of action execution it was added into the same attempt count as sensing the failure of an action (e.g. seeing that the object has not changed position when it should have).

[2017-01-26 13:51] Tobias-Fischer commented on #210
Okay cool .. seems like you guys found the bug :). Did you get to test it yet?

[2017-01-26 13:52] sockchinglow commented on #210
Not yet. I'm also working on #212 so that the error sentence is more natural.

[2017-01-26 14:36] sockchinglow commented on #212
The repetition of conditions is fixed in 408b2cd479708263a520e33ae314590aea80c47a. Additionally, the iCub will not mention anything about location of an object that is not present. It will also not mention anything about presence or location if the object is not known.

[2017-01-26 18:01] jypuigbo commented on #212
All this has been tested this far and it's solved.

[2017-01-26 18:01] #212 closed

[2017-01-26 18:08] jypuigbo commented on #210
Tested.
- `nack`from `BM` is no longer a problem. Planner has been sped up and if there is a conflict instead of overlapping it just reports it.
- Fixed the bug about not meeting preconditions
- The 3rd error was a bug in our grammar

I keep it open as we are still improving it slightly. More mews coming soon

[2017-01-26 18:17] Tobias-Fischer commented on #210
Well done, sounds good. Did you save a log file by any chance?

[2017-01-27 17:44] Tobias-Fischer commented on #194
Hi @pattacini, as mentioned on slack it seems that ARE never returns after sending `pfar`. We'll close this issue as soon as this is fixed. Thanks again a lot for implementing it, the pointing itself is nice and smooth.

[2017-01-27 17:50] clement-moulin-frier commented on #210
The three last commits in `fix/planner` allow a better checking of when a plan can be executed or not. It has been tested without the robot. We'll test it on the full demo on Monday.

[2017-01-27 18:17] pattacini commented on #194
Hi @Tobias-Fischer

I've relaxed the requirement for reaching the target (https://github.com/robotology/icub-main/commit/a106d3dcb1ce9d70f22fe08a112de1cbaf02bd65).
Hope this helps.

[2017-01-30 16:13] clement-moulin-frier commented on #210
Hi,

The last commits on this branch have been tested and the robot and everything works fine here at UPF. Can another lab give it a try? Then I think we can merge.

Cheers,

[2017-01-30 16:16] clement-moulin-frier opened #213 "Pulling an object too close, preventing correct detection"
Hi,

When executing the plan `take`, often the robot pulls the object too close to itself, preventing it to be correctly detected when the post-condition is checked. In consequence the plan fails.

Is it possible to modify the `pull` behavior  so that the object remains in the visible area?

cc @towardthesea @pattacini @jypuigbo @sockchinglow

[2017-01-30 16:43] Tobias-Fischer commented on #213
You can change the `backPos` of the `default.ini` of the `BM`. Just set it to a more negative value and give it a try. Best, Tobi

[2017-01-30 16:56] towardthesea commented on #213
Thanks @Tobias-Fischer :smile:

[2017-01-30 17:12] clement-moulin-frier commented on #213
Thanks guys (I remember one already told me this but I forgot ...)
It works much better with `backPos` to `-0.40`.
Should I push the change in `default.ini` or do we consider it as specific to the UPF setup?

[2017-01-30 18:06] Tobias-Fischer commented on #213
You can push the change to the repo :). Closing as the issue seems resolved.

[2017-01-30 18:06] #213 closed

[2017-02-02 13:55] Tobias-Fischer commented on #210
Closing here, let's open another issue if new bugs show up.

[2017-02-02 13:55] #210 closed

[2017-02-02 18:02] clement-moulin-frier opened #215 "proactiveTagging sometimes tag an object with the label "unknown""
When proactively tagging an object, sometimes the robot says "I get it, this is an unknown". (whereas the human said e.g. "this is a duck").

The problem seems to comes from [here](https://github.com/robotology/wysiwyd/blob/devel/main/src/modules/attentionRelated/proactiveTagging/src/proactiveTagging.cpp#L409-L421), where "unknown" is the default value if there is no "object role" in the bottle re

[2017-02-03 11:05] jypuigbo commented on #215
We found another related bug this morning:

When the robot asked "What is this object?", then the human said "This is the duck", the robot eventually replied "I asked you something else".

Looking at the logs, we see that speech recognizer actually returned:
[code]

i.e., something from the main grammar.

Looking at the code, the call of speech recognizer in practiveTagging occurs [here](https://g

[2017-02-03 11:10] jypuigbo opened #216 "Narrative replies "Yes" to the question "What have you done the other day?""
And this sounds weird. Would be better if it replies something like "What do you want to know?", then the human says as usual "What happened first".

Where can we change this?

Thx

[2017-02-03 13:57] Tobias-Fischer commented on #215
Hi guys,
A few notes:
1) The `speechRecognizer` shouldn't return something from the default grammar. Are you guys sure you are muting the microphone properly so no noise is detected? Is the `speechRecognizer` up-to-date?
2) `proactiveTagging` is looking checking against an `error` string rather than a `unknown` string. I changed this here: https://github.com/robotology/wysiwyd/commit/e5f6e00a99f31

[2017-02-03 14:01] Tobias-Fischer commented on #216
Hi,
you can change this here:
https://github.com/robotology/wysiwyd/blob/devel/main/src/modules/narrativeRelated/narrativeGraph/src/hri.cpp#L70-L74
It's randomly picking one of the values in `vBegin`. Let me know if this works.

Best, Tobi

[2017-02-06 10:57] Tobias-Fischer commented on #194
Hi @pattacini,
Do you think you can apply this fix on `icub-main`, which for some reason is needed on `iCubLondon01` for the method to return?
[code]
Once that's fixed we can close this issue :).

[2017-02-06 11:07] pattacini commented on #194
Only because you're my friend 😉
Done in https://github.com/robotology/icub-main/commit/0b49fc997d4b8df05bddd0265f97977f204ce913.

[2017-02-06 11:08] Tobias-Fischer commented on #194
:)
Thanks a lot!

[2017-02-06 11:08] #194 closed

[2017-02-06 13:17] jypuigbo opened #217 "Change the NarrativesHandler text to use our names and our objects"
@Tobias-Fischer pointed out we should do the changes in the `opcPopulater`. Mainly is changing `Allan` by some of our names and making sure that the object names are the ones we'll be using for the demo.

Specifically, the object names we've been using since the last integration has been `blue cube`, `octopus` and `duck`, and, sometimes, `nemo` or `fish`.

[2017-02-06 13:43] Tobias-Fischer commented on #217
Yes, that's correct. The names need to be changed in the methods `populateSpecificX`, and afterwards the procedure described in https://github.com/robotology/wysiwyd/tree/devel/main/src/modules/narrativeRelated/narrativeGraph/src needs to be followed (i.e. updating the instance numbers for the start and end of the narration). It should be straightforward :).

PS: When following the procedure, I'd

[2017-02-06 17:06] towardthesea opened #218 "Extend sensationManager to deal with both hands"
Current, the `sensationManger` only takes into account only the `right hand` of partner. It should be better and more natural if it can work with both hands.

@jypuigbo should be the best person to solve this one.

[2017-02-06 18:14] Tobias-Fischer opened #219 "Use delayed stop for modules within yarpmanager"
Thanks to https://github.com/robotology/yarp/issues/1051 we hopefully will be able to stop all modules within the WYSIWYD year 3 XML gracefully. We will need to figure out which order is best to stop the modules. I can take care of this. Anything I should take into consideration @pattacini?

[2017-02-06 18:31] pattacini commented on #219
Take a look at here: https://github.com/robotology/icub-main/commit/1fc3101876393ebde44c38bcc190e6376ec35565

Low level modules should be stopped with a delay in order to give higher level modules enough time to close resources gracefully.

In our settings low level components can be:
- `iKinGazeCtrl`
- `OPC`

[2017-02-08 17:10] clement-moulin-frier opened #220 "Torso shaking when pulling an object"
Hi,

We just observed a weird behavior. We asked the robot to pull an object, it said "I will pull the object to the back", initialized the movement, and started shaking the torso badly (we had to push the red button).
Looking at the logs, we saw that the object perceived position was at -0.36, whereas the `backPos` in BM is actually at -0.40. So the object was actually localized between the targe

[2017-02-08 17:46] clement-moulin-frier opened #221 "Kinematc correspondance behavior doesn't stop"
Hi,

When asking "Can you find similar parts of my body", the robot shows it on screen, then point at my left hand (more or less). However, the behavior never stops, therefore blocking the demo.
Le'ts check this tomorrow when @Tobias-Fischer will be here.

Cheers,
Clément

[2017-02-08 17:55] Tobias-Fischer commented on #221
Please update your system, see https://github.com/robotology/icub-main/commit/0b49fc997d4b8df05bddd0265f97977f204ce913

[2017-02-08 17:55] #221 closed

[2017-02-09 11:39] Tobias-Fischer commented on #217
Partly fixed with https://github.com/robotology/wysiwyd/commit/e805eb5e1c5ef52b4fc29f6f6eee9c52c5dce804
We now need to populate new instances using `opcPopulater` and change the config file of `narrativeGraph`.

[2017-02-09 11:50] Tobias-Fischer commented on #215
Proper fix in https://github.com/robotology/wysiwyd/commit/1067d58ec32fdde74b2824e14d883a2d98ad815e - let's close this.

[2017-02-09 11:50] #215 closed

[2017-02-09 11:53] Tobias-Fischer commented on #216
Fixed in https://github.com/robotology/wysiwyd/commit/ce09dff480228bfed97d10fb544ab58963d0fd72

[2017-02-09 11:53] #216 closed

[2017-02-09 12:10] Tobias-Fischer commented on #140
@clement-moulin-frier proposed the following:
First, we do babbling with the hand instead of the finger as we used to do. Then, we show the kinematic structure correspondence on the screen afterwards. Finally, we point to the hand of the human.

@martz21 and @hjchang will check whether the babbling is working fine for the hand. I will take care of the rest.

[2017-02-09 12:12] Tobias-Fischer commented on #166
Update: We definitely won't use the module for detecting the reachable area during the demo. However, we try to show the learning process of the reachable area in a video / image.

[2017-02-09 12:49] Tobias-Fischer commented on #217
Done!

[2017-02-09 12:49] #217 closed

[2017-02-09 14:56] Tobias-Fischer commented on #218
Fixed in https://github.com/robotology/wysiwyd/commit/7067e8242c9f7207e154c120184aea085b3a20f2 let's test and then close.

[2017-02-09 14:57] Tobias-Fischer commented on #219
Done. Let's see whether we found the good order :)

[2017-02-09 15:06] jypuigbo commented on #139
I've updated and tested properly `PPS` in `iCubBarcelona01` and it works nicely. Way better than before, thanks @matejhof

Next thing will be to test it with the reactive controller, I guess, in order to integrate it in the demo.
Let's discuss it with @towardthesea to see what is or is not possible to do :)

There is one issue, though: it seems that visuoTactileWrapper  (or some related module) ta

[2017-02-09 15:12] jypuigbo commented on #220
Because of the recurrent shakings, should we also revise, just in case, that the PIDs and currents are correct? referring to the previous problems in [icub-support#30](https://github.com/robotology/icub-support/issues/30)
@pattacini

[2017-02-09 15:37] jypuigbo commented on #218
Tested. Both hands are available now in `sensationManager` and both elicit activations of the `PPS`

[2017-02-09 15:37] #218 closed

[2017-02-09 15:57] matejhof commented on #139
Here are some notes based on how I inspected the code now.
`visuoTactileWrapper`, more specifically its `vtWThread` is using `IGazeControl`.
https://github.com/robotology/peripersonal-space/blob/master/modules/visuoTactileWrapper/vtWThread.h

During the demo, how are you sending the objects to PPS? I assume `sensationManager`?
If you look here https://github.com/robotology/peripersonal-space/blob/

[2017-02-09 16:32] Tobias-Fischer commented on #219
This works amazingly well. The new config file was added here: https://github.com/robotology/wysiwyd/commit/67cfcb64985e256c9e956cd07ee3df77574c3575
Thanks so much @apaikan :)

[2017-02-09 16:32] #219 closed

[2017-02-09 19:08] towardthesea commented on #139
Hi @matejhof

I think you mean this line [void vtWThread::threadRelease()](https://github.com/robotology/peripersonal-space/blob/master/modules/visuoTactileWrapper/vtWThread.cpp#L460). It obviously asks the robot head to to go to "zero pose". I wonder should we still keep this motion or not.

For the `gazeControl` inside the `reactControl`, it has been set `off` by default in configuration file.

[2017-02-09 19:17] pattacini commented on #139
Hi,

These lines are wrong:
[code]

Plese correct them with:
[code]

Anyway, I wouldn't keep this homing. Further, the use of the context might be problematic and interfering with other modules.

### General question
Why does PPS control the gaze changing the context? Shouldn't it just use the gaze interface to sense the posture?

[2017-02-09 22:00] matejhof commented on #139
This question is mostly for @alecive - this is his heritage.
I opened an issue at PPS repo: https://github.com/robotology/peripersonal-space/issues/35

[2017-02-09 23:46] alecive commented on #139
Disclaimer: I did not read the issue in its entirety.

You're talking about two different modules:
 1. `visuoTactileRF` senses the posture, and does the PPS stuff. It does NOT need to control the gaze at all.
 2. `visuoTactileWrapper` is used for tracking objects in 3D and following them as they approach the body. It needs to control the gaze because how can the robot react to an object approachin

[2017-02-10 08:55] Tobias-Fischer opened #222 "Identify where delays come from"
Sometimes parts of the demo are painfully slow - we have to find out where the delays come from and fix it. I assume it either stems from the `ABM`, or from `ARE`.
These commits should provide insight:
https://github.com/robotology/wysiwyd/commit/202e80d8ea2c6422f2ed0fcce32178e72a4a2ea9 & https://github.com/robotology/wysiwyd/commit/a1c13681867e72a2b713494e446bd61405a50fc2 & https://github.com/rob

[2017-02-10 08:56] Tobias-Fischer commented on #140
See https://github.com/robotology/wysiwyd/commit/a00dd779759aeadd52859d3e02f74d75703667d6 - it needs to be tested, in case it works I think we can close this issue.

[2017-02-10 09:00] Tobias-Fischer opened #223 "Fine-tune pulling / pushing distances for Karma actions"
When running the demo yesterday, we found that the objects are sometimes pulled too far back, then the robot cannot perceive the object anymore. We need to fine-tune the parameters in the `BM.ini`.

[2017-02-10 12:05] Tobias-Fischer commented on #222
The delays come from either `ARE` or `iKinGazeCtrl`. @pattacini will run some tests to see where the issue is exactly.

[2017-02-10 12:09] pattacini commented on #139
Have a look at https://github.com/robotology/peripersonal-space/commit/dbf675ad384c48786cc4686b45d59062948ece93

[2017-02-10 12:25] Tobias-Fischer commented on #140
There was a bug which is fixed in https://github.com/robotology/wysiwyd/commit/cdaf511132f2ed0000194ebd823ddaaf200fee5a which prohibited this to run properly. Should work now.

[2017-02-10 14:43] alecive commented on #139
:+1:

[2017-02-11 14:24] Tobias-Fischer commented on #222
Fixed with https://github.com/robotology/icub-main/commit/7674efa994eb132a13efc7a197b2899877194b82 - thanks @pattacini

[2017-02-11 14:24] #222 closed

[2017-02-11 14:24] Tobias-Fischer commented on #220
Closing here as this didn't happen for a while.

[2017-02-11 14:24] #220 closed

[2017-02-11 15:31] Tobias-Fischer commented on #140
Working fine, closing.

[2017-02-11 15:31] #140 closed

[2017-02-13 12:18] Tobias-Fischer commented on #223
Think we can consider this to be solved. Well done @towardthesea and @pattacini!

[2017-02-13 12:18] #223 closed

[2017-02-13 12:18] Tobias-Fischer commented on #139
Can we close this issue? Think it's working :). Well done @towardthesea @jypuigbo

[2017-02-13 12:23] pattacini commented on #139
Actually, very well done! 🏅

[2017-02-13 12:30] matejhof commented on #139
Glad to hear that!

[2017-02-13 12:33] #139 closed

[2017-02-13 12:43] Tobias-Fischer commented on #166
We got the results, I'll check with Yiannis whether to show this. Will close here, last issue .. whoop whoop.

[2017-02-13 12:43] #166 closed

[2018-04-26 07:48] Tobias-Fischer opened #224 "Remove devel branch"
Hi @robotology/wysiwyd-developers @pattacini,
I'm thinking about removing the `devel` branch to simplify maintenance of this repo (which is deprecated anyways - people should use `icub-hri` instead).
Are there any objections?

Best, Tobi

[2019-08-20 11:34] Tobias-Fischer commented on #224
It's gone ..

[2019-08-20 11:34] #224 closed