[2014-05-19 09:56] pattacini opened #1 "caltechDatasetPlayer does not compile on Linux"
@matejhof reports that the module in subject does not compile on a linux machine because it wants to include windows.h.

@stephane-lallee, please fix the bug accordingly: if the module is supposed to run only on windows, put a guard in the corresponding cmake file.

[2014-05-19 14:25] #1 closed, assigned to myl1ne

[2014-06-04 20:32] pattacini opened #2 "abmReasoning does not compile"
@gregoire-pointeau, please fix the following compilation errors I've found in Windows:

[code]

Further, be careful since I've re-grouped all ABM related modules under one dedicated folder.

[2014-06-05 08:06] gregoire-pointeau opened #3 "Problem compiling cvz in debug on windows"
I can compile cvz lib perfectly in Release on windows with Visual Studio, but I cannot compile it in debug.
Attached is the list of error I get.
Do you know how to solve it ?

![error github](https://cloud.githubusercontent.com/assets/4243669/3184658/243a3508-ec88-11e3-991e-799735b50a88.PNG)

[2014-06-05 08:09] #2 closed, assigned to gregoire-pointeau

[2014-06-09 11:06] myl1ne opened #4 "[visualSystem] Error in linking on linux"
Not sure why this is happening. No problem on windows...

Linking CXX executable ../../../../bin/frontalEyeField
CMakeFiles/frontalEyeField.dir/frontalEyeField.cpp.o: In function `cvz::core::ModalityBufferedPort<yarp::os::Bottle>::Unvectorize(std::vector<double, std::allocator<double> >)':
frontalEyeField.cpp:(.text+0x420): multiple definition of`cvz::core::ModalityBufferedPortyarp::os::Bottle::Un

[2014-06-10 08:16] #3 closed, assigned to myl1ne

[2014-06-11 17:59] pattacini opened #5 "ReservoirHandler does not compile on Windows"
I've just caught the following warnings/errors on windows:

[code]

[2014-06-12 11:48] #5 closed, assigned to AnneLaureM

[2014-06-26 15:57] myl1ne opened #6 "Problem thrifting...."
Hi !

I've added the long-named-module "interpersonalDistanceRegulator", with a small thrift interface to get familiar with it.

It seems to compile fine, however, if I keep the cmake option "allow_IDL_generation" then cmake throw me a weird error during the generation (not the config):

Configuring done
CMake Error at src/modules/interpersonalDistanceRegulator/CMakeLists.txt:24 (add_executable):

[2014-07-18 15:41] #6 closed, assigned to pattacini

[2014-07-28 15:40] matejhof opened #7 "[cvz] does not compile"
libraries/cvz/include/cvz/core/ICvz.h
 error: ‘DBL_MAX’ was not declared
error: 'DBL_MIN' was not declared

[2014-07-29 07:18] #7 closed, assigned to myl1ne

[2014-09-10 20:39] pattacini opened #8 "keyboardBabbling still alive after a kind of merge"
@stephane-lallee @gregoire-pointeau
I've seen that the `keyboardBabbling` branch has been somehow merged into master, even though it does not result from the graph. Could we thus safely remove it?

[2014-09-11 15:54] #8 closed, assigned to nobody

[2014-12-10 20:56] #4 closed, assigned to myl1ne

[2014-12-10 20:59] pattacini opened #9 "Cleaning up stale branches"
@gregoire-pointeau the branch `dev-efaa/inserm` is marked as **stale**: can I delete it?

[2014-12-10 21:40] #9 closed, assigned to pattacini

[2015-02-06 15:05] Tobias-Fischer opened #10 "[opcEars] Comparator does not work"
Hi all,

somehow the != comparator does not work when looping over beliefs in wrdac/opcEars. I did a quick fix in https://github.com/robotology/wysiwyd/commit/0756ec38d164a6d1abc7aabd7b2bd69b4c6a1328 to check for
```size > 0```
But it should be done properly, otherwise someone else might run into this issue sooner or later.

Would be great if someone from WP5 could have a look at it :).

Thanks,
T

[2015-03-11 16:36] pattacini opened #11 "rekognition fails to compile"
@maxime-petit could you address this [problem](https://ci.appveyor.com/project/pattacini/wysiwyd/build/1.0.502) and the cmake warning reported below?

[code]

[2015-03-11 17:01] Tobias-Fischer commented on #11
Hi Ugo,

that was my fault, sorry. The actual problem was that CURL was not found on the Windows machine. Now, the build for rekognition is only triggered if CURL is found.
The AppVeyor build still fails, but because wget could not be installed. Can you please manually trigger another build?

Best, Tobias

[2015-03-11 17:04] pattacini commented on #11
Thanks @Tobias-Fischer
However, I still have the annoying cmake warning.
I'll try to trigger Appveyor again but I'm afraid we're having general failure with `wget`. Possibly, I'm going to try to rely on a different downloading tool... stay tuned.

[2015-03-11 17:11] Tobias-Fischer commented on #11
Hi @pattacini
Warnings should be gone now :). Hope you get the wget issue resolved. Maybe it was just temporarily down?

[2015-03-11 17:12] pattacini commented on #11
Thanks!

[2015-03-11 17:12] #11 closed

[2015-04-23 16:08] pattacini opened #12 "[ci]: need for updated yarp packages"
Currently `travis` and `appveyor` CI systems fail to compile `wysiwyd` project because `idl` auto-generated files contain references to the new `yError()` routine and thus `yarp` headers need to be updated.

`travis` and `appveyor` have been temporarily disabled: remember to enable them again, once new `yarp` binaries will be released.

[2015-04-24 08:00] lornat75 commented on #12
@mbrunettini has been looking at this, I think he has been busy with compiling ipopt for visual studio 2013.

[2015-04-24 08:40] pattacini commented on #12
there's no hurry

[2015-04-27 11:10] pattacini commented on #10
Any update on this? Otherwise I think we can close it.

[2015-04-27 11:29] Tobias-Fischer commented on #10
I don't think it should be closed yet. The comparator still doesn't work, and it is just a matter of time until someone else runs into issues related with this. And nobody likes SegFaults, right?!? :)

[2015-04-27 11:32] pattacini commented on #10
Then we should assign to someone of **WP5**, otherwise it won't get solved ever :smirk:

[2015-04-27 11:33] pattacini commented on #10
@jypuigbo @clement-moulin-frier would you be willing to solve this?

[2015-04-27 11:36] gregoire-pointeau commented on #10
Hum, I can take a look at it this week if you want. Because I don't think
Jordi or Clement are used to OPCEARS.

2015-04-27 13:33 GMT+02:00 Ugo Pattacini <notifications@github.com>:

--
Grégoire Pointeau

Robot Cognition Laboratory
Stem Cell and Brain Research Institute
INSERM U846
Department of Integrative Neuroscience
18, avenue Doyen Lépine
69675 Bron Cedex

[2015-04-27 11:38] pattacini commented on #10
Fine with me, thanks @gregoire-pointeau

[2015-04-27 13:17] Tobias-Fischer opened #14 "[iol2opc] Use segmentation algorithm based on stereo"
Hi all,

The current segmentation algorithm to extract blobs is based on luma-chroma segmentation. As we have found in the integration meeting in Sheffield, this method does not work particularly well. This is a shame, as the object recognition itself works very nicely.

One alternative with more promising results would incorporate the 3D information we get from the SFM module. The Point Cloud Lib

[2015-04-27 13:23] Tobias-Fischer opened #15 "[ABM] Better way of handling parameters"
In the ```response()``` method of the ABM, some functions have quite a few parameters (e.g. triggerStreaming has 5 parameters). So far, they have to be in a precise order to be applied. Instead, we should use parameter pairs to specify parameters.
E.g. instead of
```triggerStreaming 1 0 1 1.0 0``` which has no meaning at all to someone not used to the code, we should allow
```triggerStreaming (use

[2015-04-27 13:35] pattacini commented on #14
I definitely agree to rely on stereo information for that.
Some stray thoughts:

- PCL works great - as per the video above -, however it does represents an heavy dependency (not that easy to provide/compile - I might be wrong any how, but I saw people struggling in the recent past). Could we achieve a segmentation nicer than what we currently have without PCL, for instance by handling the dispari

[2015-04-27 16:10] stephane-lallee commented on #14
If I can suggest you to look into the "superpixel" algorithm developped at MIT. It should be part of the latest opencv releases and from what I've seen it works quite well.(it uses 2D though, not point cloud...)

-----Message d'origine-----
De : "Ugo Pattacini" <notifications@github.com>
Envoyé : ‎27/‎04/‎2015 21:35
À : "robotology/wysiwyd" <wysiwyd@noreply.github.com>
Objet : Re: [wysiwyd] [iol2o

[2015-04-27 16:22] pattacini commented on #14
thanks @stephane-lallee, @vtikha has been already looking at **superpixel**; it's 2d and thus can be faster than any processing of point clouds. The only caveat, at present, is that `OpenCV 3.0` brings about compilation problems into our repos.

[2015-04-30 10:40] Tobias-Fischer opened #16 "[iol2opc] Several issues in the communication with the OPC"
Hi,
there is an issue with iol2opc. Thus far, adding objects in the OPC works nicely. However, if an object gets out of the scene, `m_present` is still set to `true`. We therefore need to find a way to
a) detect once an object is removed from the scene
b) find this object in the OPC and set `m_present=false`

The issue is that we don't keep track which objects are added to the OPC. I think we need

[2015-04-30 11:07] Tobias-Fischer commented on #16
Related to this is another issue. I was about to create a method to remove all objects. The classifier provides this ability by sending the command `forget all`. This is what I have done in https://github.com/robotology/wysiwyd/commit/274bdfd3d9b466cc0cfd82695b081508d7ce5e3f

However, that does not remove the objects from the OPC either.

I just found that https://github.com/robotology/himrep/blob

[2015-04-30 11:24] Tobias-Fischer commented on #16
And another issue: For now, several (physical) objects in the scene can be tagged with the same name. However, there is only one object in the OPC per name. Therefore, the position etc. of the OPC object is "random" (i.e. depends on the position in the `blobs` list.
Therefore, I think it would be better if we only associate each object in the object database to exactly one object in the scene (i.e

[2015-04-30 17:49] pattacini commented on #16
The way I'd go for is the following:

1. Upon connection between 'iol2opc' and 'himrepClassifier', we ask for the list of currently known classes by means of the "`list`" rpc command (I've just added it up). This way, we can build the internal database we have to maintain later on.
We can attach a callback to the connection event by relying on the `PortMonitor` class. Be careful: don't do any acce

[2015-05-05 16:00] #16 closed

[2015-05-07 15:19] Tobias-Fischer opened #18 "[ARE] use depth2kin"
Hi all,

as we all know, we have started using stereo vision to get the position of objects. So far, we directly employ the 3D point of the object acquired from `SFM` to push/point/grasp the object. However, as far as I understood @pattacini correctly, we should "correct" the 3D point using `depth2kin`.
The actual implementation is straightforward (see https://github.com/robotology/grasp/blob/mast

[2015-05-07 15:23] gregoire-pointeau commented on #18
When we call ARE, we do it with the position given by the OPC. If the stereo vision has to correct a position, it should be done in the OPC.
For now, the subsystem ARE takes X Y Z position (that we extrat before from the OPC).

I talk with Ugo, to modify the subsystem to use either the X Y Z, or directly the OPC object.

[2015-05-07 15:29] pattacini commented on #18
@gregoire-pointeau there is a caveat in that corrections are arm specific (and thus it's very likely they will be different), therefore `OPC` should contain only the 3D points provided by `SFM`, a sort of common substrate. As soon as we're asked to perform a motor action (i.e. in `ARE`), we take those points to then apply the correction on top.

[2015-05-07 16:13] Tobias-Fischer commented on #18
@gregoire-pointeau: Sorry, I forgot to mention that we can't put the points directly in the OPC because of the reasons @pattacini mentioned.
The easiest solution I can think of is extending `take`, `push`, `point` and  `dropOn` with a `bool correctPosition`. If `correctPosition==true`, we apply the corrections by depth2kin. Otherwise, we directly use the supplied `target`.
There are two decisions

[2015-05-07 18:22] Tobias-Fischer commented on #18
Hi,
after talking to Maxime we came up with another option. We could overload the methods in `ARE` to expect an `Object`. Then, if the object can be casted to an `RTObject`, we could apply some offsets similar to the ones in `reservoirHandler`. If it can be casted to a to be defined `stereoObject`, we could apply the `depth2kin` corrections.
In fact, icubClient already offers methods which can be

[2015-05-07 18:43] pattacini commented on #18
But then the code will undergo somehow a _biforcation_: we will have snippets relying on `RTObject` and snippets relying on `Object`, while we should abstract from this detail. Unless the objects will be created dynamically, making use of factory methods that in turn will get called depending on the actual value of a configuration option (stored in a file). But if the latter will be the case, we c

[2015-05-08 10:00] pattacini commented on #18
To expand on my previous post, will we be finding ourselves in scenarios where the robot has to deal with `RTObject` and `stereoObject` at the same time?

- **`yes`**: the solution proposed by @Tobias-Fischer and @maxime-petit is more thorough and we should pursue this way.

- **`no`**: configuring `subSytem_ARE` at start-up from a option stored in a file would be easier and as effective as the pr

[2015-05-08 10:47] Tobias-Fischer commented on #18
Hmmm .. maybe we can discuss this stuff in our next integration meeting, to see what is needed and how we should pursue. With this issue I mainly wanted to make people aware that the corrections by `depth2kin` for now need to be manually applied.
Unfortunately, you lost me with the factory methods etc. - I don't see why they would be needed. In our proposed solution, as a user, you would not need

[2015-05-08 11:10] pattacini commented on #18
Ok I see, you're right, I was missing the part regarding the place in the architecture where objects are created. If everything is under control and limited to `rt2opc` and `iol2opc` we're done then.

[2015-05-08 11:47] Tobias-Fischer commented on #18
Okay cool. @gregoire-pointeau: Are you happy to directly call the iCubClient with the name of the object, rather than ARE with a vector of the position of the object? Do you know who else is using this stuff? And I saw that you are doing some corrections for the reactable objects - could you please let me know which ones?

I am happy to implement this in the next week or so, as it should be straig

[2015-06-18 20:47] pattacini commented on #12
Given the availability of the latest releases of `yarp` and `icub-main` I could resume the CI services again.

##### AppVeyor
We should have it functioning, aside from compilation problems that might arise due to specific `wysiwyd` issues.

##### Travis
Unfortunately, we have troubles finding `yarp` from within `cmake` after the installation of `icub` packages.
See https://travis-ci.org/robotology

[2015-06-18 20:54] pattacini opened #19 "[wrdac]: no headers tree"
It seems that presently it is not possible to export multiple levels trees of libraries headers. This applies specifically to `wrdac` where we have include branches like `clients`, `knowledge` and `subsystems`. Building is not problematic, whereas installing triggers this issue.

- **Temporary solution**: we don't install `wysiwyd`.
- **Proper solution**: we refactor the huge `wrdac` (it's too big

[2015-06-18 23:00] stephane-lallee commented on #19
Hi,

Just a word: it should be pretty straightforward to "cut" wrdac in 2/3 different libraries... The dependencies are:
- clients & subsystems are interdependent,
- they both depend on knowledge.

One thing I wanted to do at some point was to turn all the subsystems into proper thrift interfaces with the modules in question. It should not be hard, but it may be a long and tedious task...

-----Me

[2015-06-19 07:00] pattacini commented on #19
Hi @stephane-lallee! How are you doing?
Great then, we can really think to refactor `wrdac` in the way you've suggested.

[2015-06-19 09:38] Tobias-Fischer commented on #19
Hey @stephane-lallee and Ugo @pattacini,
the reason why I used multiple exports is that I want to use WYSIWYD as library in another project. Originally, all include files got exported to the same folder (or some not at all?!?), which caused trouble compiling the other project. On Linux, the multiple exports work nicely (another reason to deprecate Windows :P).
Splittling wrdac in multiple librarie

[2015-06-19 09:42] pattacini commented on #19
@Tobias-Fischer working fine doesn't exclude it is an hack, which seems to be doable only in linux.
Unfortunately we have to provide support for windows too.

I'll do the job (but without `thrift` :smirk:).

[2015-06-19 09:54] Tobias-Fischer commented on #12
Hi @pattacini,
Did you notice that there is no new version of `yarp` and `icub-main` for `precise`? `trusty` seems to be the minimum requirement for `yarp` 2.3.64 / `icub-main` 1.1.16, but the Travis build environment is `precise` ..

This makes the problem that `yarp` isn't found by `cmake` even more weird, as the old versions used to work previously?!?

Best, Tobias

[2015-06-19 09:56] pattacini commented on #12
yes, thanks @Tobias-Fischer, problem spotted, we are working on it.
I think I'll give soon a try to:
- `icub-common` via `apt-get` (we use the old one, `ubuntu/precise`)
- cloning and building of `yarp` and `icub-main`

[2015-06-19 12:33] pattacini commented on #12
For `travis` we had to rely just on `icub-common` for the dependencies plus we had to update `cmake`.

`travis` is now building smoothly!

[2015-06-19 12:33] #12 closed

[2015-06-19 16:02] #19 closed

[2015-06-19 16:04] pattacini commented on #19
I opted for the quickest solution since it allowed me to use/debug the pre-existing options of the macro.

[2015-06-25 16:25] Tobias-Fischer commented on #10
Fixed this with https://github.com/robotology/wysiwyd/commit/399e81a61466a10198bb816f56bd06cf8842c08f

[2015-06-25 16:25] #10 closed

[2015-06-25 16:29] Tobias-Fischer commented on #15
This has been implemented in https://github.com/robotology/wysiwyd/commit/8de1b2ade19ce8562c7402d09cd06eccaa850fc5 and and https://github.com/robotology/wysiwyd/commit/20f9be8ba5308c3544d25094568b755e82f8ff69

[2015-06-25 16:29] #15 closed

[2015-06-25 16:30] Tobias-Fischer commented on #14
Hi @pattacini and @vtikha,
do you have any news on using superpixel for the segmentation? As far as I know, OpenCV 3.0 now compiles fine thanks to https://github.com/robotology/yarp/commit/5665c99135fa0ba26480a617c91bbfb90f82bb87.

Thanks, Tobias

[2015-06-25 17:20] pattacini commented on #14
Hi @Tobias-Fischer
We've just started playing around with the new stereo-disparity, and @vtikha has been a bit busy with other projects; however, he's got already something new that hopefully will improve the segmentation. If to use the stereo is still to be decided though.

Perhaps, @vtikha can add more info on that.

[2015-07-29 08:27] maxime-petit opened #21 "[proactiveTagging] check for kinematicStructure, the bodypart dynamic casting is not working"
Apparently working fine for other (even inside proactiveTagging)

Just a reminder for me to fix that :dancer:

./Max

[2015-07-31 08:21] Tobias-Fischer commented on #21
I think that can be closed after yesterday's fix.

[2015-07-31 08:21] #21 closed

[2015-08-29 19:08] Tobias-Fischer commented on #18
Hi @gregoire-pointeau and @pattacini,
Maybe you guys can have a look at this at BCBT?

Best, Tobi

[2015-08-30 09:17] pattacini commented on #18
@Tobias-Fischer I'm not attending BCBT...

[2015-08-30 11:18] Tobias-Fischer commented on #18
Ahhh yeah I remember you said you won't go to BCBT. I guess it's not too urgent anyways, maybe I'll have a look into this issue as soon as I have some spare time ;).

[2015-08-30 12:33] pattacini opened #22 "AppVeyor fails compiling due to cmake error"
We're experiencing the following cmake error while checking `wysiwyd` compilation by means of `AppVeyor` CI tool (thanks @Tobias-Fischer for spotting). This error showed up only recently, while compilation was used to go fine with the same binaries in the past.

[code]

@mbrunettini @drdanz
- Windows binaries have been updated somehow?
- Do you have any clue?

[2015-08-30 12:34] pattacini commented on #22
Compiling `wysiwyd` from `yarp` and `icub-main` sources is smooth.

[2015-08-30 12:42] Tobias-Fischer commented on #22
Just one small correction: The Windows binaries of `yarp` and `icub-main` have changed since the last successful compilation. We used `yarp_2.3.64_v12_x86_0.exe` previously (which is not available anymore), and changed to `yarp_2.3.64_v12_x86_1.exe`. Same goes for `icub-main`: From `iCub_1.1.16_v12_x86_0.exe` to `iCub_1.1.16_v12_x86_1exe`.

[2015-08-30 12:44] pattacini commented on #22
Ah ok, then this is another hint suggesting there something strange with the latest binaries...

[2015-08-30 12:47] Tobias-Fischer commented on #22
@mbrunettini could it be related to https://github.com/robotology/icub-packaging/commit/4c050e0ad0c02c70fedfb38f3b8f88cae563e5ea ?

[2015-09-08 09:03] Tobias-Fischer opened #23 "Signed packages yarp + icub"
Hi,
recently we started getting warnings about changing to travis container builds rather than using their legacy infrastructure. Apparently, it's faster, allows caching, ... (see http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade).
The only drawback is that `sudo` cannot be used. We use `sudo` to
1) install the `icub-common

[2015-09-09 06:19] pattacini commented on #23
Probably @mbrunettini could help in this respect.
/cc @drdanz @lornat75

[2015-09-09 08:41] drdanz commented on #23
+1 for adding a signing key to the repository... We have already been discussing this with @mbrunettini and it should not be a very complicated thing to do, but unfortunately time is never enough!

[2015-09-10 08:56] lornat75 commented on #23
fine by me too.

[2015-09-15 07:23] mbrunettini commented on #22
The binaries have been rebuilt recently to add missig cmake files.
It seems that a variable (__NSIS_ICUB_INSTALLED_LOCATION__) is not resolved correclty.
I'm going to investigate on this issue and let you know.

[2015-09-15 15:29] mbrunettini commented on #22
The problem is with NSIS and AppVeyor: the icub and yarp packages are installed with the "/S" parameter, which runs sinlently the installer IN BACKGROUND. This causes the command to return before the installation is completed (strange, but you can try). So when the compilation is executed the icub packaged installation is not yet completed, in fact the  __NSIS_ICUB_INSTALLED_LOCATION__ is resolved

[2015-09-16 09:32] drdanz commented on #22
Perhaps it is something that should be fixed in the package?
See http://nsis.sourceforge.net/Docs/Chapter4.html#silent

[2015-09-16 09:37] mbrunettini commented on #22
@drdanz : I can't see, in the document you posted, anything that prevents the silent installer to run in background..

[2015-09-16 12:05] mbrunettini commented on #22
I found a fix: the AppVeyor script must be changed as follows
The following two lines (line 8 and 9)
    c:\dev\yarp.exe /S
    c:\dev\icub.exe /S
must be replaced bye the following
    start "" /WAIT "c:\dev\yarp.exe" /S
    start "" /WAIT "c:\dev\icub.exe" /S

[2015-09-16 13:34] Tobias-Fischer commented on #22
Hi @mbrunettini,
Thanks for your help! I hope we can get this issue resolved.
Unfortunately, your trick did not work  :( (https://ci.appveyor.com/project/pattacini/wysiwyd/build/1.0.947). Do you have any other ideas?

Best, Tobias

[2015-09-16 13:38] mbrunettini commented on #22
Try using a longer timeout, no other ideas..

Matteo

From: Tobias Fischer [mailto:notifications@github.com]
Sent: mercoledì 16 settembre 2015 15:34
To: robotology/wysiwyd <wysiwyd@noreply.github.com>
Cc: Matteo Brunettini <Matteo.Brunettini@iit.it>
Subject: Re: [wysiwyd] AppVeyor fails compiling due to cmake error (#22)

Hi @mbrunettini<https://github.com/mbrunettini>,
Thanks for your help! I hop

[2015-09-16 14:16] Tobias-Fischer commented on #22
Hmm, I tried a three minutes delay, and it still doesn't work: https://ci.appveyor.com/project/pattacini/wysiwyd/build/1.0.949

Additionally to the three minutes, several other modules are compiled, so there is at least a five minutes difference between installing icub-main and the execution of the cmake which fails.

It's also weird that it never happened with the old binaries, and there we did't

[2015-09-16 14:24] mbrunettini commented on #22
Now the installer needs to replace a string in a file with a path that is available only at the end of the installing process (it depends on the installation path).
Normally, it’s replaced correctly.
Inside the AppVeyor environment is untouched.
Matteo

From: Tobias Fischer [mailto:notifications@github.com]
Sent: mercoledì 16 settembre 2015 16:17
To: robotology/wysiwyd <wysiwyd@noreply.github.com>

[2015-09-17 09:18] pattacini commented on #22
Can it be that it's right this last operation done by the installer that is failing in the `AppVeyor` environment? This would explain why the timeout doesn't the job.

@mbrunettini could you provide info about the file and the string under exam so that we could insert checks in the `AppVeyor` script?

[2015-09-17 10:41] mbrunettini commented on #22
The file is
c:\Program Files (x86)\robotology\icub-1.1.16\cmake\icub-config.cmake

In this file, the following label
``__NSIS_ICUB_INSTALLED_LOCATION__``
must be replaced by
c:\Program Files (x86)\robotology\icub-1.1.16

[2015-09-17 11:28] pattacini commented on #22
thanks, we'll investigate it

[2015-09-17 14:56] Tobias-Fischer commented on #22
Strange things are happening: https://ci.appveyor.com/project/pattacini/wysiwyd/build/1.0.957

The string ` __NSIS_ICUB_INSTALLED_LOCATION__` does not appear in `c:\Program Files (x86)\robotology\icub-1.1.16\cmake\icub-config.cmake`, but `cmake` somehow thinks it does ...

[2015-09-22 13:15] Tobias-Fischer commented on #22
Hi @pattacini, @mbrunettini,

I found the devil and reported the bug in https://github.com/robotology/icub-packaging/issues/1. It would be great if this could be fixed soon, as it affects all Windows systems. I am surprised no one else reported this bug yet.

Best, Tobias

[2015-09-22 13:55] pattacini commented on #22
:+1:

[2015-09-28 12:19] mbrunettini commented on #22
Bug fixed and new packages updated.

[2015-09-28 13:05] Tobias-Fischer commented on #22
Thanks @mbrunettini! Working fine now.

[2015-09-28 13:05] #22 closed

[2015-09-28 13:08] Tobias-Fischer commented on #23
Now that https://github.com/robotology/wysiwyd/issues/22 is closed, are there any news on the signing key? :)

[2015-10-06 16:52] Tobias-Fischer opened #24 "Calibration of Kinect without employing Reactable"
Hi all,

Thus far we have employed the Reactable to get the transformation matrix from the robot root reference system to the Kinect reference system. It would be great if we replace this by a solution which employs stereo vision.

I see two possible solutions:

1. Use **object detection** employing both, the Kinect camera as well as the iCub eyes. If we have a sufficient amount of objects not bei

[2015-10-07 10:25] pattacini commented on #24
I believe that a first and quite effective implementation for that task would be to click on a `yarpview` to get then a 2d point for querying the corresponding 3d point through `stereo-vision` and then click the same 2d point on the Kinect and retrieve a second 3d point. We will finally build two sets of 3d points we can use to run the software we already have that finds out the desired matrix tra

[2015-10-07 10:30] Tobias-Fischer commented on #24
Sounds great!

[2015-10-07 10:58] maxime-petit commented on #24
We may also reuse the code for the kinect/reactable calibration when we needed to click on an object in a `yarpview` (or a direct window?) showing the depth of the kinect. The code is in `agentDetector` (line 300 in the cpp file).

After the click event, the x/y/z of the only object on the reactable was extracted : we can have the only object recognize by the stereo-vision instead?

[2015-10-07 11:02] Tobias-Fischer commented on #24
Good call @maxime-petit! That might be even easier. All we would need to do is changing `RTObject` to `Object`:)

[2015-10-07 11:05] stephane-lallee commented on #24
Hi guys,
If you dig a little bit the method proposed by Ugo was already implemented in EFAA (reactableVisualCalibrator) or as Maxime said it should be pretty straightforward to extract the relevant code from agentDetector.
In theory referenceFrameManager should be very easy to implement any new way of calibrating a device against another.

 To bad we never managed to publish anything about it... I

[2015-10-07 11:43] pattacini commented on #24
@stephane-lallee I remember that paper! :smile:

[2015-10-07 12:41] pattacini commented on #24
The title was great:

"_**One to bind them all**: n-sensors calibration framework for intelligent spaces and robotic setups_"

[2015-10-07 12:53] Tobias-Fischer commented on #24
Just out of interest: is it similar to http://wiki.ros.org/Papers/TePRA2013_Foote?action=AttachFile&do=view&target=TePRA2013_Foote.pdf ?

[2015-10-07 12:59] pattacini commented on #24
@Tobias-Fischer from the abstract it seems that the **_tf_** library implements only a sort of database of coordinates systems, whereas our approach was also aimed to find out the best homogeneous transformation (possibly along with anisotropic dilation/contraction) that relates two point clouds.

The code is documented here: http://wiki.icub.org/iCub/main/dox/html/group__MatrixTransformations.htm

[2015-10-07 18:14] jypuigbo opened #25 "Speech recognition problems in proactiveTagging and ears"
During BCBT and IROS we have detected in Barcelona an annoying bug/issue when using speech recognition.

1) When we try to run the demo, before running any of the other modules, ```speechRecognizer``` already has a grammar loaded, which detect yes, no, let's play pong, etc. (Like the sentences used in EFAA?). This interferes with other modules that use speech recognition. Has anyone faced this sam

[2015-10-07 18:25] Tobias-Fischer commented on #25
Hi Jordi,

regarding 1) as far as I know, we have the same "issue". But @maxime-petit will know for sure.
For 2) What is the ASR? And yes, `ears` and `proactiveTagging` should be changed so they can handle unexpected sentences.

Best,
Tobi

[2015-10-08 02:39] stephane-lallee commented on #24
Yep, the title was the best part in this paper. ^^'
Should we try to submit this again somewhere ? Maybe it could be extended
with your current experiments... Or maybe is it better to not wake up what
as been sleeping in darkness for so long...

Stéphane Lallée

*-----------------------------------------------------*
A*Star Scientist
Institute for Infocomm Research - I²R <http://www.i2r.a-star.edu

[2015-10-08 10:02] maxime-petit commented on #24
Yop,

I guess it also depend on how advanced the paper was. I will try to see `kinect`/`stereo` in the next days. May have to play a bit to remember exactly how agentDetector calibration was used :dancer:
From memory it is automatic as soon as the [kinect] matrix is not present in `RFH`, isn't it?

./Max

[2015-10-08 10:06] stephane-lallee commented on #24
Yes... If the kinect was not available in RFH then agentDetector would be waiting for input from yarpview. I think you have to run yarpview with an optional parameter to allow click forwarding though, it should be in the xml.

 I attached the draft of the pdf in the last mail in case you want to take a look.

-----Message d'origine-----
De : "maxime-petit" <notifications@github.com>
Envoyé : ‎08/‎

[2015-10-08 10:11] maxime-petit commented on #24
Hum... Same player try again?

[2015-10-08 17:20] Tobias-Fischer commented on #24
Fixed with https://github.com/robotology/wysiwyd/commit/154b648d2192e4a40c84190daf88698e6bed0fe1 and https://github.com/robotology/wysiwyd/commit/dd468d8815d1b67c56dd6c62c3f9d8d7cc65477d

Thanks @maxime-petit!

[2015-10-08 17:20] #24 closed

[2015-10-12 16:01] dcam0050 opened #26 "IOL segmenting objects but no perceived change in state"
Hi everyone! Just a general intro, my name is Daniel Camilleri and I've just started a job as a research assistant with the WYSIWYD team in Sheffield. Any help with the problem below would be appreciated.

After successfully managing to segment the object using [**`iol`**](https://github.com/robotology/iol), I was trying the rest of the interaction to teach the iCub what the object is by saying **

[2015-10-12 16:28] Tobias-Fischer commented on #26
Hi @dcam0050 and welcome to the WYSIWYD team,

I guess it is easier to ask the developers of `iol` (i.e. opening an issue there), as we guys at WYSIWYD don't use the `lua` scripts. We only use a part of the `iol` modules, and then use `iol2opc` to interface `iol` with our `OPC`. We have an XML file here in the repository which shows the modules and their connections for this setup.

Best, Tobias

[2015-10-12 16:29] pattacini commented on #26
Hi @dcam0050

Are you running the complete **iol** demo or the subset of it designed specifically to interface object recognition to `wysiwyd`? It seems you've gone with the complete demo since you're talking to the iCub. Well, that's challenging since we don't have any documentation for that yet :smirk:

However, the **what-is-it** command needs to be executed along with a pointing action by the

[2015-10-12 16:33] maxime-petit commented on #25
Yop!

Sorry I forgot this email :dancer:

1) The default grammar is loaded as startup by `speechRecognition` but is actually bypassed as soon as you provide your own grammar. So it should not cause any trouble. The only known issue is that actually when you provide a new grammar, the system await a possible "sentence" to be finished before changing the grammar. So you should check that your microp

[2015-10-12 16:36] pattacini commented on #26
@Tobias-Fischer
I've actually suggested @dcam0050 to post here because I thought he was using the `wysiwyd` layer and honestly I would also recommend to stick to it.

[2015-10-12 16:49] pattacini commented on #25
1. Would't it be easy to provide an empty grammar file with which running the module? By the way, we are using `speechRecognition` along with **iol** with no problem since ages and we do load new grammars at start-up; as far asa I know, we do not need to wait, or at least I've never taken this into consideration thus far.

[2015-10-12 16:57] maxime-petit commented on #25
1. Yes the empty grammar file was also my suggestion, I may not have been clear enough. I have written "remove" but I was thinking removing the text inside the grammar, not the grammar per se. But maybe it can cause trouble to the `speechRecognition` that might need at least one proper grammar. I ll check that.

And yes indeed it should be fine, at least if the microphone is setup properly (no ove

[2015-10-12 16:58] pattacini commented on #25
:+1:

[2015-10-12 17:17] maxime-petit commented on #25
Yop,

The `speechRecognizer` require a valid grammar to run : it should be at least one RULE NAME part. You can try to remove everything and just let a very long and complicated sentence to not trigger it. I will try to look if it is possible to remove this requirement.

But again, this should not be an issue because every grammar sent to speechrecognizer overwrite this one.

[2015-10-13 15:51] dcam0050 commented on #26
@pattacini I tried "where is the toy" and I've tried "what is this" while providing a motion cue but on both occasions I have not received a response from the icub. I also checked that iSpeak is functioning correctly by sending a string directly to the port and it works OK.

Could you tell me how the data flows from the speech recogniser and eventually to iSpeak? what ports and processes are invol

[2015-10-14 12:34] dcam0050 commented on #26
Update:
I've traced through the code and seems that the problem lies within iol_interact_fsm.lua. This is the original code.

![screenshot from 2015-10-14 13 00 01](https://cloud.githubusercontent.com/assets/4288535/10482877/afb589ee-7273-11e5-8852-73f3b9005aac.png)

Which I've modified to this for testing purposes:

![luamod](https://cloud.githubusercontent.com/assets/4288535/10482876/adefd556-72

[2015-10-14 12:54] maxime-petit commented on #26
Yop,

For me, result:get(1) is a bottle ("where is the Toy" (rootRule{"#Object"
Toy))), not a string. So the asString() does not work. You need to use
toString() or get(1).asList().get(0).asString for extracting "Where is the
Toy"

./Max

2015-10-14 13:34 GMT+01:00 Daniel Camilleri <notifications@github.com>:

[2015-10-14 12:57] maxime-petit commented on #26
Hum...

Just a thought also, because the weird thing is I think this piece of code
was supposed to work before no?

How do you launch the speechRecognizer? Do you use or not the --noLegacy
parameters? Try to use it, and it might work.

This parameters change a bit how the bottle of the recognized sentence is
built if I remember correctly so it may be it

./Max

2015-10-14 13:53 GMT+01:00 Maxime Pe

[2015-10-14 13:00] maxime-petit commented on #26
Replying through google seems to be a bad idea :warning:

Hum...

Just a thought also, because the weird thing is I think this piece of code was supposed to work before no?

How do you launch the speechRecognizer? Do you use or not the --noLegacy parameters? Try to use it (or remove it if it was used), and it might work.

This parameters change a bit how the bottle of the recognized sentence is bu

[2015-10-14 13:25] dcam0050 commented on #26
I tried the --noLegacy parameter because it was not there before but I got the same response back. The modification you suggested extracts "where is the toy" but the code requires just the first word. How is this done in lua?

[2015-10-14 13:43] pattacini commented on #26
@maxime-petit gave a good hint: that's element is a still _list_, not yet a _string_.
We do not employ any particular option to launch `speechRecognizer` indeed.

@dcam0050
**iol** is a very intricate bundle of software, hence it turns to be quite difficult to figure out what might be going wrong or even to try collecting meaningful data to explain you how it works underneath (this activity is som

[2015-10-14 14:15] vtikha commented on #26
@dcam0050 I have been following this issue and trying to figure it out with @pattacini but as he mentioned the best way to figure this out is accessing the system remotely (teamviewer) and figure things out hands on. If this is ok with you guys we can arrange a time slot and spend time on this asap. Please let us know a few dates and times when you will be available to do this in order to find the

[2015-10-14 14:19] dcam0050 commented on #26
@vtikha @pattacini I am available most of the time so let me know when it is ok for you and we'll arrange a team viewer meeting.

[2015-10-14 14:51] pattacini commented on #26
Unfortunately we could be available only starting on Monday 19.
Is that ok for you?

[2015-10-14 15:26] dcam0050 commented on #26
Monday 19th is good. At what time?

[2015-10-14 17:13] pattacini commented on #26
I'd say 10ish

[2015-10-16 10:53] maxime-petit commented on #25
@jypuigbo : do you have news on this? is it better after some microphone tuning/default grammar editing?

[2015-10-19 08:14] vtikha commented on #26
@dcam0050 We are ready to go :+1: . Please reply to Ugo's email with the details for the connection.

[2015-10-19 10:20] vtikha commented on #26
@dcam0050 @Tobias-Fischer @maxime-petit (just for keeping track of things)
During the remote debugging with @pattacini we noticed that:

* The speechRecognizer was automatically launched with the `--noLegacy` param from the installed config file and therefore the output was completely different. Please make sure that you launch it with the correct parameters when IOL is required (or you might even

[2015-10-19 10:20] #26 closed

[2015-10-19 11:16] Tobias-Fischer commented on #26
Hi @vtikha and @pattacini , great to hear you were able to resolve this issue! Just out of interest: which parameters should the `speechRecognizer` be launched with?

Thanks, Tobi

[2015-10-19 11:20] pattacini commented on #26
Hi @Tobias-Fischer

Our config file looks like the following:

[code]

[2015-10-19 11:24] Tobias-Fischer commented on #26
Great, thanks!

[2015-10-19 11:33] maxime-petit commented on #26
Yop,

Ok so no `--forwardSound` (but should have no influence except if you want to record it into the `ABM`) and no `--noLegacy` for the `iol` (the "classic" one, not the `iol2opc` from WYSIWYD)
But be careful, if you want to use the speech with `WYSIWYD` speech-based module, you will need the `--noLegacy` option.

./Max

[2015-10-19 11:43] vtikha commented on #26
@maxime-petit Exactly :+1:

[2015-10-19 12:24] dcam0050 commented on #26
Thank you @vtikha and @pattacini very much for your help with this problem!

[2015-10-27 13:07] gregoire-pointeau opened #27 "Conflict between ARE and attentionSelector"
Hello we have a problem that I guess comes from conflicts between `ARE` and `attentionSelector`, when using the `subsystem_ARE`.

What we want to achieve is: the robot looks in front of him at first. There are 4 objects: top/bottom right/left. The robot looks at each object for `2 s`, then points at the object.
(The idea is then with reservoir computing to give the reservoir just the joint informa

[2015-10-27 13:35] maxime-petit commented on #27
Have you tried to run `attentionSelector` without ARE and check the look command?

Then in which order do you launch `ARE` and `attentionSelector`? `attentionSelector` first no? Can you try to switch the order?

I ll try to take a look during the afternoon.

./Max

[2015-10-27 13:39] gregoire-pointeau commented on #27
attentionSelector without ARE works (well it works in the way that it will look at salient objects) but I didn't tried the explicit `iCub->look(object)` without ARE.

Concerning the order, I tried both, and none of them work.

[2015-10-27 13:43] stephane-lallee commented on #27
From what I remember there were some option for each ARE cmd that was basically telling to control or not the gaze.
AttentionSelector and ARE were both interfacing directly to the gazeCtrller which may create conflicts indeed...
You should look into the "point" code to see what are the parameters.

-----Message d'origine-----
De : "Grégoire Pointeau" <notifications@github.com>
Envoyé : ‎27/‎10/‎20

[2015-10-28 10:41] vtikha commented on #14
Hi @Tobias-Fischer, I have tried a few ways of going about this and just committed a new module to the IOL repository that greatly enhances the detection and segmentation of objects. For now this is still in 2D but I have also started working on a 3D version. The module is called `lbpExtract` and uses Local Binary Pattern to analyse the scene and extract blobs which are then finely segmented. In a

[2015-10-29 09:02] Tobias-Fischer commented on #14
Hi @vtikha,

we gave `lbpExtract` a quick try, and it seems to work very nicely! Thanks for this addition, I am sure this will be helpful for future research :).

@pattacini @gregoire-pointeau @maxime-petit @jypuigbo @uriel-martinez: I've created a new XML script for `iol2opc` employing `lbpExtract`, please give it a try as I suppose we should start using this system from now on: https://github.co

[2015-10-29 09:03] pattacini commented on #14
:+1:

[2015-10-29 10:22] vtikha commented on #14
Hi @Tobias-Fischer Great! You are welcome, I am happy you are finding it useful. Let me know if you have any issues, questions, enhancements etc...
Ciao!

[2015-10-30 11:11] Tobias-Fischer commented on #25
@jypuigbo: Any news?

[2015-10-30 11:12] Tobias-Fischer commented on #14
Hi @pattacini, should we close this issue?

[2015-10-30 11:14] pattacini commented on #14
yes indeed, I think so :+1:

[2015-10-30 11:22] Tobias-Fischer opened #28 "[OPCClient] Invalid pointers"
Hi all,
as discussed on slack, we have issues with the `OPCClient`. See for example this code snippet which leads to an invalid pointer, as `checkout()` deletes all the `Entity*`, and allocates new memory for new `Entity*` objects:
[code]

My comments on slack were as follows:
I think we have a fundamental issue. Every time EntitiesCache is used, a list of pointers to entities is returned. However

[2015-10-30 11:22] #14 closed

[2015-10-30 12:44] stephane-lallee commented on #28
Yes, checkout() was there only to get a fresh new snapshot of the opc. For updating existing entities you already have references to, update() was intended to be used.

Most of the time you don't need the whole opc content but just a few entities manipulated by your module, in this case you can just get those entities using addXXX or get and use update/commit.

Checkout was supposed to be used in

[2015-10-30 13:25] Tobias-Fischer commented on #28
Cool. Thanks @stephane-lallee! It seems like we found the evil method then! I propose we jointly go through all occurrences of `checkout()` and decide whether they should be replaced by `update()`. We should probably try doing this before the integration meeting.
The same goes for `EntitiesCacheCopy`, which in my eyes should only be used very rarely. Right now, I have the feeling it is used mostly

[2015-11-02 09:45] pattacini commented on #27
The only practical and neat solution is to make `attentionSelector` rely on `ARE` rather than issuing commands directly to the gaze controller.
I'll see to apply this change this week.

[2015-11-02 09:51] Tobias-Fischer commented on #23
Hi @drdanz and @mbrunettini,
have you further discussed whether it would be possible to add a signing key for the yarp/icub repository?

Best, Tobi
/cc @pattacini @lornat75

[2015-11-09 09:31] pattacini opened #30 "verbRec warnings"
Hi @MagnusJohnsson
Thanks for committing the code to the repo.

Could you please address the following warnings we have during compilation?

[code]

You should also replace `tabs` with `spaces` for a better indentation.

Cheers

[2015-11-09 09:44] pattacini opened #31 "No tracking look"
The `ICubClient::look()` remaps onto a **tracking** behavior of the gaze (by heritage); we should foresee a simple look service (i.e. no tracking) instead.

/cc @gregoire-pointeau

[2015-11-09 10:12] pattacini commented on #31
`ARE` sub-system is ready for that. Thus, the modification is to be applied to `attentionSelector` (where we have a `look(xyz)` but not a `look(object_name)`) and all the downstream modules need to be carefully checked/upgraded.

[2015-11-09 17:52] pattacini commented on #30
Uhm ... your last commits caused history to mess up in GitHub @MagnusJohnsson
Please always rebase before pushing ...

[2015-11-09 22:08] pattacini commented on #27
Addressed by #29

[2015-11-09 22:08] #27 closed

[2015-11-10 20:59] pattacini commented on #30
Hi @MagnusJohnsson

Can you acknowledge you're receiving GitHub notifications?

[2015-11-10 21:00] pattacini commented on #25
Closing...

[2015-11-10 21:00] #25 closed

[2015-11-10 21:18] MagnusJohnsson commented on #30
Acknowledged

[2015-11-10 21:20] pattacini commented on #30
:+1: Thanks

[2015-11-12 09:32] pattacini commented on #30
Hi @MagnusJohnsson

I've done the required changes to fix the annoying warnings, please endorse them in your local repo.

Cheers,
Ugo

[2015-11-12 09:32] #30 closed

[2015-11-12 14:27] MagnusJohnsson commented on #30
Great!

[2015-11-12 21:09] pattacini opened #32 "Rename iros2015 branch"
@jypuigbo @clement-moulin-frier

[2015-11-13 19:05] clement-moulin-frier commented on #32
Hi @pattacini

We have to remove it from the remote repo indeed, we'll take care of this on Monday.

[2015-11-13 19:57] pattacini commented on #32
:+1:

[2015-11-16 18:01] clement-moulin-frier commented on #32
Hi @pattacini ,

Actually we need a remote repo to synchronize the version we are working on between ourselves. We generally use a branch on robotology/wysiwyd to do so, before merging to master when the code is stable. Is it problematic?

Another solution is to fork the repo on one of our github account. Why not but branching is normally the way to work on development versions.

Thanks to let us

[2015-11-16 18:04] pattacini commented on #32
No problem @clement-moulin-frier, keep using [**`iros2015`**](https://github.com/robotology/wysiwyd/tree/iros2015) for your convenience.

[2015-11-16 18:08] Tobias-Fischer commented on #32
Can I suggest renaming `iros2015` to something more expressive, like `reactiveLayer` or `upf-devel` or something like that? ;)

[2015-11-16 18:08] pattacini commented on #32
Good suggestion.

[2015-11-16 19:48] clement-moulin-frier commented on #32
Ok excellent idea, I've just done it.
Side question before closing the issue: do we still have to be careful that the compilation works on other branches than `master`? (i.e will travis try to compile the non-master branches?)
Thx

[2015-11-16 21:18] clement-moulin-frier commented on #32
OK perfect

[2015-11-16 21:18] #32 closed

[2015-11-19 15:46] traversaro commented on #23
FYI : https://github.com/travis-ci/docs-travis-ci-com/pull/390

[2015-11-20 08:26] mbrunettini commented on #23
To add the key signature to an already populated repository is not possible, so this is not an easy task.
But why do you need the signature?
You can easily skip the "are you sure?" question by adding an
--yes  --force-yes
in the apt command. Es:
 apt-get --quiet --yes update
 apt-get --quiet --yes --force-yes install icub-common
(the "--quited" is not mandatory, but it's useful in scripts..)

[2015-11-20 09:52] Tobias-Fischer commented on #23
Hi @mbrunettini,
the original reason why I opened this issue was that to use the new container builds of travis, you cannot use `sudo` anymore (and thus, not `apt-get`). To install packages, you rather have to add them to a whitelist (for which a signed key is necessary), and you can then install them using some travis specific commands.

As @traversaro pointed out, it seems like the request to ad

[2015-11-20 10:27] mbrunettini commented on #23
I think the security issue is not a big issue..
To add another repository for new packages means make it available to another address (or to change  the address of the old one), so losing back compatibility and asking to all people to change their packages list files, this could be a worse problem.

[2015-11-20 10:35] Tobias-Fischer commented on #23
People will have to change their package list files anyway when they move to a new distribution .. So when Ubuntu 16.04 will be released, the new (signed) repo could contain files for this distribution, while the old (unsigned) repo continues to provide updates for older supported distributions.

Best, Tobias
/cc @pattacini @lornat75 @drdanz

[2015-11-20 10:52] drdanz commented on #23
@mbrunettini I agree with @Tobias-Fischer, unsigned packages are a **big** security issue and we should fix that as soon as possible. Moreover it is also 1) annoying and 2) a very bad presentation to people approaching our software. Personally, as a debian user, I already hate installing software that is not on debian repositories. if I wanted to try YARP from binaries, I would immediately give up

[2015-11-23 15:33] clement-moulin-frier opened #33 "Repository quite big in size (120MB)"
Hi guys,

The repository is rather big (120MB), which made cloning quite a long process. I've made an analysis and it appears that files in `wysiwyd/main/app/visionRelated/headPoseEstimator/conf/trees/`  are taking around 40MB. This doesn't explain the 120MB but at least the main part of it.

Do these files really need to be versionized?

[2015-11-23 15:36] pattacini commented on #33
http://stackoverflow.com/questions/2116778/reduce-git-repository-size.

[2015-11-23 19:47] Tobias-Fischer commented on #33
1) Regarding the files for the headPoseEstimator: I'd prefer to have them versionized, otherwise people have to download them from somewhere else and place them in the appropriate directory if they want to run the module. 40MB at the end of the day isn't too much nowadays ..
2) Another explanation for the big size big be the following commit https://github.com/robotology/wysiwyd/commit/d795715dae7

[2015-11-23 22:53] pattacini commented on #33
`git gc` acts on the local repository of course. Then, a `git push --force --all` is required with the dangerous caveat that the history will get modified and everyone is expected to perform a `rebase`.

Other details: http://stevelorek.com/how-to-shrink-a-git-repository.html.

[2015-11-23 23:04] Tobias-Fischer commented on #33
Scary! Let's give it a go during the integration meeting, where we also will be able to ensure that most people get a fresh copy of the repository after the compression will be done.

[2015-11-24 08:02] pattacini commented on #33
Indeed :smirk:

[2015-11-24 12:46] clement-moulin-frier commented on #33
Thanks for the info guys. I agree, it's better to check this during the meeting when everybody will be around. I close the issue for now.

[2015-11-24 12:46] #33 closed

[2015-11-24 15:31] pattacini commented on #33
As side note, the git command to query the size: `git count-objects -vH`

The current result is:
[code]

The interesting field is `size-pack`.

[2015-11-27 22:05] Tobias-Fischer opened #34 "Enable C++11 support for gcc"
Hi,
recently @gregoire-pointeau pushed some changes which require C++11 support. After some reading, I found that under Visual Studio the (partly) C++11 support is automatically enabled. However, when compiling with gcc, one needs to enable the C++11 support by setting the proper compiler flags.
I'd be happy to enable them, it's really easy. Then, we can go ahead with the beauty of C++11.

I'll do

[2015-11-27 22:14] pattacini commented on #34
Fine with me.

[2015-11-28 13:23] Tobias-Fischer commented on #34
Fixed with https://github.com/robotology/wysiwyd/commit/50babc25a16ddb57aedbbc746a6d5e30fc5a0f99
I'll leave this open, as we should be able to get rid of the `boost` dependency in most cases now that C++11 is enabled by default. Currently, boost is needed for the following modules:
* ABM -> boost::thread can be replaced by std::thread
* reservoirHandler -> there is no equivalent to boost::python i

[2015-11-28 13:53] Tobias-Fischer commented on #34
Fixed with https://github.com/robotology/wysiwyd/commit/3d8c4efccc4dd2994b808abc91611eded135b0f4 and https://github.com/robotology/wysiwyd/commit/4ec27b10ee60912f7690d0c39d0926868494e196

[2015-11-28 13:53] #34 closed

[2015-12-01 12:38] Tobias-Fischer commented on #34
To all Windows users: Please mind that this requires at least  Visual Studio 2012!

[2015-12-02 16:16] Tobias-Fischer commented on #31
@gregoire-pointeau @pattacini: Can we close this issue after our discussions yesterday? It seems tracking is what we actually want, so I don't see the need for the look method.

[2015-12-02 16:17] Tobias-Fischer commented on #18
@pattacini: Just a reminder - maybe we can have a look tomorrow.

[2015-12-02 17:32] pattacini commented on #31
Fine for the `single look`, but I still have to check whether there'll be a weird interaction between `attentionSelector` and `ARE` during a commanded action (e.g. `point` ...).

Stay tuned!

[2015-12-02 17:32] pattacini commented on #18
:+1: yep

[2015-12-04 17:37] Tobias-Fischer commented on #31
Actually, I think there is still some discussions to do here. Right now, both the `ARE` and `attention` subsystems offer a `look` service. In `iCubClient`, we employ the service from `attention` (which is then internally calling `ARE`). However, if `attentionSelector` is not running, this is not successful. What should the correct behavior be? Using `attentionSelector` by default, but if the subsy

[2015-12-04 18:29] pattacini commented on #31
I can certainly implement as backup for `look` the call to `ARE` in case `attentionSelector` is not connected, but I don't think it will add that much. If we decided to go for the tracking look then I believe `attentionSelector` must be marked as mandatory component to run the demo.

[2015-12-07 12:40] Tobias-Fischer opened #38 "Extend proactive tagging to be able to rename objects"
During the integration, we talked about having the possibility to re-train the names of objects. For example, the iCub might think an object is called `apple`, but its actual name is `carrot`. This might be due to a) wrongly detected pointing in the training phase or b) `apple` might be a fantasy name of the iCub.

A simple implementation might be to just use the already existing code, but extend

[2015-12-07 12:42] Tobias-Fischer opened #39 "Look at object before pointing the object"
The iCub should look at an object before asking what the name of the object is. Same for agents.

[2015-12-07 12:42] Tobias-Fischer commented on #39
Fixed with https://github.com/robotology/wysiwyd/commit/da46f84fea9ec4a2a41d1b4afbbcea0c33a3a93a

[2015-12-07 12:42] #39 closed

[2015-12-07 12:44] Tobias-Fischer opened #40 "Integrate SAM -> Send command and wait for reply"
When a human starts an interaction, we should use SAM to see whether we already know the face.

[2015-12-07 12:45] Tobias-Fischer commented on #40
Fixed with https://github.com/robotology/wysiwyd/commit/da46f84fea9ec4a2a41d1b4afbbcea0c33a3a93a
Was working fine on the Friday of the integration.

[2015-12-07 12:45] #40 closed

[2015-12-07 12:46] Tobias-Fischer opened #41 "Ask to move bodypart"
We should be able to ask the iCub to move a bodypart, e.g. `iCub, move your index`. Then, the iCub responds `I don't know my index, can you please touch it`.

This extension is similar to the extension which was made at BCBT2015 for objects.

[2015-12-07 12:47] Tobias-Fischer opened #42 "Run attention selector during proactive tagging"
Attention selector should run in the demo, so the iCub appears more alive .. :).

This comes with the problem that some objects might disappear from the view.

[2015-12-07 12:48] Tobias-Fischer opened #43 "Demo with two different agents and different set of objects"
@gregoire-pointeau was saying that we should extend the demo so the iCub is interacting with two different agents, and each agent might use different objects.

[2015-12-07 12:50] Tobias-Fischer opened #44 "Integrate perspective taking for looking to find out which object human is looking at"
Rather than just using the pointing action, we should be able to use perspective taking to infer which object the human is looking at. This can be used to increase the salience of an object, and thus for the proactive tagging demo.

[2015-12-07 12:51] Tobias-Fischer opened #45 "Proactively tag actions"
In the meeting with Yiannis, he suggested that one possible way to extend the demo might be to proactively tag actions. I.e. the iCub should be able to discover the names of the actions he is able to do. We should start with looking, pointing and pushing.

[2015-12-07 12:53] Tobias-Fischer opened #46 "Integrate reservoir for language understanding and production"
See title

[2015-12-07 12:54] Tobias-Fischer opened #47 "Use narrative handler"
@gregoire-pointeau suggested to use the narrative handler in the proactive tagging demo, so the iCub can talk about past events. Please add some more details what you imagine @gregoire-pointeau

[2015-12-07 12:55] Tobias-Fischer opened #48 "Change pasar to be able to deal with names different than "partner""
Right now, pasar is relying on an agent called `partner` for the pointing detection etc. - this needs to be extended.

Anyone from UPF willing to take care of this? @jypuigbo @clement-moulin-frier @sockchinglow

[2015-12-07 12:56] Tobias-Fischer opened #49 "touchDetector crashes just before touching"
During the London integration meeting, we had the issue that `touchDetector` is crashing right at the moment when we try to detect the touch in the `proactiveTagging` module. We need to debug why and fix the issue.

Any volunteers?

[2015-12-07 12:59] Tobias-Fischer opened #50 "Reduce speech recognizer time delay"
So far, we need to wait several seconds before a sentence is recognized when the grammar of `speechRecognizer` is changed. I think a clean solution would be to interrupt the loop in which the `speechReognizer` is stuck when called with `recognizeGrammerLoop` (or something like that), so a new grammar can be loaded faster. That seems to be cleaner than reducing the time of the loop.

@maxime-petit:

[2015-12-07 13:01] Tobias-Fischer opened #51 "Extend agentDetector to deal with several agents"
We had the issue in the integration meeting that `agentDetector` always detected an agent called `unknown` which is present, although there is another agent called `partner` which is the agent we actually want to recognize.
Further, I suggest to rename `unknown` to `unknown_agent`.

[2015-12-07 13:02] Tobias-Fischer opened #52 "Integrate perspective taking module in WYSIWYD"
The currently available module is outdated, and the new module relies on ROS. Thus, we need to find a way to compile this module in the proper place if ROS is installed.

[2015-12-07 13:21] pattacini commented on #50
/cc @robotology/speech-developers

[2015-12-07 13:59] stephane-lallee commented on #51
In fact there was a piece of code commented out within agent detector that was proceeding to face identification if the correct module was present. Then the skeleton would be named a d tracked properly. We never really used it, but if you have time to spend it is a required step toward the "ultimate child robot" ;-)

-----Message d'origine-----
De : "Tobias Fischer" <notifications@github.com>
Envo

[2015-12-07 14:08] stephane-lallee commented on #50
As far as I remember the length of the recognition timeout was a parameter of the SAPI method. I'm quite confident that you cannot interrupt "cleanly" the loop as there was no asynchronous/callback based method. But feel free to try and please keep me posted if you manage to sort it out.

If you do then that would also solve the "hanging" problem when you close the module with ctrl-c.

-----Messag

[2015-12-08 14:01] maxime-petit commented on #38
For this, there are 2 method in proactive:
- exploreUnknownEntity : does not care I think about the name unknown or not, so you can actually rename an object. It is just that the order (coming from allostatic) should allow that
- searchEntity : in that case, inside we check that "unkown" is part of the current name, so here we will need to change this

It is because the first one is for the robot

[2015-12-08 14:02] maxime-petit commented on #41
I can take care of this

./Max

[2015-12-08 14:05] maxime-petit commented on #42
@Inserm the FPS for the IOL is 10 FPS, so it might not be so much of a big issue under "normal" GPU CUDA optimisation for the "smoothness".

However, we have to implement a small "searching" behavior if the robot is just looking to 1/2 object because the 3rd one is none visible when looking the others

[2015-12-08 14:06] maxime-petit commented on #47
We can try also to use the narrative module as soon as it is pushed/documented, in order to compare between INSERM/IMPERIAL ABM.

[2015-12-08 14:08] maxime-petit commented on #49
Can/Should we also add Bertrand for this?

[2015-12-08 14:10] Tobias-Fischer commented on #49
Nah, I think the module is running very nicely otherwise and it only ever crashes if we read the port in the `proactiveTagging` module.
I'll have a look.

[2015-12-08 14:11] Tobias-Fischer commented on #42
I guess it would be a good idea if someone from a lab with the cluster is taking care of this, so we have similar conditions to what we will have in Lyon.

[2015-12-08 14:54] Tobias-Fischer opened #53 "Comparison to iTalk project"
Someone should find out how our demo advances the work done in the iTalk project: http://www.italkproject.org/

[2015-12-08 14:56] Tobias-Fischer opened #54 "Comparison to ALEAR project"
Someone should find out how our demo advances the work done in the ALEAR project.

[2015-12-08 14:57] Tobias-Fischer opened #55 "Comparison to CHRIS project"
Someone should find out how our demo advances the work done in the CHRIS project: http://www.chrisfp7.eu/

[2015-12-08 14:59] Tobias-Fischer opened #56 "Comparison to POETICON(++) projects"
Someone should find out how our demo advances the work done in the POETICON and POETICON++ projects: http://www.poeticon.eu/ and http://poeticon.csri.gr/

[2015-12-08 15:02] Tobias-Fischer opened #57 "Comparison to Bugmann & Cangelosi"
Someone should find out how our demo advances the work done by Bugmann (e.g. http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4415179&tag=1) and Cangelosi (https://scholar.google.co.uk/citations?user=NyoHewcAAAAJ&hl=en&oi=ao)

[2015-12-10 15:38] Tobias-Fischer opened #58 "Populate object names to the different grammars"
Right now, both grammars of `proactiveTagging` as well as `ears` need to be changed when adding/removing/changing the names of objects. This should be somehow unified.

@maxime-petit suggested to retrieve the possible names of objects from the `autobiographicalMemory`.

Best, Tobi

[2015-12-10 15:48] gregoire-pointeau commented on #58
One issue with it, would be that for the proactiveTagging scenario from a very pragmatic point of view, we would always say: "I know what is a croco, and the croco is not here".
So, maybe a boolean to populate or not this vocabulary would be good I guess.

[2015-12-10 18:58] Tobias-Fischer commented on #58
We are only talking about the grammar of the speech recognizer here. This should not change any behavior of any of our modules.

[2015-12-10 18:59] Tobias-Fischer commented on #51
@maxime-petit and I tackled this today, and will commit the updated version after some more tests. However, the drawback is that only one partner is allowed, so multiple skeletons will not show up. I guess we need to find a way to handle multiple simultaneous partners.

[2015-12-11 09:30] Tobias-Fischer commented on #23
Hi @mbrunettini,
Pushing this issue as I fully agree with @drdanz. Especially as it only seems to be a small change without any impact on the existing packages, but big improvements for future packages.

Best,
Tobias
/cc @pattacini @lornat75 @drdanz

[2015-12-11 10:56] maxime-petit commented on #56
I ll check Poeticon++

[2015-12-11 17:25] maxime-petit commented on #50
Yop!

We should not wait for the iCub to ask a question/sentence before sending the grammar to be recognized, in that case we can "earn" 1 second. I have also reduced the delay in the .ini file of the speech to 1000 ms (in my own local .ini file so you have to do the same). It is fine because the system blocks the new grammar when you are currently speaking, so it does not matter if you talk for m

[2015-12-11 17:27] maxime-petit commented on #56
Replied on slack, comparable-project channel.

[2015-12-11 17:30] Tobias-Fischer commented on #56
Thanks @maxime-petit. Closing.

[2015-12-11 17:30] #56 closed

[2015-12-12 14:34] pattacini commented on #28
As side note, see also 506e2f5ac642ece0e8246ecf690846ced43e32ee.

The pointer returned by `OPCClient::getEntity()` was not checked against `NULL` causing `attentionSelector` to seg-fault whenever a call to `OPCClient::clear()` was done concurrently from within a different module (e.g. `test-cartesian-sim`).

This is to say that we should not take any assumption on the pointer returned by `OPCClien

[2015-12-12 15:05] pattacini commented on #18
I think we could solve this issue more elegantly as follows:

1. `depth2kin` is running, loaded with the experts and connected to our system. Then, we can easily ask for the mapping. We are thus using the **iCub vision**.

2. Two possible cases are given for the configuration with the **Reactable**:
    2a. `depth2kin` is running with no experts and connected to our system. Then, any query will re

[2015-12-12 15:07] pattacini commented on #18
Further, if the change will be located in `ARE`, this means that we don't have to do anything here.

[2015-12-13 16:54] Tobias-Fischer commented on #28
After your comment, I thought about this issue yet again. My previous suggestion of replacing `checkout()` with `update()` doesn't work, as we would never retrieve newly added objects from the OPC. However, replacing `checkout(updateCache=true)` by `checkout(updateCache=false)` might work. Actually, just replacing the default value of `updateCache` might do the trick. Or as said before, rewriting

[2015-12-13 16:59] Tobias-Fischer commented on #18
Hi @pattacini,
what would happen if someone provides the already corrected coordinates to `ARE`? These would be "double-corrected" leading to wrong coordinates. It's kind of breaking the compatibility if this change is made directly in `ARE` for other people, unless there is a flag which is set in a way that by default already corrected coordinates are assumed.
Other than this your suggestion soun

[2015-12-13 19:00] pattacini commented on #18
I was thinking about introducing that right flag, actually :smirk:, to address the condition you mentioned.

Anyway, `ARE` has already the capability to apply some internal correction (e.g. via _kinesthetic teaching_), thus this change won't totally break the original behavior, up to some extent.

[2015-12-13 19:09] pattacini commented on #28
I'm honestly a bit lost among `checkout()`, `update()` and so on; I'd really need some time to catch up again with `OPCClient` ...

###### Further notes regarding your doubt on the race condition

Well, after the call to `getEntity()` you'll get a fresh local copy of the entity stored in the actual `OPC` only if the object is still contained therein (otherwise the pointer is `NULL`). Therefore, th

[2015-12-13 19:34] Tobias-Fischer commented on #28
Regarding the doubts: I am not too sure what happens in the case to be honest. I think that a `clear()` between the check against `NULL` and the usage of the pointer would corrupt the local object, as `clear()` deletes the (object referenced by the) pointer. Thus, the memory which is referred by the pointer may still contain the object, but might as well be overridden by something completely diffe

[2015-12-13 19:36] Tobias-Fischer commented on #18
Sounds good to me then! Thanks :)

[2015-12-13 20:36] pattacini commented on #28
I was referring to the case where `getEntity()` is called by module **A**, whereas `clear()` is called by module **B**. No problem here, since `OPC` will take care of performing concurrent actions in a thread-safe manner, let's say.

Instead, in the scenario where both `getEntity()` and `clear()` are called within the same module **A**, then it's the responsibility of **A** to protect against race

[2015-12-13 20:55] Tobias-Fischer commented on #28
Indeed, agreed :)!

[2015-12-13 21:17] hjchang opened #59 "Comparison to RoboHow project"
Someone should find out how our demo advances the work done in the RoboHow project: https://robohow.eu

[2015-12-15 13:51] clement-moulin-frier commented on #53
I take this one, I will report it on Slack

[2015-12-15 15:05] Tobias-Fischer opened #60 "[iol2opc] Add options --empty and --nosave"
With similar behavior to the `objectsPropertiesCollector`.

This is a low priority issue.

[2015-12-15 16:40] maxime-petit commented on #54
I ll check that one

./Max

[2015-12-15 18:59] Tobias-Fischer commented on #51
This is now working nicely, however still under the assumption that only one partner is in the scene. Also, `agentDetector` can now handle a partner named differently than `partner`, and the `iCubClient` automatically informs `agentDetector` if the name of an agent was changed (`changeName` method). Obviously, this needs to be extended, but I guess it's a good start.

[2015-12-15 19:01] Tobias-Fischer commented on #48
This can be easily done using the commit for agentDetector (see https://github.com/robotology/wysiwyd/issues/51 and https://github.com/robotology/wysiwyd/commit/fb464122a4bfff79f04c96910136bb6615032916) as template. Someone please assign this issue to him/herself; let me know if you have questions.
@sockchinglow: This might be a good opportunity to get familiar with some of the core systems of WYS

[2015-12-16 13:30] maxime-petit commented on #54
Replied on slack, comparable-project channel.

[2015-12-16 13:30] #54 closed

[2015-12-18 20:02] pattacini commented on #31
What's the final decision on this?

[2015-12-18 20:29] DbD commented on #31
Ramping the project up again. Thanks Dick Woods 

Sent via the Samsung Galaxy S® 5 ACTIVE™, an AT&T 4G LTE smartphone

-------- Original message --------
From: Ugo Pattacini <notifications@github.com>
Date: 12/18/2015  1:02 PM  (GMT-07:00)
To: robotology/wysiwyd <wysiwyd@noreply.github.com>
Subject: Re: [wysiwyd] No tracking look (#31)

What's the final decision on this?

—
Reply to this email dir

[2015-12-18 20:41] Tobias-Fischer commented on #31
We don't use attention selector here, so I personally think it would be nice to have a backup in that case :)
What do you think @gregoire-pointeau?

[2015-12-18 21:14] pattacini commented on #31
Ok then, I'll do the backup.

[2015-12-19 16:50] #31 closed

[2015-12-20 09:20] pattacini commented on #60
I've added the `--empty` option to `iol2opc` and it should work.

Conversely, the `--nosave` is tricky 'cause cannot be localized in just one place. As soon as the user stops the application, the modules can shut down independently and in a random order, thus not leaving any room for communicating that the `--nosave` process needs to be done.

I really don't like to spread this options among multi

[2015-12-22 08:50] Tobias-Fischer commented on #60
Great, thanks a lot Ugo! I didn't think about the issues regarding `nosave` and agree it would be too much hassle to implement.
I'll close this issue as soon as I tested the functionality of `empty` (probably in the new year).

Thanks, Tobi

[2015-12-22 14:19] lornat75 commented on #23
I spoke with @mbrunettini: one problem is that it seems that the repository we set up can't provide mixed signed/non-signed packages, therefore signing packages may require reinstalling the repository or signing old packages. Anyway @mbrunettini will try to find a way to sign new packages. This is scheduled for the first months of next year.

[2016-01-04 10:10] gregoire-pointeau opened #61 "PASAR handle burst of appareance and disappearance"
PASAR should be able to detect when an object appears or disappears (given a timing of confidence as parameters).
PASAR should also send the information in the ABM (such as: "agent enters" or box disappeared).

[2016-01-04 10:16] gregoire-pointeau commented on #45
To be able to do so, it would be nice to have a set of unknown action to perform (maybe it's already in proagtiveTagging.cpp ?).
Another issue is to have a "dictionary" of actions I guess.

[2016-01-04 18:30] Tobias-Fischer commented on #60
Working perfectly, thanks!

[2016-01-04 18:30] #60 closed

[2016-01-04 18:45] Tobias-Fischer opened #62 "Visualization of drives"
Hi @clement-moulin-frier, @jypuigbo and @sockchinglow,

according to @maxime-petit there was a visualization of the drives, their comfort-zones, and the prioritization between drives in EFAA. It would be nice to have this kind of visualization also in WYSIWYD, as 1) it simplifies debugging purposes, to see why the current drive was activated / when the next drive will be activated etc. and 2) the

[2016-01-04 19:54] stephane-lallee commented on #62
Yes, those were simply colored boxes in iCubGui. I also did a better visualization in C# at some point but the code is lost.

My suggestion would be for you to go for some python gui as there is no proper way to display 2D element in iCubGui. For yarpscope it would require writing a small module retriving the drive values and streaming them as a single bottle.

-----Message d'origine-----
De : "To

[2016-01-05 11:09] clement-moulin-frier commented on #62
Yes I agree it is an important feature to have. @jypuigbo from what I remember you have already coded something in Python to do this (ethogram)?

[2016-01-05 11:30] maxime-petit commented on #62
We might also use the same kind of histogram that you can have in iol (drawScoresHistogram method?), with the objects names probability? In that case we keep it yarpview/c++ and we can reuse the code

./Max

[2016-01-05 13:04] pattacini commented on #62
Good idea @maxime-petit

[2016-01-05 13:48] clement-moulin-frier commented on #53
The review is available on the dedicated topic on Slack

[2016-01-05 13:48] #53 closed

[2016-01-06 17:13] Tobias-Fischer commented on #49
We just tried again, and it seems to work fine (without any changes). Closing until we find out otherwise.

[2016-01-06 17:13] #49 closed

[2016-01-07 15:06] Tobias-Fischer commented on #41
I have started tackling this issue in https://github.com/robotology/wysiwyd/commit/2782298e29990602aec92f5fb5562182866352e2

However, the following bits are missing:
1. `pasar` needs to be used to increase the saliency when the iCub is touched for the respective body part
2. the `iCubClient` needs a method to call the `babbling` module. If the name-joint association is already known, the robot wil

[2016-01-07 15:09] Tobias-Fischer commented on #50
Hi @maxime-petit,

I remember we had worked on this before the Christmas break. I think we can close this issue.
We just have to be careful always first loading the new grammar, and afterwards use e.g. `iCub->say()`, `iCub->point()` etc. This way, the grammar is changed before the iCub is asking for a response, and thus after the `iCub->say()` the new grammar should be loaded in most of the cases.

[2016-01-07 15:09] Tobias-Fischer commented on #61
@pattacini might be interested regarding the object stuff

[2016-01-07 15:24] Tobias-Fischer commented on #41
4. Add "Move your hand" etc. to `MainGrammar.xml` of `ears`

[2016-01-08 11:42] Tobias-Fischer commented on #41
@maxime-petit and I have found a fundamental problem here. After touching e.g. the iCub's index, the iCub will then know the relation between a set of taxels and a name, however the iCub is still missing the relation to the corresponding joint.
So either we have to assume this relation is known beforehand, or we have to somehow find the corresponding joint as well. @maxime-petit suggested that we

[2016-01-14 14:53] Tobias-Fischer opened #65 "Babbling should use subsystem_ABM"
Hi @maxime-petit and @martz21,

I know that you guys have written some code within `babbling` to communicate with the `ABM`. I think rather than the customized code, it should use the `subsystem_ABM`.

Nothing urgent, but we should do it :).

Tobi

[2016-01-15 13:35] gregoire-pointeau commented on #61
Easy peazzy lemon squizzy !

[2016-01-15 13:35] #61 closed

[2016-01-15 13:48] gregoire-pointeau commented on #48
The kinect cannot detect more than one agent.
I would suggest to replace: `name = "partner"` by `isAgent()` and `name != "iCub"`

[2016-01-15 13:56] Tobias-Fischer commented on #48
Ahhh I didn't know that. Works for me then!

[2016-01-15 13:57] Tobias-Fischer commented on #48
Maybe `name!=iCub && name.doesnotstartwith("unknown") && isAgent()`?!?

Thanks for pointing this out @maxime-petit

[2016-01-15 14:00] gregoire-pointeau commented on #48
Well it depends if we can have several agents in the opc. Normally yes (iCub + partner).
But kinect is only able to detect once at the time.
So if there is an agent which is not the iCub, it should be the partner no ?

[2016-01-15 14:01] Tobias-Fischer commented on #48
Ahh yeah, for the pointing context it does not matter what the name of the partner is. We should still check the `isPresent` flag though.

Best,
Tobi

[2016-01-15 14:02] gregoire-pointeau commented on #48
Indeed. So for pasar, I don't need to check that the name is not `unknown`, because an unknown agent can move or point anyway right ?

[2016-01-15 14:10] Tobias-Fischer commented on #48
Yes, correct.

[2016-01-15 14:16] maxime-petit commented on #48
In order to cope with potential improvements (e.g. buying a Kinect2 that allow multi-users skeleton) if you can rise a warning if there are more than one agent (not iCub) present (even if in that case you take the first one by default or something else)

It can also be used in that way for catching potential error of updating the presence of agents

[2016-01-16 14:28] pattacini opened #66 "[agentDetector]: better handling of images selection and positions"
Hi @robotology/wysiwyd-developers

Via ac698d41714c4cc51e7255b868793743d5300c70 I applied a patch to `agentDetector` with the aim to better handle the selection of image types to show (i.e. `rgb`, `depth`, `skeleton`, and `players`) so as their location on the screen.

The new relevant command-line options are: `showMode`, `--x-[type]`, `--y-[type]`, where `type` can be one of the known types.

Th

[2016-01-16 14:29] #66 closed

[2016-01-18 09:41] gregoire-pointeau commented on #48
Done.

[2016-01-18 09:41] #48 closed

[2016-01-18 09:46] Tobias-Fischer commented on #48
:+1:

[2016-01-18 10:21] gregoire-pointeau commented on #46
A first version of the subsystem if created.
Coming next, in "WYSIWYD2016 Resurrection", the proper tools to install `LRH`

[2016-01-19 14:21] clement-moulin-frier commented on #62
The problem in using an histogram is that we loose the evolution of drives through time. I would rather go for a graph with time on the x-axis and drive values on the y-axis (better for explaining during the review, and maybe also for debugging). Do you agree?

I can do it using yarp view if there is a way to label the plots (like a colored legend, or the name of each drive next to its curve). Do

[2016-01-19 14:28] maxime-petit commented on #62
Actually I think both is better :D

The plot for some history, the histogram to show better (because bigger and with the label) what is the biggest current drive (and so the one that is currently triggering the behavior) maybe with the threshold visible?

The histogram thing was also because it is already implemented for the object name so it should be too long to use it for drives? The plotting t

[2016-01-19 14:28] gregoire-pointeau commented on #43
Concerning the different objects, there are no problem.
Concerning the agent, maybe we can put in `pasar` that a disappearance of an agent, puts his/her name to "partner" or "unknown" again ?

[2016-01-19 14:42] Tobias-Fischer commented on #43
I think `agentDetector` used to deal with different agents. Internally, the kinect already can differentiate different agents somehow. We lost this ability when we changed `agentDetector` such that the name of an agent can be changed. However the code hasn't changed much, and we should be able to go back to the old behavior.

[2016-01-19 14:43] clement-moulin-frier commented on #62
OK, to have something ready asap, I prefer to do it in Python (I have no experience with visualization in C++ or with yarp).
What do you mean by " if it is embedded fine"?

[2016-01-19 14:46] maxime-petit commented on #62
I mean we should NOT run the python script or another additional module for visualization. It should be running when we just launch homeostatis/allostatic :)

[2016-01-19 14:54] Tobias-Fischer commented on #62
I would be fine with another (python) script to run for now. As long as it's installed in the proper folder, we will be able to use yarpmanager to launch it, so I think it's fine.

[2016-01-19 14:55] clement-moulin-frier commented on #62
mmm, not sure about it @maxime-petit . E.g. you might want to run the module on a computer with no graphics (what would make the module crash if visualization is directly embedded in it)

[2016-01-19 14:56] clement-moulin-frier commented on #62
OK I will go for a python script as a first trial, then we'll see. I try to figure this out this afternoon.

[2016-01-19 14:57] maxime-petit commented on #62
Yep sure :)

[2016-01-20 15:19] clement-moulin-frier commented on #62
Hi there,

I've a first version ready to test. However it is not clear how to set cmake so that the script is installed properly. Anyone has an experience with this?

Thx

[2016-01-20 17:03] Tobias-Fischer commented on #62
Hi,
have a look at https://github.com/robotology/wysiwyd/blob/master/main/src/modules/samRelated/SAM/SAM_Demos/CMakeLists.txt

Looking forward to the commit!

Best, Tobi

[2016-01-20 20:13] clement-moulin-frier commented on #62
Thanks @Tobias-Fischer

I have pushed it, with update in the cmake to install it correctly. It still have to be improved a lot but please first try this version (see below for how to do) and give me your feedback about what features/improvements would be useful (see below about the one I plan to do).

## To run it:
You have to run [`allostatic_plot.py`](https://github.com/robotology/wysiwyd/blob/m

[2016-01-21 09:38] Tobias-Fischer opened #68 "Try SAM with OpenCV3"
See whether SAM still behaves the way it should using OpenCV3 (see https://github.com/robotology/wysiwyd/pull/67).

[2016-01-21 11:26] Tobias-Fischer commented on #18
Hi @pattacini,
just checking whether this is still on your radar ;).

Best, Tobi

[2016-01-21 11:43] pattacini commented on #18
Yeah :smirk:
However I've changed my mind again on the way to go ...
... I would finally choose a solution embedded in `subSystem_ARE`.

The rationale is that in the end I don't want to overcrowd `ARE` too much.

[2016-01-21 11:54] Tobias-Fischer commented on #18
Sounds good :)

[2016-01-26 18:56] pattacini opened #71 "Resolve pitfall on opcclient::changeName vs. iol2opc::changeName"
As @Tobias-Fischer correctly pointed out, we should resolve asap the potential pitfall we have on the name-change procedure, since we can do that in two different ways: through `opcclient` and through `iol2opc`.

[2016-01-26 20:06] jypuigbo opened #72 "Ears segfaulting and SpeechRecognizer blocking"
I've been tracking the issue of ```ears``` unstability and I have maybe one first insight.

```ears``` is currently trying to recognize something and it doesn't stop until it recognizes something This makes it a blocking module (so also slowing the flow of the ```proactiveTagging``` module). I added a couple of fixes that make it segfault less often, although don't solve this specific issue.

I wa

[2016-01-26 20:12] jypuigbo opened #73 "ProactiveTagging segfaults after successful recognition"
I've updated all yarp and iCub today and it seems that the ```proactiveTagging``` module is no longer working in Barcelona.

2 strange things happen:
1) after recognizing the sentence, it prints it and has this shape:
[code]
2) After printing this, it consistently segfaults.

I wanted to know if this is known or it might be related to the update.
@Tobias-Fischer @gregoire-pointeau

[2016-01-26 20:30] pattacini commented on #71
At first sight, it seems that we always rely on `iol2opc::changeName()` for this service when we deal with objects and we resort to `opcclient::changeName()` only when the `iol2opc` sub-system is not available.

@Tobias-Fischer is this sufficient?

[2016-01-26 22:44] clement-moulin-frier commented on #73
A possible cue about why we have those `-1.0` in the output of the speech recognizer (we don't remember having seen them before):

It seems to come from [those lines](https://github.com/robotology/speech/blob/master/speechRecognizer/src/SpeechRecognizerModule.cpp#L741-L751), meaning that `USE_LEGACY` is `true`. I don't what this legacy is about, but in [an old wysiwyd xml](https://github.com/robot

[2016-01-26 23:11] Tobias-Fischer commented on #73
Maybe @maxime-petit can help out regarding the speech recognizer. Didn't you have problems regarding this recently? How did you solve the other issue?

[2016-01-26 23:13] Tobias-Fischer commented on #73
By the way, these kind of problems are exactly the ones I was referring to the other day on slack ...

[2016-01-26 23:15] Tobias-Fischer commented on #72
See also https://github.com/robotology/wysiwyd/issues/50

[2016-01-27 08:03] Tobias-Fischer commented on #71
Yes this is sufficient. I think we should remove the call to `opcclient::changeName()` in case that the `iol2opc` system is available, as the latter now removes stale objects automatically which was not the case before.
I'll do this in a minute.

[2016-01-27 08:06] Tobias-Fischer commented on #71
See https://github.com/robotology/wysiwyd/commit/1bde1583f4bc36da62fa84df712a526527fc141e

I think we can close here.

[2016-01-27 08:07] pattacini commented on #71
:+1:

[2016-01-27 08:07] #71 closed

[2016-01-27 08:16] gregoire-pointeau commented on #73
I confirm this comes from the `speechRecognizer` and not from `proactiveTagging`.
I mixed up between what is legacy and what is not, but for sure Clément you'll have to play with it.

[2016-01-27 08:36] Tobias-Fischer commented on #72
Did you push the fixes for `ears`?

[2016-01-27 09:06] gregoire-pointeau opened #74 "caffeCoder starts with a segFault"
Hi. Everything is in the title, here is was I get when launching `caffeCoder` on the `icub-cuda`:

||| clearing context
||| adding context [himrep]
||| configuring
||| no policy found
||| default config file specified as caffeCoder.ini
||| checking [/usr/local/src/robot/caffeCoder.ini] (pwd)
||| checking [/home/icub/.config/yarp/robots/iCubLyon01] (robot YARP_CONFIG_HOME)
||| checking [/home/icub/

[2016-01-27 09:26] Tobias-Fischer commented on #74
Before doing any debugging, can you please update `himrep`? Also, did you follow the instructions in https://github.com/robotology/himrep/blob/master/README_Caffe.md (everything which is written under `caffeCoder Setup`?

[2016-01-27 09:46] GiuliaP commented on #74
Hi, may I ask you to perform some checks in order to try to understand the problem?

1) Does the error repeat the same even after cleaning all ports in the network?
2) Although it does not seem to be a problem of Caffe, which Caffe commit are you using? You can get it by tiping `git log -1` from Caffe's repository directory
3) Could you insert some printouts in the `.configure` method of the class

[2016-01-27 09:50] GiuliaP commented on #74
Thanks @Tobias-Fischer, indeed your checks are to be done first :)

[2016-01-27 09:56] gregoire-pointeau commented on #74
Ok, My bad, it was coming from a mess between the different blades of the cluster and the cuda.
Thanks anyway !

[2016-01-27 09:56] #74 closed

[2016-01-27 10:01] jypuigbo commented on #72
I think I committed but not pushed. Anyway, before I do, yesterday a discussion begun with @clement-moulin-frier : are we sure that
[code]
does the same as
[code]
Because I was seeing ```subsystem_recog``` disconnecting and reconnecting to ```ears```, when ```proactiveTagging``` was loading a new grammar.

When this is clear, I'll push or change the commit.

[2016-01-27 10:05] jypuigbo commented on #72
About the asynchronous part, I'll try to see if I can get how it works, as there's an rpc command to load/clear grammars asynchronously in ```speechRecognizer```.

[2016-01-27 10:07] Tobias-Fischer commented on #72
I am not sure how the yarp internals work in these regards. Do you know @pattacini? Can you give us some insight in what you are trying to achieve?

[2016-01-27 10:09] pattacini commented on #72
I think that a call to `yarp::os::Network::connect()` will first disconnect (if already connected) and then connect (again), whereas `yarp::os::Network::isConnected()` just queries the current status of the connection.

[2016-01-27 10:40] maxime-petit commented on #73
Yop!

speechRecognizer should always be running with --noLegacy as option. I thought I updated the .ini file but it seems not :)

I opened an issue to have this option by default

./Max

[2016-01-27 10:43] pattacini commented on #73
Hold on @maxime-petit ;)
Default options of `speechRecognizer` won't change until I'll be alive :)
As far as I understood its behavior can be already tuned via command line, so in `wysiwyd` we stick to the present configuration.

[2016-01-27 10:44] Tobias-Fischer commented on #73
This issue might be related, where @jypuigbo reported problems but then never replied whether it was resolved .. https://github.com/robotology/wysiwyd/issues/25

[2016-01-27 11:01] maxime-petit commented on #73
@ugo : no problem :)

[2016-01-27 11:26] pattacini commented on #73
:+1: :smirk:

[2016-01-27 17:23] jypuigbo commented on #73
The --noLegacy effectively solved the problem. Thanks!

[2016-01-27 17:23] #73 closed

[2016-01-27 17:28] jypuigbo commented on #72
Cool. I made the changes to avoid this dis/re-connecting happen again.

I leave the issue open to continue working on the asynchronous recognition part.

[2016-01-27 23:06] Tobias-Fischer commented on #72
See https://github.com/robotology/wysiwyd/commit/bb849b72f5d7cf1ac35f3623e090176eecbd7cf6

[2016-01-27 23:07] Tobias-Fischer commented on #50
See https://github.com/robotology/wysiwyd/commit/bb849b72f5d7cf1ac35f3623e090176eecbd7cf6

[2016-01-28 14:18] gregoire-pointeau opened #75 "Removing Choregraphie and Posture"
Hello.
Does anyone in @robotology/wysiwyd-developers use the `choregraphie.ini` and `posture.ini` from `iCubClient`?

I now that it was something created by Stéphane, but I'm pretty sure that no one uses it anymore. What about removing it and simplify all the config files?

[2016-01-28 14:24] Tobias-Fischer commented on #75
Fine with me.

[2016-01-28 14:25] gregoire-pointeau commented on #75
The idea would be also to put the list of `subsystem` which is until now, in a `client.ini` file, directly in the `module.ini` file.

[2016-01-28 14:26] Tobias-Fischer commented on #75
Then, also all of this should be removed: https://github.com/robotology/wysiwyd/search?utf8=%E2%9C%93&q=posture.ini&type=Code

[2016-01-28 14:27] Tobias-Fischer commented on #75
Regarding `client.ini` and `module.ini`, I don't know how the internals work, and propose to keep everything as is to not introduce more issues than we already have. However, if someone knows and is willing to change all configuration files of all modules, go ahead ;).

[2016-01-28 14:28] gregoire-pointeau commented on #75
I'm not certain that the `postures` present in the `client` and in the `Babbler` are related. I'mon the contrary pretty sure they are not.

[2016-01-28 14:29] gregoire-pointeau commented on #75
I just want to be sure that no one "really" uses the `client.ini` file for anything else that the list of `subsystems` and that no one uses the `posture` and `choregraphie` from the client.

[2016-01-28 14:38] Tobias-Fischer commented on #75
All I wanted to say with the link is that if we decide to remove the config files, we should also remove the related code.
Maybe @stephane-lallee can provide some insight to these three ini files?

[2016-01-28 14:39] gregoire-pointeau commented on #75
I am in `iCubClient.h` and `iCubClient.cpp`  trying to figuring it out.

[2016-01-28 14:47] gregoire-pointeau commented on #75
I've checked, the only files `posture.ini` and `choregraphie.ini` found are in `iCubClient` and the only use if found in `postureBabller`.
I'm almost certain that this module is no more used in WYSIWYD and we could remove it.

[2016-01-29 12:59] clement-moulin-frier commented on #75
We'll probably use such postures and choregraphies for the reactive layer but not those defined in the files you mention, so why not removing them if you want. However we sometime use the `postureRecorder` so we should keep the related code (as well as the code to replay them). Cc @jypuigbo

[2016-01-29 15:53] gregoire-pointeau commented on #75
I just wait for @jypuigbo and I remove `posture.ini` and `choregraphie.ini`.

[2016-01-29 16:15] gregoire-pointeau commented on #46
`lrh` has now a `subsystem` with 2 functions: `meaningToSentence` `sentenceToMeaning`.
For now the `meaning`, the formalism is still a bit obscure.
I'll try to have something easier to use.

[2016-01-29 16:20] gregoire-pointeau commented on #47
first version is in place.
People with a `ABM` can try to launch `narrativeHandler` by playing with the parameters in `narrativeHandler.ini`:
- `dThresholdDiffStory` is the timing between two event from a same story
- `dThresholdSizeStory` is the size minimum of a story in term of events.
- `lrh` should be at `1` if you want to use `lrh` to create the story, either only a simple `A-P-O-R` form is

[2016-01-29 17:19] stephane-lallee commented on #75
You'll probably need to change the iCubClient constructor as it is expecting those. Have fun ! 😉

-----Message d'origine-----
De : "Grégoire Pointeau" <notifications@github.com>
Envoyé : ‎29/‎01/‎2016 23:53
À : "robotology/wysiwyd" <wysiwyd@noreply.github.com>
Cc : "Stephane Lallee" <stephane.lallee@gmail.com>
Objet : Re: [wysiwyd] Removing Choregraphie and Posture (#75)

I just wait for @jypuigbo

[2016-01-29 17:30] Tobias-Fischer commented on #75
I agree with @stephane-lallee that it is not enough to just remove these two files. I guess you would also need to remove the related code in `iCubClient` and wherever else it is used (god knows ..).

[2016-01-29 17:49] Tobias-Fischer commented on #57
Done. See slack.

[2016-01-29 17:49] #57 closed

[2016-01-29 17:51] stephane-lallee commented on #75
Don't remove all the related code. Just make the loading of those file optional when initialising the client.
If the fields for the files a filled then load them, if not then just skip the part where the data structures are created. They are just populating two lists if I remember correctly.

-----Message d'origine-----
De : "Tobias Fischer" <notifications@github.com>
Envoyé : ‎30/‎01/‎2016 01:30

[2016-02-04 16:54] Tobias-Fischer commented on #52
Mostly done, see
https://github.com/robotology/wysiwyd/commit/df335799cb5003f18fdfec19ad59a38d72b32f2c
https://github.com/robotology/wysiwyd/commit/b1be5b1227ee8379232471087cc1c719d3e2433e
https://github.com/robotology/wysiwyd/commit/12fc77947f86acfd16e320bb791a0289c9f74986
https://github.com/robotology/wysiwyd/commit/f3bd6cc54f16df353fcb81ce8883992c22810539

Will close here, further development i

[2016-02-04 16:54] #52 closed

[2016-02-04 17:12] hjchang commented on #59
Done. See Slack.

[2016-02-04 17:12] #59 closed

[2016-02-05 09:16] gregoire-pointeau commented on #75
Done, loading of choregraphies and postures are now disabled by default.
see : https://github.com/robotology/wysiwyd/commit/63d2017411f55817c511f01f9b44fc1416f00b6a

[2016-02-05 09:20] Tobias-Fischer commented on #75
Can you please change postureBabbler to load these files? I know we don't use it right now, but let's not knowingly break any more modules.

[2016-02-05 09:30] gregoire-pointeau commented on #75
Done, see: https://github.com/robotology/wysiwyd/commit/87e99aa3b23999cafe44c920ced2c3fa2655f7f4
When you declare your `iCubClient`, there are now 2 boolean `false` by default, just set them `true` to use it.

[2016-02-05 09:30] #75 closed

[2016-02-05 09:34] gregoire-pointeau commented on #75
please @Tobias-Fischer , give it a try and tell me if it load everything correctly.

[2016-02-05 10:09] Tobias-Fischer commented on #75
Didn't test, but it looks okay. Thanks.

[2016-02-10 13:34] gregoire-pointeau opened #76 "bodySchema launching problem with opencv"
Hi.
I updated opencv on the `icub-cuda` machine, but now, I have the following problem when I launch `bodySchema`:

[code]

But `iol2opc` works fine.
Do you know why it could have such a problem of `opencv` lib on the `icub-cuda`?

[2016-02-10 13:40] Tobias-Fischer commented on #76
Hi,
why do you want to run `bodySchema`? This is an old module and was split: https://github.com/robotology/wysiwyd/tree/master/main/src/modules/bodySchema
Most likely, you want to run `babbling` (see `proactiveTagging.xml`).
The error occurs because the `bodySchema` executable which is still around is linked to an old version of OpenCV.

Best, Tobi

[2016-02-10 13:40] #76 closed

[2016-02-10 13:44] gregoire-pointeau commented on #76
Okay nice.
I was trying all modules and I had a doubt about this one.
Ok, problem solved then.

[2016-02-14 17:20] Tobias-Fischer commented on #68
Hi @dcam0050, did you get a change to try this?

Thanks, Tobi

[2016-02-16 14:16] Tobias-Fischer opened #77 "Table with comparisons to other projects"
We need to put the outcomes of https://github.com/robotology/wysiwyd/issues/55 https://github.com/robotology/wysiwyd/issues/59 https://github.com/robotology/wysiwyd/issues/57 https://github.com/robotology/wysiwyd/issues/56 https://github.com/robotology/wysiwyd/issues/54 https://github.com/robotology/wysiwyd/issues/53 together in tables showing the differences to WYSIWYD on one glance. We need to d

[2016-02-16 16:06] gregoire-pointeau opened #78 "babbling missing argument"
Hi.
When I launch the proactiveTagging demo with unknown body part, I have the following with `babbling`:
`command received: babbling joint 9`
`[Error]Invalid babbling part: specify LEFT or RIGHT after joint number`

Where this specification should be done? in `proactiveTagging.ini` ?
Thanks @Tobias-Fischer @martz21

[2016-02-16 16:21] Tobias-Fischer commented on #78
This is because of the recent changes by @martz21. Can you please have a look?

Best, Tobi

[2016-02-16 16:33] Tobias-Fischer opened #79 "Get rid of annoying deprecated message regarding GTKPlus"
We currently get this message:
[code]

Maybe @pattacini can help?

Best, Tobi

[2016-02-16 16:52] maxime-petit commented on #78
Yop!

I changed the babbling subsystem. I add a default value for the side of the arm ("left") and did not change the code in proactive.
Another way should have been to modify the code in proactive and NOT put any default value for the subsystem. Do you think this way is better?

Let me know and I ll change it if needed

./Max

[2016-02-16 17:42] #79 closed

[2016-02-18 09:46] gregoire-pointeau commented on #78
Hi Maxime, indeed now the robot is moving !
I think when you create the subsystem you should be able to select the hand (with a default value of course) because here, we would need to use the right hand (we have a problem with the skin of some some finger tips).

So: a default value, that could be change in the conf file of the module (and not the subsystem). Is it doable?

[2016-02-18 12:01] maxime-petit commented on #78
Yop

Should be done!

Check please

./Max

[2016-02-19 16:33] Tobias-Fischer commented on #78
Can we close this @maxime-petit?

[2016-02-19 16:39] gregoire-pointeau commented on #78
On my side, it's fine !

[2016-02-19 16:39] #78 closed

[2016-02-20 16:33] Tobias-Fischer commented on #79
That was easier than I thought .. Thanks Ugo!

[2016-02-20 17:18] pattacini commented on #79
:+1:

[2016-02-22 18:10] clement-moulin-frier commented on #42
We are currently running Attention Selector during the proactive demo and it works quite well (the robot indeed appears much more alive).  The only problem is that when pointing at objects, the robot can sometime look at another one. What would be the best way to focus the attention of the robot on the object it is pointing? By increasing its saliency through Pasar? If so, is Attention Selector ab

[2016-02-23 08:18] pattacini commented on #42
Hi @clement-moulin-frier

Actually, if the `point` is performed via `ARE`, the handling of attention should be already taken into account: see [[1]] and [[2]].

Could you check that the connection between the two sub-system is in place?

[1]: https://github.com/robotology/wysiwyd/blob/master/main%2Fsrc%2Flibraries%2Fwrdac%2Finclude%2Fwrdac%2Fsubsystems%2FsubSystem_ARE.h#L329
[2]: https://github.co

[2016-02-23 10:10] gregoire-pointeau commented on #42
However, increasing the salience of the pointed object is mandatory I would say: if you point to an object, its salience should increase.
However you don't need to go through `pasar` to do it, a simple `opcClient` is enough.
Maybe in the `susystem_ARE` we could had to increase the salience of the pointed object. I'll look at it.
(increase the salience is needed independently from the problem of th

[2016-02-23 10:20] pattacini commented on #42
@gregoire-pointeau don't mix things: `SubSystem_ARE` is for controlling the robot movements, so it's a very very ... very very bad location where to deal with object salience ;)

[2016-02-23 10:25] pattacini commented on #42
Salience handling should be running somewhere in our architecture with the aim to provide the robot with some points of interest (POI) where to focus the attention.

Once a POI gets selected, `SubSystem_ARE` kicks in and should prevent `attentionSelector` to redirect the gaze elsewhere for the entire duration of the point action.

[2016-02-23 10:38] gregoire-pointeau commented on #42
I disagree a bit. `ARE` is for controlling the robot, where the `subsystem_ARE` is just something to link `ARE` and the `WR` environment.
This is why for me the `subsystems` are for the `WR` related.
I don't see why the `subsystem_ARE` couldn't handle the salience.

[2016-02-23 10:47] pattacini commented on #42
`SubSystem_ARE` is a mere interface to `ARE`, so please don't put anything related to salience therein: it's really against software engineering rules.

The salience of an object has nothing to do with the robot movements: let's not mix inputs to the motor control with motor control itself.

[2016-02-23 11:06] maxime-petit commented on #42
Gregoire you said that if you point to an object, its salience should increase, that is how you motivate `ARE` or `subsystem_ARE`to be involved in the saliency. But for me it is actually the opposite: you point an object because the saliency is already high. The saliency cause your pointing, so the saliency should be high BEFORE you do the pointing: that is why you point this precise object and no

[2016-02-23 13:10] stephane-lallee commented on #42
In the view I had back in the days, increasing this saliency based on a top-down symbolic information (an object is pointed at) would have been the role of Pasar.
Of course I do agree with Ugo that putting saliency information in the ARE subsystem is a terrible idea 😉

From a more conceptual point of view, isn't there something wrong in increasing the saliency of an object you are pointing at? If

[2016-02-23 16:49] clement-moulin-frier commented on #42
We are going to try this:
In `proactivetagging`, increase the saliency of the pointed object as well as the human agent, so that the robot gaze switch between both (like an infant would do actually). Can you confirm that we have to use Pasar for this? Or can we mor simply modify the saliency value using OPCClient?

Another question is: once the saliencies are modified, are they taken into account

[2016-02-23 17:29] gregoire-pointeau commented on #42
You don't need to go through `pasar` to change the salience. `pasar` will change automatically according to the acceleration, pointing, waving and appearance disapperance.
Can you check that `pasar` works correctly? (go in front of the iCub with `agentDetector`, move and the salience of the agent should rise).

Then if you artificially increase the salience of an object, with `pasar` running it sh

[2016-02-23 17:33] clement-moulin-frier commented on #42
Thanks. One problem is that even without Pasar running, the saliency is rapidly reset to 0 when the robot is pointing. Besides Pasar, do you know if there are other modules able to modify the saliency?

[2016-02-23 17:35] gregoire-pointeau commented on #42
Any module that access the `OPC` can modify the salience. But I don't know other than `PASAR` that does.

[2016-02-24 12:11] pattacini commented on #42
@clement-moulin-frier you could check that the following functions are actually called by putting some printouts within the code:
- [**`SubATT->stop()`**](https://github.com/robotology/wysiwyd/blob/master/main/src/libraries/wrdac/include/wrdac/subsystems/subSystem_ARE.h#L76)
- [**`SubATT->track()`**](https://github.com/robotology/wysiwyd/blob/master/main/src/libraries/wrdac/include/wrdac/subsystem

[2016-02-29 10:54] Tobias-Fischer commented on #62
Hi @clement-moulin-frier and @sockchinglow,
Did you guys further work on the plotting utility? The to-do list looks pretty good to me, and it would be great if we could have some of the features by the start of the integration week. It'll be a helpful debug tool I guess.

Best,
Tobi

[2016-02-29 10:56] Tobias-Fischer commented on #47
Hi @gregoire-pointeau,
What is the status of the narrative handler? Is it ready to be used in the proactive tagging demo?

Best, Tobi

[2016-02-29 10:57] Tobias-Fischer commented on #46
Hi @gregoire-pointeau and @AnneLaureM,

Did you guys work further on this? Is it ready for the demo?

Best, Tobi

[2016-02-29 10:58] Tobias-Fischer commented on #42
Hi @clement-moulin-frier,
Have you further debugged this to see whether the attention system is called? We should figure this out before the integration meeting.

Best, Tobi

[2016-02-29 10:59] Tobias-Fischer commented on #72
Hi @jypuigbo,
Do you plan to continue working on the asynchronous recognition part? If not, can we close here?

Best, Tobi

[2016-02-29 10:59] Tobias-Fischer commented on #68
Any news @dcam0050?

[2016-02-29 11:01] Tobias-Fischer commented on #50
Hi @maxime-petit,
Can we close here?

Best, Tobi

[2016-02-29 11:01] Tobias-Fischer commented on #43
This needs proper handling of https://github.com/robotology/wysiwyd/issues/51 first!

[2016-02-29 14:20] pattacini commented on #23
Issue moved to [robotology/icub-packaging #3](https://github.com/robotology/icub-packaging/issues/3) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-02-29 14:20] #23 closed

[2016-02-29 14:22] Tobias-Fischer opened #80 "Getting more done in GitHub with ZenHub"
Hola! @Tobias-Fischer has created a [ZenHub](http://www.zenhub.io) account for the **robotology** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub ac

[2016-02-29 14:23] Tobias-Fischer commented on #80
Hi guys, this might be a nice thing to have during the integration meeting. It's just a browser extension, but seems to be quite powerful. Thanks @pattacini for the tip.

[2016-02-29 14:27] pattacini commented on #80
`Chrome` and `FireFox` are currently supported.

[2016-03-01 13:50] maxime-petit commented on #50
Yes I think so.

[2016-03-01 13:50] #50 closed

[2016-03-04 19:55] clement-moulin-frier commented on #62
Hi @Tobias-Fischer ,

Yes we'll improve it before the integration meeting, in particular adding behavior start and end events.

[2016-03-04 20:00] clement-moulin-frier commented on #42
Hi @Tobias-Fischer

We haven't figured out what is the reason of the saliency modification, see my last but one message (the long one).

[2016-03-07 08:53] gregoire-pointeau commented on #47
Hi Tobi,
NarrativeHandler is working as a prototype version properly.
For now the story are a bit "rude" but it's improving.

I still have a few changes to make here and there especially to record the good name of agent when using `tts` or `stt` (for now it's always agent). And also I have a few problem with fluctuation of appearance and dissapearance of object (which create strange stories).

[2016-03-07 08:53] #47 closed

[2016-03-07 08:56] gregoire-pointeau commented on #46
Hi Tobi,
NarrativeHandler is currently using `lrh` for the demo.
However the version we use it quite slow. Running but slow. We hope to fix it before the integration.
The `subsystem_LRH` can be used as long as you have `LRH` running.
There is 2 functions: `sentence_to_meaning` and `meaning_to_sentence`.
However I admit that the format of meaning we use currently is a bit complex, we are working on

[2016-03-07 10:18] Tobias-Fischer commented on #72
Closing. Feel free to reopen @jypuigbo

[2016-03-07 13:40] pattacini commented on #18
Lately, we have coded an [**alternative**](https://github.com/robotology/iol/tree/master/src/iolReachingCalibration) to `depth2kin` which has been specifically designed for calibrating reaching in a table-top scenario (typical _IOL_ demo).

It could be worth investigating in Lyon if this solution turns out to be simpler.

[2016-03-07 13:45] Tobias-Fischer commented on #18
:+1:

[2016-03-15 09:57] clement-moulin-frier opened #81 "Handle more actions"
For the time being we just deal with `pointing`. Try to add a few other actions, e.g. `looking`, `pushing` or `grasping` depending on what ARE is able to execute safely.

See also #45

[2016-03-15 10:01] clement-moulin-frier commented on #80
Hi guys,

I've started to use the Zenhub board to organize the issues we have to handle during the integration. Please install the extension (see @Tobias-Fischer message above) and check the freshly added `Boards` tab on the wysiwyd github.

Clément

[2016-03-15 13:21] jypuigbo commented on #72
The problem seems to be tracked down thanks to @maxime-petit .
I'm writing and issue to speech. The problem seems to be that, having two external grammars loaded, it keeps both active and doesn't send the output to both but to the last port.

As soon as I get the post done I edit this one with the link.

[2016-03-15 15:07] sockchinglow commented on #77
I'm putting together the reviews into one document; I'll post follow-ups henceforth on the dedicated slack channel.

[2016-03-15 15:16] Tobias-Fischer commented on #77
That's great news, thanks!

[2016-03-15 18:47] jypuigbo commented on #72
After testing, seems that the issue is no longer there. Pull requested in [[SpeechRecognizer] Added option to interrup #6](https://github.com/robotology/speech/pull/6). Pending confirmation.

[2016-03-15 18:55] #72 closed

[2016-03-15 21:23] sockchinglow commented on #77
The workload has been assigned/completed in the following manner.
[_CHRIS_](http://www.chrisfp7.eu/): Ugo
[_RoboHow_](https://robohow.eu/): Hyung Jin
_Cangelosi_: Tobias
[_POETICON(++)_](http://poeticon.csri.gr/): Maxime
[_ALEAR_](https://ikw.uni-osnabrueck.de/~neurokybernetik/projects/alear.html): Maxime
[_iTalk_](http://www.italkproject.org/): Jordi

Also included are some projects listed in the

[2016-03-16 09:08] Tobias-Fischer commented on #77
Hi @sockchinglow,
Thanks, this is really helpful. Great.

Regarding STRAND, there is no need to include it.

@hjchang @maxime-petit @jypuigbo @pattacini: Please drop a quick message here after checking the table so we can close this issue.

Thanks,
Tobi

[2016-03-16 09:14] Tobias-Fischer commented on #28
I haven't seen any issues regarding this for a while. At least the core modules seem to all stick to the "safe" policy. Well done everyone.

Closing here, but please don't forget about this in upcoming code.

Best, Tobi
/cc @robotology/wysiwyd-developers

[2016-03-16 09:14] #28 closed

[2016-03-16 09:19] pattacini commented on #77
Fine with me.

[2016-03-16 09:27] Tobias-Fischer commented on #42
Thanks to @pattacini and https://github.com/robotology/wysiwyd/pull/82 we got much closer to this goal. I suggest we sit together today and look for the reason why the saliency is reset to 0.0 as reported by @clement-moulin-frier.

I suggest we run the proactive tagging demo with `attentionSelector` and see how it goes.

Also @gregoire-pointeau should change `pasar` because of the slight position

[2016-03-16 09:29] Tobias-Fischer commented on #80
Hi @robotology/wysiwyd-developers,
Last reminder to please install Zenhub.

Closing here.

[2016-03-16 09:29] #80 closed

[2016-03-16 09:38] sockchinglow commented on #81
Creating a behaviour called glance for looking at something/someone for ~0.5seconds.

[2016-03-16 09:39] Tobias-Fischer commented on #62
Hi @clement-moulin-frier,
We briefly talked about this yesterday. I guess we are very close to what we need. The only useful thing would be to have the rewind feature so we can see where things might have gone wrong.

Taking the high priority label off ..

Thanks, Tobi

[2016-03-16 09:41] Tobias-Fischer commented on #55
@pattacini checked the table in https://github.com/robotology/wysiwyd/issues/77 and provided some more comments, so we can close here. Thanks!

Best, Tobi

[2016-03-16 09:43] hjchang commented on #77
All right!

[2016-03-16 10:25] jypuigbo commented on #81
We are solving this issue temporarily, as we have already some code regarding this, that we had no time to properly debug before coming to the integration, which was adding extra functionality.

Adding as features: looking at X and pushing X

[2016-03-16 13:49] Tobias-Fischer commented on #81
@jypuigbo @sockchinglow:
Can you please open a pull request so we can check this on the robot?

Best,
Tobi

[2016-03-16 14:02] Tobias-Fischer commented on #77
Fine with me.

[2016-03-16 14:25] sockchinglow commented on #55
@pattacini has filled it in, closing this,

[2016-03-16 14:25] #55 closed

[2016-03-16 18:53] sockchinglow commented on #81
Handled in #84

[2016-03-17 11:49] pattacini commented on #18
In the end we went for #83

[2016-03-17 11:49] #18 closed

[2016-03-17 13:25] Tobias-Fischer commented on #62
Hi @clement-moulin-frier,
The following would be nice:
1) Being able to start the script without having `allostaticController` running before. It should just wait and try to connect in a loop. If it looses connection because `allostaticController` was closed, it should go back to start and wait again for the connection
2) We are (sometimes) unable to close the script. Do you catch CTRL+C?

[2016-03-17 13:30] clement-moulin-frier commented on #62
I updated the module yesterday now using the RFModule class, seems to solve the exit issue. I'm on my way to Inserm, I'll push the changes from there.

[2016-03-17 16:00] clement-moulin-frier commented on #62
pushed

[2016-03-17 20:21] clement-moulin-frier opened #85 "Using persistent connections or not"
Hi,

@pattacini pointed me to the possibility of [using persistent connections in YARP](http://www.yarp.it/persistent_connections.html), that allows an automatic reconnection whenever one port or the other is closed then reopened. It looks like an easy solution to avoid some issues we have about module dependencies.

However this solution could have side effects so we should think about where thos

[2016-03-17 22:17] Tobias-Fischer opened #86 "Sleep drives in proactive tagging"
Hi all,
Thanks to https://github.com/robotology/wysiwyd/commit/a41e73ce066826ecd865710f81c362e6ed6e299e we can sleep all drives. I think we should make use of this in proactive tagging. Whenever we execute `exploreUnknownEntity`, `searchingEntity` etc. we should pause the drives, and let them continue afterwards.

Best, Tobi

[2016-03-17 22:19] Tobias-Fischer commented on #85
Hi @clement-moulin-frier,
As @pattacini said these connections might cause troubles. And you already found that `allostaticController` does not work properly with them, let alone all the other modules which run in our demo.
Thus, I think we should not make any use of them.

Best, Tobi

[2016-03-17 22:19] Tobias-Fischer commented on #81
Let's test this tomorrow morning, so we can close the issue.

[2016-03-17 22:20] Tobias-Fischer commented on #77
@maxime-petit @jypuigbo @pattacini: Can we close here?

[2016-03-17 22:21] Tobias-Fischer commented on #68
@dcam0050: Can you please test this tomorrow so we can close this before the end of the integration meeting?

[2016-03-17 22:22] Tobias-Fischer commented on #38
@clement-moulin-frier: What's the status on this?

[2016-03-17 22:28] pattacini commented on #77
Yes, I think

[2016-03-17 22:37] clement-moulin-frier commented on #38
I've pushed a first version to the branch [upf/renaming](https://github.com/robotology/wysiwyd/tree/upf/renaming). I've also started to deal with random choice of sentences but can't really go further without being able to test it before.

[2016-03-17 22:38] clement-moulin-frier commented on #85
Not sure he said they can cause trouble, rather that we are loosing control by using them.

[2016-03-18 09:51] clement-moulin-frier commented on #62
The reconnexion issue is addressed by c3145f1806fecabfe7508d1666928eb932f4b74b

For closing the script, using the `RFModule` class helps a bit but when `CTRL-C` occurs, it blocks in [interruptModule()](https://github.com/robotology/wysiwyd/blob/master/main/src/modules/reactiveLayer/allostatic_plot.py#L136-L144). Strangely, this also happen when this method simply return true.

[2016-03-18 10:08] sockchinglow commented on #77
On @clement-moulin-frier's suggestion, I have added another two columns: Develops an autobiographical narrative; Learns to distinguish between the self and others.

Could contributors fill in those cells as well?

Also, it may be a good idea for us to reach a consensus regarding WYSIWYD's markups in particular.

[2016-03-18 10:33] jypuigbo commented on #86
As I already mentioned, It doesn't fit very well with the idea behind the `allostaticController`, BUT for the demo I find is a good idea.

Issue is then:
The command `sleep all <time>` needs to be sent to the port `/homeostasis/rpc`. This will stop them from moving for `time` seconds. Still, if they are out of the comfort zone they'll probably be triggered.
Should the command be sent through `allo

[2016-03-18 14:04] clement-moulin-frier commented on #86
I've tried another solution in e6becb9c872fe5e4f4dade16f19a6268bd344d06 where all drives are frozen whenever a behavior starts, and all are unfrozen when it stops. Works well by testing on dummy drives and behaviors, let's try it on the demo (allostaticController config file already updated accordingly in the mentioned commit)

[2016-03-18 23:51] Tobias-Fischer opened #89 "Important: Integration meeting summary for PI's / next meeting"
Hi all,
Unfortunately we didn't have time to summarize our accomplishments of the integration.

1. I suggest one of us should write an email around to summarize the meeting and inform the PI's. I'm happy to do that over the weekend, unless someone else wants to do that.
2. We need to decide when and for how long we should meet to finalize the demo.
3. I'd like to ask everyone to progress on the de

[2016-03-18 23:51] Tobias-Fischer commented on #89
/cc @robotology/wysiwyd-developers

[2016-03-19 10:15] pattacini commented on #85
I also feel to discourage the use of persistent connections for the time being. As we discussed, there is a specific procedure to disconnect a persistent connection and if we do not take it into account there's the serious risk of loosing control of the architecture.

[2016-03-19 10:30] pattacini commented on #89
Hi @Tobias-Fischer,
Thanks for the wrap up: we should really address these points asap, indeed.

Coming to them:

1. Agreed. I think we should also report _separately_ on the status of **Action Recognition**. In this respect, **PFD** already asked @dcam0050 to do that, and I think it'd be beneficial also to get a resume from @MagnusJohnsson and/or @zahrag as well.
2. I'd propose to meet up again o

[2016-03-19 12:11] jypuigbo commented on #89
Hi,
Thanks @Tobias-Fischer for the wrap up.

On topic 4:
Just to be sure on the procedure:
- Regarding the issues: which priority of features need to be added: highpriority only? all? As much as possible?
- Are or will be all the features needed listed as issues, here in github? The same for bugs, etc.
I think having everything here will make sure no one forgets anything, even if its for a quick f

[2016-03-19 12:15] jypuigbo commented on #42
Did this meeting take place? Which is the current status of the issue, after the integration? Thanks

[2016-03-19 16:24] pattacini commented on #89
I think @jypuigbo's suggestion makes lots of sense. We should then detail in GitHub the **few  new features** we really want to have in the demo and that will be developed next week - I hope they'll be just a few - so as **all the bugs** we need to fix.

To summarize:

- The **`year-2-demo`** branch will contain **all the bugs** and the **few new features** we aim to have for the second year demo.

[2016-03-20 09:42] Tobias-Fischer commented on #85
I agree with @pattacini. Let's not use these connections, and rely on the connection list in `yarpmanager` instead. In the long term, we should change our modules to not automatically connect to others, and instead wait for the connection to be made outside.
Unfortunately, I don't see this happening anytime soon :(.

Closing here.

[2016-03-20 09:42] #85 closed

[2016-03-20 09:46] Tobias-Fischer commented on #38
Hi @clement-moulin-frier,
Can you please open a pull request for the upf/renaming branch? This makes it easier to keep track of it. I hope we can test this soon and merge.

Best, Tobi

[2016-03-20 09:48] Tobias-Fischer commented on #62
Hi @clement-moulin-frier,
Could you please open another issue in `yarp` asking for advice how to deal with the blocking behavior of `interruptModule`?

Thanks,
Tobi

[2016-03-20 09:50] Tobias-Fischer commented on #86
Hi @clement-moulin-frier,
Thanks for the new freezing behavior. Does that mean we don't have to change `proactiveTagging` and other modules at all? That would be great.
However, it seems that https://github.com/robotology/wysiwyd/commit/e6becb9c872fe5e4f4dade16f19a6268bd344d06 only updates the config file. Where is the commit for the code implementing `freeze` and `unfreeze`?

Best, Tobi

[2016-03-21 09:34] jypuigbo opened #90 "Being able to manually control the drives"
Hi all,

Has been raised the topic to manually control the robot's drives. I think we have most of the tools already implemented, we just need to define exactly what we want/need and prepare an interface.

My suggestion would be:
- stop command in ears puts the drives of the robot on constant freezing mode, waiting for another human command to unfreeze.
- Voice or RPC commands are set such that: w

[2016-03-21 09:53] maxime-petit commented on #90
Hi,

* A pause mode can be handy if we need to explain/comment the demo :+1:
* The simplest way I guess would be  to change the drive value directly (and not the decay) to be just above the threshold and indeed trigger it a few seconds after (so your second proposition for your second item :))
* RPC or GUI: RPC should be very quick to implement, and probably more useful in a debug/coding mode. How

[2016-03-21 10:52] jypuigbo commented on #90
@maxime-petit

This is roughly what I meant. So we agree on that :)

[2016-03-21 13:48] clement-moulin-frier commented on #90
Hi guys,

I think the easiest way would be to directly acts on behavior, not drives. In particular because it allows to have a much better control on what we really want to launch, e.g. tagging a particular bodypart (instead of manually increasing the `tagging` drive value, which doesn't ensure what will be actually tagged).
So I rather suggest that we (UPF) code a set of very constrained behavior

[2016-03-21 14:17] maxime-petit commented on #90
Yop!

proactively tag a body part can trigger 2 different tagging :
- the name if the name is *unknown*
- the tactile info if the name is known and `tactile_info == -1`.
But the rpc command is exactly the same in both case `exploreUnknownEntity bodypart name_of_the_bp`.

What do you mean as behavior for "express knowledge about a body part"?

./Max

[2016-03-21 14:33] clement-moulin-frier commented on #90
Regarding the different bodypart tagging procedures: then we should start the demo with a completely unknown body part (both name and tactile info unknown) and manually launch `exploreUnknownEntity bodypart name_of_the_bp` twice.

Regarding "express knowledge about a body part", I was thinking about the behavior where the robot says something like "Do you know this is my index finger", together wi

[2016-03-21 16:54] Tobias-Fischer commented on #90
Hi all,
Just quickly: I agree that this feature will be useful. I don't have time to comment on details.
One thing though: don't forget about the kinematic structure learning. Maybe @maxime-petit and @hjchang  can provide some details.

Best, Tobi

[2016-03-21 17:31] hjchang commented on #90
Hi!
I agree that manual triggering and pausing will be helpful. Also regarding the kinematic structure learning demo, I need the pasar to be paused for a while as it interrupts data retrieval from ABM. @clement-moulin-frier It will be nice to show the kinematic structure learning module running for a simple object structure as well during the first stage by launching the module from GUI. But I thi

[2016-03-21 17:50] jypuigbo commented on #90
Doesn't it look nicer to first show the robot behaving by itself, also with the human giving him orders and after a while, the human stops it and we show the rest of the behaviors manually? Otherwise it looks like: "we have several independent modules and we will show you only some really integrated". Whereas the former is more like "Look at what we have done, but it will take long, and we have al

[2016-03-21 20:49] Tobias-Fischer commented on #38
We should also decide whether this is one of the features we want to show in year 2.
@clement-moulin-frier @pattacini @maxime-petit

[2016-03-21 20:50] Tobias-Fischer commented on #45
Are we going to show this in year 2? If not, we should take the high priority label off.
@clement-moulin-frier @maxime-petit @gregoire-pointeau @pattacini

[2016-03-21 20:51] Tobias-Fischer commented on #42
From the debriefing email:
[code]

Thus, taking the high priority tag off. Let me know if you think otherwise @pattacini @gregoire-pointeau

[2016-03-21 20:53] Tobias-Fischer commented on #46
Hi @gregoire-pointeau @AnneLaureM,
What is the status of this? Are we still planning to show this in year 2?

Best, Tobi

[2016-03-21 20:54] Tobias-Fischer commented on #41
@maxime-petit: Do you agree that this is work we will not show in year 2? If so, please change the milestone to year 3.

Thanks, Tobi

[2016-03-21 20:55] Tobias-Fischer commented on #43
@gregoire-pointeau: Do you think we should work on this for the year 2 or year 3 demo?

[2016-03-21 20:57] Tobias-Fischer commented on #62
@clement-moulin-frier: Also, can you please check whether the problem with 100% CPU usage was fixed with the commit having a delay after each reconnect try? If it is fixed, we should add this script to the yarpmanager script @pattacini

[2016-03-21 21:02] Tobias-Fischer commented on #51
Hi @gregoire-pointeau @maxime-petit @pattacini @clement-moulin-frier,
Do you think we need this for the year 2 demo? I guess it's good enough if we fix this for the year 3 demo.

Best, Tobi

[2016-03-22 09:22] gregoire-pointeau commented on #45
I guess for the demo Y2, it's too late.
I think we should however keep it for Y3.

[2016-03-22 09:24] gregoire-pointeau commented on #42
Going from a boolean to 0 - 0.5 - 1 induce indeed many changes in the higher modules that for now are not taken into account and I agree we need more time to have some behaviors coherent with it.

[2016-03-22 09:27] gregoire-pointeau commented on #46
Yes, the narrative part where the robot is boring, will be boring but with `lrh`.
The idea is that the robot will first create a simple narration (infant one) using `lrh` in production, then will ask the human to tell the story, and will understand the human through `lrh`.
For now it's working fine, we only have to change the way we do our learning to speed up the speech production.

[2016-03-22 09:29] gregoire-pointeau commented on #43
The idea to bring new objects is still interesting for me. For example, a first set of `proactiveTagging` with 2 or 3 unknown objects, then we introduce new unknown objects. But to be able to do the demo on more than 3 objects present all the time.
Concerning the agent it's a bit more tricky while we don't have the face recognition running and integrated.
So my idea whould be: objects Y2, agents,

[2016-03-22 09:29] Tobias-Fischer commented on #42
Normal modules shouldn't check for the 0.5 value. That value is only meant to be used in `iol2opc` and `attentionSelector`, and @pattacini already took care of that.
However, I agree that there is now a difference of checking for == 1.0 vs != 1.0 vs == 0.0 which might have introduced new bugs we have to check again.

[2016-03-22 09:30] gregoire-pointeau commented on #51
See issues #43 for my opinion on different agents.

[2016-03-22 09:35] gregoire-pointeau commented on #42
I don't totally agree with the fact that modules should check for 0.5, it depends of the behavior you want to have and this needs more time to think about that just a few weeks. For example in term of narrative, this induces many changes, and also in term of actions consequences for abmReasoning...
I agree however that it is an huge and useful improvement, but not as trivial at is seems for "highe

[2016-03-22 09:38] pattacini commented on #42
@gregoire-pointeau when I introduced this change I payed particular attention to retain the old intended behavior in all the modules involved.

It should be straightforward to go through an exhaustive search for the flag `m_present` and do a double check.

[2016-03-22 09:40] pattacini commented on #42
To recap:

The old check
[code]
should become
[code]

The old check
[code]
should become
[code]

[2016-03-22 09:59] gregoire-pointeau commented on #42
Yes indeed in term of computation, it doesn't change much I agree, but if we want to take these changes into account and to use it, it won't be that trivial.
But in term of retro compatibility, I guess it doesn't change much indeed.

[2016-03-22 10:12] pattacini commented on #42
I agree that for now we shouldn't employ this new piece of information for new devs.

[2016-03-22 14:23] jypuigbo opened #91 "iCub looks at partner during pointing (knowledgeExpression) interaction"
I'm opening this issue to keep track of the request that was done to UPF during the integration meeting and to keep track of any additional improvement that anyone might like to have / do.

Specifically, we were requested to make the pointing behavior nicer by looking at the partner when showing one of the objects in the scene.

We are testing this now and changes are in branch `looking_agent_from

[2016-03-22 14:26] pattacini commented on #91
@jypuigbo I would rather use one issue per development...

[2016-03-22 14:31] jypuigbo commented on #91
@ugo It's fine with me. I rename the issue accordingly then.

[2016-03-22 17:19] pattacini commented on #89
I think everything has been address: closing.

[2016-03-22 17:19] #89 closed

[2016-03-23 08:50] AnneLaureM commented on #46
Hi @Tobias-Fischer, I will take care of it right away.

[2016-03-23 11:13] maxime-petit commented on #62
Hi!

@gregoire-pointeau  @AnneLaureM : can you check that you have all the dependencies (python, ...) to launch the gui with the Rococo machine?

[2016-03-23 11:14] clement-moulin-frier commented on #86
Hi @Tobias-Fischer

Nothing has to be changed in other modules, the changes appear in the `allostaticController` config files, where all drives are frozen whenever a behavior starts and unfrozen when it ends, see e6becb9c872fe5e4f4dade16f19a6268bd344d06

The code implementing `freeze` and `unfreeze` is in this commit: 1d5144c2274facb077b38fd462fbcacf8168fcbe

I tested it with dummy drives and beha

[2016-03-23 11:19] maxime-petit commented on #90
I agree with @jypuigbo with the order of the demo. Also in this case, the "manual" triggering will be only for unseen behavior and not all of them.

The question of calling directly the behavior or changing the drive to call immediatly the behavior should be "invisible" for external reviewer. Triggering the behavior automatically is more secure because as you said you bypass the drive, but changin

[2016-03-23 11:20] gregoire-pointeau commented on #62
Yes, `allostatic_plot.py` launch normally on `rococo`.
all the displays are now on `rococo` and working fine. We will however reduce the size of the histogram if we want to be able to show the drives.

[2016-03-23 11:24] maxime-petit commented on #86
Yop!

Just to jump on @jypuigbo about the fact that freeze/unfreeze is not fitting with 'allostaticController' idea. If reviewers are asking this question, we can argue that for now, we have not implemented an interrupt mechanism for existing behavior, thus we need to freeze drives in order to NOT be in a situation when the robot has to trigger another behavior with highest priority during the exe

[2016-03-23 11:34] maxime-petit commented on #41
Hi,

If we start from a 100% unknwon bodypart (name = unknwon, tactile = unknown), has we said before, you can't ask the icub to move his index by just touching it (you miss the link between the tactile info and the name or joint).

However if the bodypart name is known we should be able to directly move it. In the same way, if we have the tactile info linked to a bodypart (for now the name is ask

[2016-03-23 11:43] maxime-petit commented on #62
Nice!

@gregoire-pointeau  Can you run also the allostatic_plot.py for 5 min and check the CPU usage on Rococo? And check please that you are not experiencing disconnection from the yarpserver.

./Max

[2016-03-23 12:36] clement-moulin-frier commented on #62
On my computer there is no 100% CPU usage, even before the change I made with the delay (it's rather around 6% in both conditions).
I'm testing with dummy drives and not on the full demo (no access to the icub nor a speech machine where I am). But even if it is the case only with the demo I don't think it is an issue of the `allostatic_plot` alone.

[2016-03-23 13:40] clement-moulin-frier commented on #62
@Tobias-Fischer : I've addressed the `interruptModule` issue in 026dfe20f4f73407f397702a633266eafe534507 and eba614d4137a3e2dd69c09e3db12127a2550e615.

The problem was that I was using the [`matplotlib.animation.FuncAnimation`](http://matplotlib.org/api/animation_api.html) which was blocking the execution. I don't use this class anymore but the [matplotlib interactive mode](http://matplotlib.org/a

[2016-03-23 14:13] maxime-petit commented on #62
Actually, was it a CPU overload or a bandwidth overload? The main problem was that it was making the all computer disconnected from the yarp server

./Max

[2016-03-23 14:29] clement-moulin-frier commented on #38
Hi guys,

I'll try and debug the new feature when I'll be back to the lab next week. I will make the pull request at this stage if the behavior is satisfactory.

Clément

[2016-03-23 14:49] jypuigbo commented on #90
@maxime-petit
With @clement-moulin-frier we have been discussing how to address it and is as you say: rpc directly to the behaviors/specific functions to show, and I'll make that `allostaticController` also changes accordingly, but not triggering the behaviors from there.

We get the visualization nice and the behavior expected, regardless of the actual commands behind.

[2016-03-23 14:54] jypuigbo commented on #86
@maxime-petit With @clement-moulin-frier we thought of describing it as the fact that the execution of a drive inhibits the other drives, so they don't decay until the behavior is finished again.
This addresses the fact that for the demo we need the behaviors not overlapping, and strengthens the role of the allostaticController in regulating the dynamics of the drives, as we regulate this directly

[2016-03-23 15:21] clement-moulin-frier commented on #45
I agree with @gregoire-pointeau , unless someone has a clear idea about how to do it in a very simple way.

[2016-03-23 17:16] Tobias-Fischer commented on #62
Hi @clement-moulin-frier, thanks for getting the script to close properly!

@maxime-petit We had seen a CPU overload. I guess this happened when the script couldn't connect to any drives as no drives were running and it tried to reconnect with high frequency. This then also lead to disconnects with the yarp server.

[2016-03-23 17:43] clement-moulin-frier commented on #90
So we should now make a list of the individual behaviors we want to show, together with the associated RPC commands. Those commands will be sent through a GUI (which will first ensure that the `allostaticController` doesn't trigger any behavior => all drives frozen).
Here is a first attempt, please add the behaviors you want to demonstrate in it (e.g. Imperial kinematic structure mapping?) .

- Pr

[2016-03-27 11:34] Tobias-Fischer commented on #62
Closing here, as all issues are addressed as far as I can tell. Thanks @clement-moulin-frier!

[2016-03-27 12:02] Tobias-Fischer commented on #86
Hi @jypuigbo and @clement-moulin-frier,
Did you get to test this in the proactive demo?

Best, Tobi

[2016-03-28 19:35] jypuigbo commented on #86
Not yet. We update on this tomorrow.

2016-03-27 14:02 GMT+02:00 Tobias Fischer <notifications@github.com>:

[2016-03-29 12:41] jypuigbo commented on #86
Tested and working within the PT demo. The changes were already pushed during the IM in Lyon. Just make sure you have in your config files ( `allostaticController` -> `default.ini`) `(freeze all)` and `(unfreeze all)` before and after triggering the behaviors, as in the apps folder.

[2016-03-29 13:29] Tobias-Fischer commented on #86
Cool. Closing here. Thanks!

[2016-03-29 13:29] #86 closed

[2016-03-29 13:35] Tobias-Fischer commented on #41
@clement-moulin-frier @jypuigbo @sockchinglow: Any comments on this?

[2016-03-29 14:04] clement-moulin-frier commented on #41
Hi,

I think this behavior is rather related to the [`followingOrder`](https://github.com/robotology/wysiwyd/blob/master/main/src/modules/reactiveLayer/behaviorManager/src/followingOrder.cpp) behavior (when the human says "point to the X"). Looking at the code there is already a [`touchingOrder`](https://github.com/robotology/wysiwyd/blob/master/main/src/modules/reactiveLayer/behaviorManager/src/t

[2016-03-29 14:45] jypuigbo commented on #81
Ears now can listen to point, push and look_at, triggering the corresponding actions. Tested and debugged at UPF. Let me know of any additional fix needed.

[2016-03-29 14:51] Tobias-Fischer commented on #81
Looking good. Thanks :)

[2016-03-29 14:51] #81 closed

[2016-03-30 17:07] jypuigbo commented on #90
Last [commit](https://github.com/robotology/wysiwyd/commit/e76bbf37549beb904a5747eaf2ae53ed8e4073b0) allows to manually control the drives to:
- pointing drive
- tagging drive
- narrate
- reset all drives
- freeze all drives
- unfreeze all drives

GUI comming soon!

[2016-03-31 13:46] Tobias-Fischer commented on #62
@maxime-petit and I just discovered that the problem that `allostatic_plot.py` kills the yarpserver still persists. It would be great if you look into this as fast as possible.

Additionally, no GUI is shown on our machine.

Best, Tobias

[2016-03-31 17:05] clement-moulin-frier commented on #62
Hi @Tobias-Fischer

We've just tried and it works well. Are you sure that the problem is not the other way round: because your yarpserver is killed (for whatever reason), the `allostatic_plot` doesn't show anything?

[2016-03-31 17:08] Tobias-Fischer commented on #91
Fixed with https://github.com/robotology/wysiwyd/commit/e6ee942c49b5ec955b10ccab12559ab7434a875c

[2016-03-31 17:10] Tobias-Fischer commented on #62
Hi @clement-moulin-frier,
The yarpserver is definitely killed by `allostatic_plot`. We've been running lots of experiments without `allostatic_plot` and all is running fine in this case. My guess is that something goes wrong when you kill other modules and `allostatic_plot` stays active in the meantime.
Also, `allostatic_plot` does not plot anything here right from the beginning. Checking `matplot

[2016-03-31 17:52] clement-moulin-frier commented on #62
OK, please tried with the fix in 1fff4df76629b56049f2418488da2932c40efbd0

Explanation:

We observed that the `allostatic_plot` is slowing down when the `yarpserver` becomes more loaded (e.g. when launching `iol`).
We also observed that when we don't try to automatically reconnect to disconnected ports, there is no slow down, even when no port is actually disconnected. This means that what is slow

[2016-03-31 18:05] Tobias-Fischer commented on #62
Hi @clement-moulin-frier,
Thanks for the fix! We'll try tomorrow.

Regarding the port connections: It is definitely not standard to automatically reconnect. Nor to use persistent connections. The standard is to check whether the dependencies are running, and if so, to do whatever needs to be done. If the dependencies are not running, you just wait. `yarpmanager` is used to connect / disconnect. So

[2016-03-31 18:16] Tobias-Fischer commented on #68
I'll try it one last time @dcam0050.

[2016-03-31 18:17] Tobias-Fischer commented on #46
Any news on this @AnneLaureM ? Will it be ready for year 2 or shall we tackle this in year 3? If we want to use this, I guess a lot of changes all over the place need to be done ...

[2016-03-31 18:19] Tobias-Fischer commented on #43
Hi @gregoire-pointeau,
As far as I can tell multiple sets of objects are already working. You just need to run `iol2opc` so that all objects are detected as `unknown_object*`, and then you can remove some of them and introduce them later?!?

[2016-03-31 18:20] Tobias-Fischer commented on #38
Any news on this @clement-moulin-frier?

[2016-03-31 19:40] pattacini commented on #62
I endorse @Tobias-Fischer's answer.

The policy is that a module should not perform connections with external ports autonomously, but rather adheres to the _observer_ principle, being as much agnostic as possible about who's going to talk to it or whom it is going to talk to. Therefore, connections are established outside the module and thus the module itself should deal with conditions where ther

[2016-03-31 19:45] pattacini commented on #62
Lately, we have also spotted this problem while disconnecting a port: https://github.com/robotology/yarp/issues/715.

So, be careful :smirk:

[2016-03-31 20:42] clement-moulin-frier commented on #62
The logic makes complete sense indeed but I'm afraid we are here in a special case. This module gets the list of drive and behavior names and then has to connect to the appropriate ports accordingly, meaning that the ports to connect are only known at run time. We could still set the connections in the `yarpmanager`, but this means that we'll have to modify the `xml` each time we want to add/remov

[2016-03-31 20:55] Tobias-Fischer commented on #62
So where does the list of the drives and behavior names come from? I guess a config file? In this case, why don't you read the config file (of the other module)?

[2016-03-31 20:56] Tobias-Fischer commented on #62
Also, you could also just wait until the port where you read the behavior names from becomes available ..

[2016-04-01 07:32] gregoire-pointeau commented on #43
Yes indeed it works perfectly with as many objects as we want. Especially is the `attentionSelector` is not running.
We just need to find a way to introduce objects in the demo smoothly but this is just a matter of scenario.
As I said, the tricky part is only for the agents.

[2016-04-01 08:14] gregoire-pointeau commented on #46
Hi @Tobias-Fischer ,
concerning the integration of the `lrh` and narrative in the demo, we came up with an idea.
The full plan that we had originally was the following:
1 robot and human act
2 robot express its naive narrative (like we have seen during the IM)
3 human gives the robot a human-like narrative
4 robot uses the human narrative

But all of this would be too long.
So we decided to do all

[2016-04-01 08:22] Tobias-Fischer commented on #46
Hi @gregoire-pointeau,
Sounds good to me! Is this already working (at least as prototype)?

Best,
Tobi

[2016-04-01 08:27] gregoire-pointeau commented on #46
Well, most of it.
The only thing we need to had, it to reload the human narration (until now we were focusing on creating it), then we will need to find a good demo, and get the `instance` in the ABM to access it easily.
Like this the "macro" scenario should be:
- trigger narrate
- iCub : "Remember that yesterday, I wanted to know what was an object, and you told me it was the croco, then you aske

[2016-04-01 08:30] pattacini commented on #62
The idea @Tobias-Fischer put forward is certainly doable and could give a solution to this problem with the least effort. Anyway, going for one single port that connects to all the downstream modules should be really preferable (maybe in long term?). Actually, the single-port approach is the most common.

Was there any particular reason why at design stage you chose the solution foreseeing multipl

[2016-04-01 08:43] clement-moulin-frier commented on #62
@Tobias-Fischer the names come from specific rpc commands to the corresponding modules, but yes they could also come from the reading of the associated config file. But still the names of the ports contain the names of the drives/behaviors, so we now them only at run time. This is the problem and we'll adopt the single-port solution @pattacini proposes, which should solve the problem and allow to

[2016-04-01 08:58] Tobias-Fischer commented on #62
Okay. Let's chat about this at the review meeting, and keep the code as is for now :)

[2016-04-01 10:58] Tobias-Fischer opened #94 "[behaviorManager] Cleanup of duplicated code"
Hi @clement-moulin-frier @jypuigbo @sockchinglow,

@maxime-petit and I discovered that there are THREE different files all concerned pointing in `behaviorManager`. The methods in `followingOrder` and `pointingOrder` are also nearly the same. In fact, I'll make them the same in a minute ..

Please clean some code and remove duplicates, otherwise it's very hard to debug and understand what's going o

[2016-04-01 11:27] clement-moulin-frier commented on #94
Hi,

Well, `followingOrder` and `pointingOrder` are indeed very close, since `followingOrder` is a generalization of `pointingOrder` allowing to deal with more actions like `push` or `look at`. So `pointingOrder` should be removed indeed. @jypuigbo , can you please confirm?

However `pointing.cpp` is something different. It is about knowledge expression, allowing the robot pointing at known object

[2016-04-01 11:31] Tobias-Fischer commented on #94
Happy to keep `pointing.cpp`. However, `pointingOrder.cpp` should be removed. See also the big cleanup of `followingOrder` in https://github.com/robotology/wysiwyd/commit/2ae1423eb2acd0f3f3160a0054032a46110a3585

[2016-04-01 11:35] Tobias-Fischer opened #95 "[pasar] Pasar is overfilling the ABM"
Hi @gregoire-pointeau,

@maxime-petit and I have discovered that `pasar` sends tens of snapshots to the ABM every second. Especially appearance and disappearance happens very often. Can you please reduce this amount? Otherwise it will fill up our hard drives very quickly .. and make narrative stories a mess as well.

[2016-04-01 11:35] jypuigbo commented on #94
@clement is right. We tested the module this week, so now it can be
removed. `Pointing` is a different behavior, that could be renamed into
`knowledgeExpression`
On 1 Apr 2016 1:27 pm, "Clément Moulin-Frier" <notifications@github.com>
wrote:

[2016-04-01 11:38] Tobias-Fischer commented on #94
Cool @jypuigbo. Would be great if you remove it along with all the references to it in other modules, config files etc.

[2016-04-01 11:56] gregoire-pointeau commented on #95
I never witnessed this behavior.
Can you send me a snapshot of your ABM to check what are the information that go in the ABM please?
Here, we have a snapshot only at appearance or disappearance of an object, which is not very often.

[2016-04-01 12:21] clement-moulin-frier commented on #94
Thanks a lot for the cleaning, much better indeed :) (please upf look a the mentioned commit :).

I've removed `pointingOrder` in 5bb7c9eadc872473f2c638bdeba48a26e1771796

[2016-04-01 12:41] maxime-petit commented on #95
Actually, the appearance/disappearance is especially when the head is moving (look at the table, look at you, look at the table) which happens quite often in the demo. Because the appearance/disapperance in such case is just that the icub loose track of the object for some seconds, they are not "disappearing" (i.e. they are not removed from the table).

This thing cannot be replace by a check dire

[2016-04-01 12:44] gregoire-pointeau commented on #95
We discussed a lot this problem at INSERM during the IE.
What you are talking is supposed to be the role of `attentionSelector` which should set the presence to 0 / 0.5 / 1 and `pasar` checks for absence (`0`).
Are you moving the head using `attentionSelector` ?

[2016-04-01 12:52] Tobias-Fischer commented on #94
See also https://github.com/robotology/wysiwyd/commit/aa685ed24d2f1362c96cd3b6227f11a1605cc9ee

Closing here. Thanks @clement-moulin-frier!

[2016-04-01 12:52] #94 closed

[2016-04-01 12:52] maxime-petit commented on #95
No because we agree to not use it for the demo :)

We will try to increase `pasar` option about threshold for appearance/disapperance. By default it is respectively 1 and 2 seconds which in my opinion is way to short (a looking/pointing action take couple of second at least, appearance/disappearance). We will let you know

/Max

[2016-04-01 12:56] gregoire-pointeau commented on #95
Ok. However, it is strange that you have tens of input per second. Can you send me a snapshot please ?

[2016-04-01 13:16] maxime-petit commented on #95
Yop!

It is not tens input/second but it definitely have a "flickering" nature as soon as the head is moving (look or home action), as well as some disappearance/appearance separated by a few ms (5651/5652, 5679/5680)

![look_pasar2](https://cloud.githubusercontent.com/assets/4256170/14207727/da3a9742-f813-11e5-964b-41dd917a2636.png)
![look_pasar](https://cloud.githubusercontent.com/assets/4256170

[2016-04-01 13:18] Tobias-Fischer commented on #62
It seems like that nothing is shown is a `matplotlib` problem. Even very simple scripts don't show a window, it's just flickering up at the very end.
Not sure how to solve this.

[2016-04-01 13:20] gregoire-pointeau commented on #95
Thanks. It seems that you have between 7s and 10s (at mean) between each apperance and disapearance.
Is it for the same object? I mean I coded a bit fast the thresholds for appereance and dissapearance, but I think they work.

If we decide to increase too much the thresholds, `pasar` won't detect that we bring a new object if we want to do the scenario with different objects.

[2016-04-01 14:05] Tobias-Fischer commented on #62
Solved with https://github.com/robotology/wysiwyd/commit/bb88e2991dc98335b1612f2026d5c6e96184d614

[2016-04-01 14:05] #62 closed

[2016-04-01 14:26] gregoire-pointeau commented on #46
Hi. This is done.
What remain to do, ti to record a full interaction with the robot similar to the one we will do for the review, then give the iCub the corresponding narration that will be analyzed by `lrh` and record in ABM, and note the instance of this story in `narrativeHandler.ini`.
Then, the `narrate()` function call the narration given previously.

[2016-04-01 15:12] pattacini commented on #95
@maxime-petit can you double check if the object is actually disappearing during gaze activity? The tracking system, if working well, should prevent this problem.

[2016-04-01 15:22] Tobias-Fischer commented on #46
Well done. Sounds good.

[2016-04-01 15:24] Tobias-Fischer commented on #95
Hi @pattacini,
We've now added some `lookAtAgent()` all over the place, where the objects definitely disappear. It might be the reason. Our robot is having some hardware issues right now, we'll test soon ;)

[2016-04-01 18:03] jypuigbo commented on #90
You can find a first working version (still not visually appealing) together with this `77e73e677fb4ace6ba34f6064b44662b1a3b3112` and this `363b7020bec1b20776cba29261ea59aacefa1d81` commits.

Please let us know anything you find or that should be included.

Normal use would be:
- (When all `reactiveLayer` is running)
- Press `Manual mode` (everything stops and goes to comfort zone. `AllostaticCont

[2016-04-01 18:07] Tobias-Fischer commented on #90
Well done, thanks, nice! We'll give it a try next week :)

/cc @maxime-petit

[2016-04-01 18:10] jypuigbo commented on #91
Me an @sockchinglow  found that `agentDetector` doesn't update the `agent->m_present` to `1.0` here in Barcelona, although I guess that it works at least at Imperial.
Do you have any hint of why this would be? (maybe @maxime-petit ?)

[2016-04-01 18:18] sockchinglow commented on #77
Everyone except @pattacini has yet to complete the extra columns. Would be good if it can be completed soon.
@Tobias-Fischer @jypuigbo @maxime-petit @hjchang

[2016-04-01 20:07] Tobias-Fischer commented on #91
It's working fine here in London. We've worked on the demo the whole week and didn't have any issues with the agent detector. Are you sure agent detector is updated on the machine you run it on? Is the skeleton shown in the viewer which is defined in the WYSIWYD year 2 demo xml file?

[2016-04-01 20:08] Tobias-Fischer commented on #68
Closing as no one seems to care. Don't blame me if it's causing problems in the future ..

[2016-04-01 20:09] Tobias-Fischer commented on #91
Also it's not related at all to this issue. Please open another one of the issue persists, closing here.

[2016-04-01 20:09] #91 closed

[2016-04-01 20:54] clement-moulin-frier commented on #38
We were not able to finish it this week, we'll update next week through a pull request

[2016-04-02 09:57] pattacini commented on #68
I've just notified @dcam0050 via email.

[2016-04-02 10:19] dcam0050 commented on #68
Sorry @Tobias-Fischer  the last notifications you sent were sent to the now closed student email address I had. I sincerely apologise for this!

SAM with OpenCV3 will not be a problem for the integration meeting because we are currently not using vision driver which depends heavily on opencv2. I have noted this issue and when the time comes to resurrect that project will make sure everything works

[2016-04-02 10:19] #68 closed

[2016-04-02 13:03] Tobias-Fischer commented on #77
Hi, I've added some more stuff for Cangelosi + Poeticon++. However, I am not sure about some of the columns and left them empty rather than putting in false information. Would be good if someone else can have a look (maybe @maxime-petit?)

[2016-04-04 11:19] Tobias-Fischer opened #96 "Circular dependencies in reactiveLayer"
Hi @clement-moulin-frier @jypuigbo @sockchinglow,

There seem to be several circular dependencies in your modules. This issue is meant to keep track that we need to tackle them. I do understand that it's too rushed for year 2, but it should be done for year 3.

One example:
`behaviorManager` wants to connect to `ears` within the individual behaviors, but ears itself wants to connect to `/BehaviorM

[2016-04-04 11:37] Tobias-Fischer opened #97 "[iol2opc] remove_all does not remove objects which are not present"
Hi @pattacini,
sending `remove_all` to `iol2opc` does not delete objects which are not present in the `OPC`.

Would be great if we can have a look to fix this :).

Best, Tobi

[2016-04-04 11:53] clement-moulin-frier commented on #96
Hi @Tobias-Fischer ,

Yes, refactoring the port connection policy so that it is done externally through yarpmanager is the first thing we'll do in year 3. In the meanwhile please stick to the order we defined for running the modules, which is `ears` -> `sensationManager` -> `homeostasis` -> `behaviorManager` -> `proactiveTagging` -> `allostaticController` -> `allostatic_plot` ( @jypuigbo , please

[2016-04-04 11:53] pattacini commented on #97
Hi @Tobias-Fischer

The intended behavior of `remove_all` is to clear all the objects in the `classifier` so as clear the content of the `internal database` and the copies of those objects in the `opc`. It has not been designed to handle different objects.

I might not get the point...

[2016-04-04 11:55] pattacini commented on #96
Enforcing an order in launching application modules is very bad... :disappointed:

[2016-04-04 11:57] pattacini commented on #96
Btw, we definitely need a workaround for this: can you edit the main application xml in order to enforce that order using the `dependency` option?

[2016-04-04 11:59] pattacini commented on #96
I mean it's very bad if we are forced to comply with that order "_manually_" at launch; but if it is automatically handled it will be a lot less painful.

[2016-04-04 13:11] Tobias-Fischer commented on #97
Hi @pattacini,
Sorry, I think I wasn't clear. With "objects which are not present in the `OPC`" I actually meant "objects which are present in the OPC and have the property `present==0.0` set".
I think the `remove_all` method does not loop over objects which are "dead".

Best, Tobi

[2016-04-04 13:14] Tobias-Fischer commented on #96
I think the problem with that is that the dependencies are circular. So if you ask `behaviorManager` to wait for `ears`, and internally `ears` waits for `behaviorManager` to become alive, the dependencies in the XML will never let you launch all modules.

@maxime-petit and I currently launch all the UPF-related modules at the same time with the XML file, and it works fine. Thus, I suggest not to c

[2016-04-04 13:25] pattacini commented on #97
Ok then, I'll look at it :+1:

[2016-04-04 13:27] pattacini commented on #96
Uhm then everything is working only by chance... because the current timing allows us to launch those modules at once. However, we cannot leave things as they are @clement-moulin-frier @jypuigbo it's very risky.

[2016-04-04 13:28] Tobias-Fischer commented on #96
Fully agree with that ..

[2016-04-04 13:48] maxime-petit opened #98 "Tagging: priority should be to ask the agent's name"
Hi,

Randomly picking object and bodypart is fine, but actually it makes more sense if the agent tagging a a higher priority over theses others two. Can we change the selection to automatically trigger partner tagging first as soon as name == partner?

@clement-moulin-frier @jypuigbo @sockchinglow

./Max

[2016-04-04 13:50] maxime-petit opened #99 "Tagging: the demo should use tagging learnt"
Hi,

The robot should "personalized" its utterances during the demo by using the partner's name if tagged

./Max

[2016-04-04 13:51] maxime-petit opened #100 "Tagging: the demo should use the bodypart name"
Hi,

We can show without triggering any specific behavior that the bodypart name is learnt, by moving the corresponding joint when the robot ask the bodypart to be touched by the agent

./Max

[2016-04-04 13:51] pattacini commented on #97
I don't have a free time slot to test it on the robot but I can give the following guess:

1. When `iol2opc` puts [`m_present=0.0`] (https://github.com/robotology/wysiwyd/blob/master/main/src/modules/systemVisual/iol2opc/src/module.cpp#L739) declaring an object _dead_, it does not remove the object from the database **`db`**.
2. When `remove_all` service gets executed, `iol2opc` [cycles on all obj

[2016-04-04 13:56] maxime-petit opened #101 "Agent Pointing: right hand should be seen in the GUI to help pointing"
We already have the agent head in the GUI. Having the right hand might help to "properly" point (i.e. closest object to the hand location) and reduce wrong pointing detection

./Max

[2016-04-04 13:56] Tobias-Fischer commented on #97
Hmmm .. We'll check this again whether it happens all the time or whether it was a one-off issue. Thanks for looking into it though!

[2016-04-04 14:24] clement-moulin-frier commented on #98
OK @sockchinglow is on it.

[2016-04-04 14:25] jypuigbo commented on #96
There is no longer a predefined order to launch the modules (since Lyon IM), as all the circular dependencies are handled in the right order (no need for superstitions anymore :) ). The only problem comes with the attached port of `behaviorManager` WHEN `allostaticPloter.py` comes into play, as @Tobias-Fischer mentioned and we also identified by the end of last week. (And maybe with `allostaticPlo

[2016-04-04 14:54] Tobias-Fischer commented on #96
Sounds good to me.
Regarding the `allostatic_plot.py`: Would it be sufficient to move the call to the `attach` method to the end of `configure` of `behaviorManager`? I think this would sort out the problem that `allostatic_plot` receives an incomplete set of behaviors, as it would just not open because it cannot connect to the RPC port of `behaviorManager`. This in turn would not be a problem beca

[2016-04-04 16:26] pattacini commented on #96
Good plan @jypuigbo :+1:

[2016-04-05 10:58] Tobias-Fischer commented on #101
Hi @maxime-petit,
You can run `guiUpdater --displaySkeletons` to show all parts of the skeleton.

Guess this solves this issue.

Best, Tobi

[2016-04-05 10:58] #101 closed

[2016-04-05 10:59] Tobias-Fischer commented on #99
@maxime-petit solved this in https://github.com/robotology/wysiwyd/commit/e71da65ac3cd8de28654fc84dc5a5a088b0552cd

[2016-04-05 10:59] #99 closed

[2016-04-05 11:01] Tobias-Fischer opened #102 "Tagging: If only one unknown object, use this one"
If there is only one unknown object in the scene, and the human asks to "point the X" where X is an unknown object, the iCub can assume that it is the only unknown object in the scene. Thus, the iCub should point the object and ask "whether this is the X".

[2016-04-05 13:22] clement-moulin-frier commented on #102
This is a nice feature to have indeed.
Just a note for Year 3: This is typically a contextual layer functionality (reasoning), so we will certainly have to make some restructuring after the review meeting so that we stay coherent with the DAC framework. It would be actually interesting to know when that kind of reasoning is acquired during infant development.
But for the review it's fine to have i

[2016-04-05 13:38] Tobias-Fischer commented on #102
Yes indeed. I suggest we should look into `proactiveTagging` anyways to make it nicer from a software engineering point of view, which should also help to make it more DAC-compatible.

[2016-04-05 13:42] Tobias-Fischer commented on #100
Solved by https://github.com/robotology/wysiwyd/pull/103

Closing as soon as https://github.com/robotology/wysiwyd/pull/103 is merged

[2016-04-05 14:24] maxime-petit opened #105 "narrativeHandler: look for the last X instances to extract stories"
Instead of using the instantStart which depend on the ABM used, the range of ABM to be checked should use relative boundaries (e.g. [max-X:max]), and loaded from conf file.

This is to be able to manage how much time the ABM is querried at startup by narrative: it can be quite some time if you go through a large portion of ABM, and other modules might want to acces ABM in the meantime

./Max

[2016-04-05 15:01] sockchinglow opened #106 "[agentDetector] Agent's presence remains 0.0"
Our `agentDetector` does not update the presence of any partner even when there is a skeleton in the viewer i.e. partner's `presence = 0.0` regardless of detection.

As @Tobias-Fischer has suggested, we have checked that our version for `agentDetector` is updated to match the latest one from the `year-2-demo` branch, as is its config file. Also, we have no config file in the .local folder to mess

[2016-04-05 15:30] maxime-petit commented on #106
Hi,

1) Do you have the skeleton appearing in the window?
2) The joints position in the partner's entity are changing?

./Max

[2016-04-05 15:34] sockchinglow commented on #106
Hey Max,

1) yes, the skeleton appears and
2) yes, they change according to the partner's posture.

[2016-04-06 09:18] gregoire-pointeau commented on #105
A first update has been made to reduce considerably the number of request and the display.
@maxime-petit can you try it and tell me if the time is still to long.
I'll continue on the max*min later.

[2016-04-06 09:42] jypuigbo commented on #106
Could the option `dThresholdDisparition` be affecting that? Could you check if you have in your config file some value different from the default one? (`3.0`) (it is not in the default config file in `main/apps/humanUnderstanding/agentDetector/conf/`

Thanks

[2016-04-06 09:43] gregoire-pointeau commented on #105
commit: https://github.com/robotology/wysiwyd/commit/f924a4f6345761759947184faaaead299fea7b7a
have added a min max (`instanceStart`, `instanceStop`) in the conf file.
However previous commit should have increase speed.
Please try on all your DB just to check if there is a significant improvement.

[2016-04-06 11:37] Tobias-Fischer commented on #105
Hi @gregoire-pointeau,
Rather than defining absolute values, is it possible to define relative ones? We have dozens of new instances every day, which means that every day you would need to change the absolute value. What @maxime-petit wants is a relative value, i.e. take the last X instances instead of take instances Y to Z which was now implemented.

[2016-04-06 11:38] Tobias-Fischer commented on #106
Hi @jypuigbo,
We use the default configuration file here.
If you want, @maxime-petit and I can have a brief look via teamviewer to see what might be wrong.

Best, Tobi

[2016-04-06 11:59] gregoire-pointeau commented on #105
Ok,.
In the mean time, can you confirm that there is however an improvement in term of speed for starting?

[2016-04-06 13:49] gregoire-pointeau commented on #105
There are now two more parameters:
`researchWindows`   default:   `1`      1 is window (min to max) while 0 is n-back
`nBackSize`   default `200`     size of the n-last instance to check.

[2016-04-06 13:49] #105 closed

[2016-04-06 14:34] Tobias-Fischer commented on #105
Did you forget to commit?

[2016-04-06 14:34] gregoire-pointeau commented on #105
...
maybe ...

[2016-04-06 14:38] pattacini commented on #97
Hi @Tobias-Fischer

I've just given a go to the pipeline and it seems to me it's working fine in this respect.

[2016-04-06 14:41] Tobias-Fischer commented on #97
Okay. Might have been a one time problem then. Thanks a lot!

[2016-04-06 14:41] #97 closed

[2016-04-06 16:30] Tobias-Fischer commented on #77
Hi @maxime-petit,
I saw you working on this yesterday. Did you finish it?
@jypuigbo @hjchang: Did you fill the table?

Best, Tobi

[2016-04-06 17:20] jypuigbo commented on #77
Yes I did, if nothing changed :)

2016-04-06 18:30 GMT+02:00 Tobias Fischer <notifications@github.com>:

[2016-04-07 09:54] gregoire-pointeau opened #109 "`iCub->say()` failing"
Hello,
I use the new speech `svox` and I have the impression that the subsystem speech cannot get a response from the new speech module when launching a `say` command.

In several modules that I tried, I cannot get a response from the speech which either block the module (if you're waiting for a response) or doesn't allow you to send more than one sentence by module.
A simple test is simply to add

[2016-04-07 09:59] Tobias-Fischer commented on #109
Cannot confirm this. Working fine here. Do you follow the instructions given in https://github.com/robotology/speech/pull/11 ? Especially, does the "test" in these instructions work? If so, `iCub->say` should work.

[2016-04-07 10:01] gregoire-pointeau commented on #109
The test give in instructions works fine. It just in the modules that I have problems.
I'll double check the connections and my `xml` file, and I'll tell you.

[2016-04-07 10:09] pattacini commented on #109
Hi @gregoire-pointeau

With the new speech synthesizer you have to make a further connection:

[code]

[2016-04-07 10:53] maxime-petit commented on #102
Fixed in https://github.com/robotology/wysiwyd/commit/27ebc3b514e583d2434e721f6aef1b4cb6cec800

[2016-04-07 10:53] #102 closed

[2016-04-07 11:36] gregoire-pointeau commented on #109
Ok, I solved it, it was coming from the carrier for the connection. It should be `tcp` and not `udp`.
Solved.

[2016-04-07 11:36] #109 closed

[2016-04-07 11:39] pattacini commented on #109
Uhm... `udp` is obviously less reliable than `tcp` but now I'm wondering whether with `udp` protocol you were getting no utterance systematically. If this was the case, I'm afraid your network in on the "edge" of correct operation.

[2016-04-07 11:40] gregoire-pointeau commented on #46
Last commit uses every abilities of both `lrh` and `narrativeHandler`.

[2016-04-07 11:40] #46 closed

[2016-04-07 11:42] gregoire-pointeau commented on #95
Hi @tobias, did you had time to test it?

[2016-04-07 11:42] gregoire-pointeau commented on #109
by default, the `connect` command in yarp, is using which?

[2016-04-07 11:48] pattacini commented on #109
By default it's using `tcp`.
You can check the connection's type by querying `yarp ping /port-name`.

[2016-04-07 11:48] gregoire-pointeau commented on #109
Ok, so this make sense.
When I was connecting by hand it was working, not through `yarpmanager` that was set on `udp` (changed now)

[2016-04-07 11:51] pattacini commented on #109
My point is that there must be a very high usage of the network if, before, you didn't manage to get any utterance at all from `iSpeak` via `udp` connection, regardless of the number of attempts you made.

[2016-04-07 11:54] gregoire-pointeau commented on #109
Yes indeed, I can let `iSpeak` running, and launch several times my module, it will only say the first sentence each time.
I'm trying it with a very low number of modules running actually (5).

[2016-04-07 12:43] Tobias-Fischer commented on #109
Can you confirm that everything is running fine using `festival` instead of `svox`?

[2016-04-07 12:43] Tobias-Fischer commented on #106
Any news @jypuigbo @sockchinglow?

[2016-04-07 12:44] #100 closed

[2016-04-07 12:44] Tobias-Fischer commented on #98
Any news @sockchinglow?

[2016-04-07 12:45] gregoire-pointeau commented on #109
Yes. It is.

[2016-04-07 13:47] Tobias-Fischer commented on #96
I just tried moving the `attach` method of `behaviorManager` and it does not work because of the circular dependency with `ears`.

[2016-04-07 14:07] Tobias-Fischer commented on #95
Hi @gregoire-pointeau,
Yes it seems to be okay. Thanks :)

[2016-04-07 14:07] #95 closed

[2016-04-07 14:17] sockchinglow commented on #106
No improvements so far...I'll send you the teamviewer information via slack

[2016-04-07 14:48] Tobias-Fischer commented on #77
This should be done now. @sockchinglow: Do you want to send an email around to the WYSIWYD mailing list containing a link to the table and check that it's with with the PI's?

[2016-04-07 15:15] sockchinglow commented on #106
Thanks to @Tobias-Fischer, we have found the source of the problem - a simple matter of building and installing. Resolved and closed.

[2016-04-07 15:15] #106 closed

[2016-04-07 15:19] Tobias-Fischer commented on #106
@robotology/wysiwyd-developers: As we have seen the same issue in Lyon and it took us a long while to sort it out, I want to recap what happened. On one of the machines @sockchinglow was using, someone did a `sudo make install` a while back and forgot about it. Other people where expecting that the binaries in the build folder are used when executing modules. However, the binaries in `/usr/local/b

[2016-04-07 15:24] Tobias-Fischer commented on #38
Hi @clement-moulin-frier, did you do further progress on this? I hope the refactoring did not cause too many issues.

[2016-04-07 15:37] pattacini commented on #106
Perhaps it'd be worth becoming a bit more maniac - as I am - and every once in a while do a random check of the system status.

For example, just after building the project you could verify if the outcome of the following command

[code]

matches the expected path...

[2016-04-07 15:39] pattacini commented on #106
Other useful things a maniac does:

- call `yarp clean --timeout 0.1` to see if there're stale ports hanging off.
- check if `ps aux | grep yarprun` tells that there are only 2 instances of `yarprun` on that machine (yes they must be 2).

[2016-04-07 16:19] clement-moulin-frier commented on #38
@jypuigbo is currently re-integrating the code after you pull request merge. It should be fine.

[2016-04-07 16:47] maxime-petit commented on #106
Other thing related: always put `$YARP_DIR`,`$ICUB_DIR` and `$WYSIWYD_DIR`before anything in the `$PATH`. In that case, your repo will always have priority over the /usr/local/bin. However you will look for it if for some reason you are not building the executable anymore so be careful anyway

[2016-04-07 17:50] Tobias-Fischer commented on #41
@maxime-petit: we should think about whether something is doable for the review.

[2016-04-07 18:12] maxime-petit commented on #41
I have added the new "babling" done when performing the tactile exploration, even if not trigger by a `followingOrder`, so it i clearly doable. https://github.com/robotology/wysiwyd/commit/46cdffca2642946d8fc675004a98a27fe8abc655

I ll put some code in `followingOrder` to trigger it when receiving `move bodypartname`. I will have that before the arrival in Lyon on the 13th.

./Max

[2016-04-08 09:48] Tobias-Fischer commented on #96
I thought about another easy workaround. Should only take ten minutes.

[2016-04-08 09:50] Tobias-Fischer commented on #90
Hi @jypuigbo,
Please add the script in the demo XML, along with the `allostatic_plot.py`.

[2016-04-08 10:09] jypuigbo commented on #96
What I did by now, was setting a flag at the end of the config file, so `allostatic_plot.py` knows when `behaviorManager` has finished the configuration.

Is it sufficient, for the review?

[2016-04-08 10:43] Tobias-Fischer commented on #96
I think the solution I thought of is more general for the long-term. Let me try whether it works; if not, the solution with the flag will be okay.

[2016-04-08 11:00] maxime-petit commented on #90
Freezing drives button is working fine here. Thanks @jypuigbo  @clement-moulin-frier  @sockchinglow. It is very handy during demo to actually have some time to explain :dancers:   We will try the triggering later.

./Max

[2016-04-08 11:26] Tobias-Fischer commented on #96
Hi @jypuigbo,
Please have a look at https://github.com/robotology/wysiwyd/commit/88bb30c293466b15182cf72226d3833a46db25cc

I think this makes more sense. Now, `behaviorManager` tries to connect to `ears` rather than the other way around. `behaviorManager` is thus no dependency of `ears` anymore.

I've updated the XML script accordingly. @gregoire-pointeau: Please update the script in Lyon.

[2016-04-08 11:26] #96 closed

[2016-04-08 11:48] maxime-petit commented on #41
Done with https://github.com/robotology/wysiwyd/commit/1152bd3835a15593b75c6391635d4c7b26dc6283

[2016-04-08 11:48] #41 closed

[2016-04-08 11:52] Tobias-Fischer commented on #41
Removed the old code in https://github.com/robotology/wysiwyd/commit/e6f7b44895f2c6ccc33719a95f8509747e21503e

[2016-04-08 12:58] Tobias-Fischer commented on #90
Hi @jypuigbo,
This tool is very nice :). Can we add the bodypart moving to it? https://github.com/robotology/wysiwyd/commit/1152bd3835a15593b75c6391635d4c7b26dc6283

[2016-04-11 09:19] jypuigbo commented on #90
Yes we can. Will be done asap.

[2016-04-11 10:37] jypuigbo commented on #38
see PR #110

[2016-04-12 12:48] #98 closed

[2016-04-12 12:49] Tobias-Fischer commented on #98
Fixed in https://github.com/robotology/wysiwyd/pull/112

[2016-04-12 12:54] Tobias-Fischer commented on #90
And the kinematic structure please: https://github.com/robotology/wysiwyd/commit/628147ba4ff8429225c87b908a6d4d9338ae5d7f

[2016-04-15 08:50] Tobias-Fischer commented on #77
@sockchinglow: Please send this around to the mailing list ASAP!

[2016-04-15 09:33] clement-moulin-frier commented on #77
I've just done it through the maillist `wysywid-project`

[2016-04-15 09:37] Tobias-Fischer commented on #77
Thanks :)

[2016-04-15 09:37] #77 closed

[2016-04-16 10:13] Tobias-Fischer commented on #90
@jypuigbo @clement-moulin-frier: Reminder for the two new buttons :)

[2016-04-17 10:05] pattacini commented on #97
See #115 for the fix.

[2016-04-17 19:12] Tobias-Fischer opened #117 "ActionRecogDataDumper should use iCubClient"
In https://github.com/robotology/wysiwyd/commit/4b271a83818d57b36b3120b1cdbb27e58d8698fc I did a hack to retrieve the partner name (as I am too tired ..).

Please have a look at other modules, and adapt the iCubClient. Basically all you need is to add a new config file called `client.ini` and in the code add an iCubClient. Then use the `getPartnerName` method provided by the client.

Thanks,
Tobi

[2016-04-19 15:42] Tobias-Fischer commented on #90
And another reminder @jypuigbo @clement-moulin-frier

[2016-04-19 17:19] jypuigbo commented on #90
@Tobias-Fischer
With @maxime-petit we discussed the topic and decided that as we could trigger the behaviors by voice, there was no need to add the buttons. Let me know if this still hold.

Thanks

[2016-04-25 15:42] maxime-petit opened #118 "Kinect Calibration with several objects"
Hi,

The stereo-vision has better result (stability, localisation of object, size of objects, etc.) in a non-planar environment, e.g. when several objects are on the table.

However, the current Kinect Calibration require a single object: the situation is not optimal, on top of which the object has to be put quite far from the icub because the kinect need to see it also.

We might want to improve

[2016-04-25 15:45] maxime-petit commented on #118
FYI: The current "Jedi Trick" is to put very large objects around that are not recognize as object by IOL (so we have only one object present in the OPC but in a non-plannar scene)

[2016-04-25 15:47] Tobias-Fischer commented on #118
Hi Max,

I don't get the logic behind this. Albeit the SFM needs a non planar scene at the time of calibration, the performance should not be affected by the number of objects.

So I don't see where a performance improvement would happen if there are multiple objects on the table when calibrating the Kinect to the robot coordinate frame.

I guess the problem on our robot might be a bad fine calibr

[2016-04-25 15:51] pattacini commented on #118
Hi @Tobias-Fischer

Unfortunately, with only one object (often of small dimensions) lying on a complete flat and indistinguishable surface, `SFM` performs quite poorly giving flickering results, which are due to the fact that many `(0,0,0)` invalid points are returned.

[2016-04-25 15:54] pattacini commented on #118
Non-planar scenes are required mostly during `SFM` calibration but also during run-time operations in order to allow for correct features matching.

[2016-04-25 21:01] Tobias-Fischer commented on #118
Ahhh I wasn't aware of this. Sorry! I'm happy to implement the feature Max requests with multiple objects when I have a free minute, it should not take much longer than that.

Best, Tobi

[2016-04-27 12:53] Tobias-Fischer commented on #43
Closing, as https://github.com/robotology/wysiwyd/issues/51 covers different agents, and different set of objects is already possible.

[2016-04-27 12:53] #43 closed

[2016-04-27 12:56] maxime-petit commented on #90
Hi,

@jypuigbo : yes, this was mainly for a priority point of view with the demo, it was not needed strictly speaking. But I think it would be a nice features, especially because that mean that we can trigger everything manually.

./Max

[2016-04-27 13:07] Tobias-Fischer opened #119 "SAM action recognition should be single module running"
Hi @dcam0050,

Please change SAM such that it does not spawn new windows. If you need to have separate processes, please launch them as threads rather than launching new processes in `xterm` windows.
For the visualization, you could have a separate window purely for this task retrieving the data from the main process. Or even better, use `yarpview` to do the job (it is very easy to stream an image

[2016-04-27 13:10] Tobias-Fischer commented on #119
Furthermore, a pre-trained model should be provided. Training locally is not an option, the module should run out of the box. You should use `RFModule` to locate the model file (as well as any other configuration file). Hard coded paths are evil ..

[2016-04-27 13:14] jypuigbo commented on #90
Ok, so I change it to enhancement ;)

[2016-04-27 13:18] gregoire-pointeau opened #120 "SAM with dictionary of force results verb in the ABM"
`SAM` action recognizer should be able to save recognized action into the ABM automatically.
Each action can have a distinction `force/result` (ie: `drop/fall` `push/moved`) that can be associated in an `.ini` file.

I can supervised the part about the recording in the `ABM`.

[2016-04-27 13:19] Tobias-Fischer commented on #90
It would be great if you do it sooner rather than later :). I guess it shouldn't take too long.

[2016-04-27 13:34] jypuigbo commented on #90
@Tobias-Fischer Th thing is: bodypart tagging is not a drive, currently, so it can't be triggered in the same way. Some refactoring might be needed and is already being done, so it should ideally wait till this is finished.

If you want, what could be done easily is adding a button that sends an RPC command to move each of the bodyparts you have. Leaving the responsibility of knowing if the bodypa

[2016-04-27 14:22] Tobias-Fischer opened #121 "Remove warnings in narrativeHandler"
Hi @gregoire-pointeau,
One of your recent commits introduced the following warnings:
[code]

As I've recently removed all warnings in WYSIWYD, it would be nice if you get rid of these ones :). Please let me know if you don't know how to resolve some of them.

Best,
Tobi

[2016-04-27 19:23] Tobias-Fischer commented on #90
Hi @jypuigbo,
Can you please let us know how the refactoring looks like? It would be good to get an early idea what is planned, so @pattacini and others can give some input regarding the establishment of connections between the ports etc. (which is a big issue in the current implementation).

Best,
Tobi

[2016-04-27 21:56] jypuigbo commented on #90
Hi @Tobias-Fischer,

Don't worry. I spoke with @pattacini several times during the last two integrations and I am aware of the good practices. I'm also aware of your concerns about the ports, although I disagree about how big is the issue (and we already discussed the topic). I was planning to open an issue regarding this topic as soon as I can, but For this, the needs of the cognitive architectur

[2016-04-28 10:12] dcam0050 opened #122 "Error on visualdata table when issuing load in ABM"
I have just created a new ABM database by issuing new to autobiographicalMemory via rpc and then issued a load command and received the log below:

command received: load
NOTICE:  drop cascades to 5 other objects
DETAIL:  drop cascades to constraint contentopc_instance_fkey on table contentopc
drop cascades to constraint beliefs_key on table beliefs
drop cascades to constraint contentarg_instance_

[2016-04-28 10:29] pattacini opened #123 "Enforce dependency from OpenCV-3.0.0 or higher"
I would enforce the dependency from **`opencv-3.x.y`** from now on and thus streamline code and documentation.

Is that ok for you?

cc @Tobias-Fischer

[2016-04-28 11:09] Tobias-Fischer commented on #123
Fine with me :+1:

[2016-04-28 11:43] gregoire-pointeau commented on #122
cc @Tobias-Fischer @maxime-petit
I'm not very familiar with the table `visualdata`, maybe you know the proper format of time zone?

[2016-04-28 12:00] pattacini commented on #123
Good then.
I'll apply this change to master, thus waiting for it.

[2016-04-28 12:22] maxime-petit commented on #122
Yop!

Yes, the load method is not updated. I think we solved it when we were in Lyon.

The visualdata table should be created like this:
`-- Table: public.visualdata

-- DROP TABLE public.visualdata;

CREATE TABLE public.visualdata
(
  "time" timestamp without time zone NOT NULL,
  img_provider_port text NOT NULL,
  instance integer NOT NULL,
  relative_path text,
  img_oid oid,
  augmented text,

[2016-04-28 12:27] maxime-petit commented on #122
Hum, weird it seems that it is properly configure in `year-2-demo` branch.

Can you send me the exact query sent to ABM please?

Please check if this commit is taken into account on your system: https://github.com/robotology/wysiwyd/commit/a833d516167d32a7b6e27a7ff9fe4ef50cb049fe

[2016-04-28 13:01] Tobias-Fischer commented on #122
Please try again after applying https://github.com/robotology/wysiwyd/commit/3a566e0a6356a74805098e6f6aee738b754c1888

[2016-04-28 13:02] dcam0050 commented on #122
Will do

[2016-04-28 13:10] clement-moulin-frier commented on #90
Hi guys,

Can you  please be more precise about what you are requesting, I don't completely get it. You want to trigger the movement of a random body part? Or of a specific one?

In any case the best way is to send us the RPC command(s) needed to trigger what you want, then creating the button and the callback for it is a matter of minutes.

Clément

[2016-04-28 13:19] clement-moulin-frier opened #124 "Cleaning the reactive layer modules"
That is:

- cleaning the `allostaticManager` code
- not using name-specific port names (for the time being the name of the ports depends on the name of the drives and behaviors)
- Creating the connections only in the XML.

[2016-04-28 13:32] clement-moulin-frier opened #125 "Create a "Goals" module interfaced with a goal-oriented memory"
Handling human requests (like _point the banana_) is currently handle in `ears`. Human requests should indeed be transformed into a goal, which is then decomposed as an action plan (e.g. *first ask what is the banana, then push it"). Also we might consider self-generated goals in the near future (i.e. not coming from a human request but directly generated by the robot itself), so the new "Goals" m

[2016-04-28 14:46] dcam0050 commented on #122
I pulled wysiwyd, compiled and ran autobiographicalMemory then sent rpc command 'new' followed by 'load' and I still have the same error

[2016-04-28 14:56] Tobias-Fischer commented on #122
Try https://github.com/robotology/wysiwyd/commit/a6d07caa96401e180bd9afbb5bb81eea028e0c77 (on the `devel` branch.

[2016-04-28 14:56] #122 closed

[2016-04-28 15:05] dcam0050 commented on #122
Works like a charm!

[2016-04-28 15:54] pattacini opened #126 "Delete year-2-demo branch"
This is a reminder to delete `year-2-demo` branch after a while.

[2016-04-28 16:16] pattacini commented on #123
@robotology/wysiwyd-developers

From 0f0f871 on, `iol2opc` will compile only against **`OpenCV-3.x.y`**.
At the same time, the cmake variable **`WYSIWYD_IOL2OPC_WITH_TRACKING`** is no longer needed.

[2016-04-28 16:16] #123 closed

[2016-04-28 20:27] pattacini opened #127 "Remove AppVeyor patch for icub-main"
Remove this [**`patch`**](https://github.com/robotology/wysiwyd/blob/master/appveyor.yml#L49-L50) as soon as the new `icub-main` release will be available.

[2016-04-29 09:53] gregoire-pointeau commented on #121
I'll resolved it, I need to reset my setting of error in `visual` because I don't have them.

[2016-04-29 12:31] pattacini commented on #123
For completeness: to avoid messing up CI because of the dependency from opencv external modules, I've introduced the cmake variable **`WYSIWYD_BUILD_IOL2OPC`**, which regulates the compilation of `iol2opc`, in particular by disabling it during CI.

[2016-04-29 13:21] pattacini commented on #126
Done.

[2016-04-29 13:21] #126 closed

[2016-05-01 20:32] Tobias-Fischer commented on #121
Still some left after the initial fixes (https://github.com/robotology/wysiwyd/commit/cd155cee1ce2388c34edc245b9c5e9a60ec3a343 thanks @gregoire-pointeau):
[code]

[2016-05-02 08:10] gregoire-pointeau commented on #121
To be honest I don't understand why sometime you cannot compare a `.size()` with either a `signed` or `unsigned int` ... I'll investigate on it.

[2016-05-02 08:17] pattacini commented on #121
@gregoire-pointeau it really depends on the return type of `.size()`.

For instance:

- `yarp::os::Bottle::size()` returns a `int`, thus you should compare it with `int` to avoid generating a warning.
- `std::vector<>::size()` returns a `size_t` value, which is basically a `unsigned int`. Therefore, you have to behave accordingly.

[2016-05-02 08:19] gregoire-pointeau commented on #121
Ok, I'll change it, and should I try the new PR system?

[2016-05-02 08:20] pattacini commented on #121
Yes why not, even if it's a very tiny change: just to exercise yourself :smile:.

[2016-05-06 13:12] Tobias-Fischer commented on #121
Can be closed as soon as https://github.com/robotology/wysiwyd/tree/inserm-narrative is merged.

[2016-05-06 13:13] Tobias-Fischer commented on #118
Just a quick update: @maxime-petit and I didn't get around to test this yet, we'll try and do it asap.

[2016-05-06 17:47] #118 closed

[2016-05-09 11:35] pattacini commented on #121
Fixed via #129.

[2016-05-09 11:35] #121 closed

[2016-05-09 14:23] Tobias-Fischer commented on #51
@dcam0050 are you planning to get face recognition running on the iCub (within WYSIWYD)? This would fix this problem. Look at the boolean variable `useFaceRecognition` and where it is used. Also, check `handleMultiplePlayers`.

In general, I think this issue would be best tackled at an integration meeting. Before tackling it, we should be very sure though that we end up using it. I am guessing it

[2016-05-09 14:29] Tobias-Fischer commented on #58
To be honest, I don't think anyone will ever implement this. If someone will look into it, the place to do so is `grammarToString` (wrdac/functions.cpp). There, one could either implement loading a XML within a XML, or loading objects from the ABM and creating some XML code from that.

Closing here, if you think it is important feel free to re-open @maxime-petit.

[2016-05-09 14:29] #58 closed

[2016-05-09 14:32] Tobias-Fischer commented on #65
Closing here, as T1.1 finished after month 24, and it's of very low priority. No point in fixing this.

[2016-05-09 14:32] #65 closed

[2016-05-12 14:59] Tobias-Fischer opened #131 "Annoying deprecated warning in GCC5"
When building WYSIWYD in GCC5 (Ubuntu 16.04), one gets annoying warnings about deprecated declarations somewhere in yarp when including `yarp/dev/all.h`. Although I think warnings are as important as errors, this particular one we cannot influence and safely ignore.

[2016-05-12 15:01] Tobias-Fischer commented on #131
Fixed with https://github.com/robotology/wysiwyd/commit/39d452aae6f161cc7df1909687559433679578e6

[2016-05-12 15:01] #131 closed

[2016-05-24 13:38] Tobias-Fischer commented on #127
Hi @pattacini,
I think we can tackle this now with the new release being available. Also, in `travis` we can get rid of the `--force-yes` if we instead add the public key of the repository.

[2016-05-24 13:41] Tobias-Fischer opened #132 "iol2opc: Stream object names along with positions to port"
Hi,
@maxime-petit just had the idea that it would be nice to have the object names with positions provided by `iol2opc` streamed to a port. This would allow the `ABM` to have this information stored.

It should not take very long to do this.

Best,
Tobi

[2016-05-25 11:32] pattacini commented on #127
Hi @Tobias-Fischer

The Windows packages are still to be released, apparently. I don't see them here yet: https://github.com/robotology/icub-main/releases/tag/v1.1.17.

Concerning the `--force-yes` option, we should first address this [comment](https://github.com/robotology/icub-packaging/issues/3#issuecomment-221545962).

[2016-05-25 11:52] pattacini commented on #132
No doubt it's doable without any particular pain. I guess this modification aims to alleviate `ABM` in its duty of retrieving those information easier than relying on requests to `OPC`, right?

[2016-05-25 14:42] Tobias-Fischer commented on #132
Yes exactly :)

[2016-05-30 12:24] pattacini commented on #127
Hi @Tobias-Fischer

- Done with the `--force-yes` option: just awaiting confirmation from **travis**.
- Windows packages are now available but I spotted a problem with **Ipopt**: the installer does not unpack **Ipopt** correctly. We ought to wait for another release.

[2016-05-30 12:29] Tobias-Fischer commented on #127
Sounds good :).
So for now, `appveyor` is still using the old release?

[2016-05-30 12:41] pattacini commented on #127
Yep ;)

[2016-05-31 09:00] pattacini commented on #127
d4ef937 causes AppVeyor to fail with the following errors:

[code]

Apparently, `kinectWrapper` started conflicting with recent `yarp` code... I'm on it.
@drdanz any clue?

[2016-05-31 09:25] drdanz commented on #127
It's MSVC stuff and I know nothing about. It's probably related to robotology/yarp@627fde431151bc16f64e462c3f312935616cd193
cc @lornat75

[2016-05-31 15:43] Tobias-Fischer opened #133 "narrativeHandler stuck if mentalOPC is not running"
Hi @gregoire-pointeau,
the `narrativeHandler` module currently gets stuck if no `mentalOPC` is running.
Can you please either
- make `mentalOPC` optional or
- add `mentalOPC` to the WYSIWYD demo XML file

Thanks,
Tobi

[2016-05-31 15:47] Tobias-Fischer opened #134 "babbling module causes errors in yarprobotinterface"
Hi @martz21,
Some recent changes in `yarprobotinterface` cause the `babbling` module to produce hundreds of errors. The babbling however is working fine. I guess somewhere the change of control mode is missing or something like this. The errors look as follows:
[code]

It would be great if you have a look in a free minute.

Thanks,
Tobi
PS: Maybe @pattacini knows more about this?

[2016-05-31 15:51] Tobias-Fischer commented on #134
I had a quick look and it seems like you have to use `VOCAB_CM_POSITION_DIRECT` mode instead of `VOCAB_CM_POSITION` mode. But again @pattacini probably knows better.

[2016-05-31 17:20] pattacini commented on #134
yep, @Tobias-Fischer is right.
Also, it seems it must be happening the same for controlling in velocity.

Since something like two years ago we drastically changed the way motors can be controlled. The corresponding mode must be enabled explicitly before calling the relative driving routines.

[2016-05-31 17:29] Tobias-Fischer commented on #134
So just changing `VOCAB_CM_POSITION` into `VOCAB_CM_POSITION_DIRECT` will do the job? I know that @martz21 already explicitly sets the control mode, maybe just not the proper one ..

[2016-05-31 17:33] pattacini commented on #134
One thing is certainly to set the correct mode; another thing is also to set it at the right time, that is when it's needed. It may happen that the mode is changed several times (even by other modules) and the user code is not always aware of those changes.

[2016-06-01 14:33] clement-moulin-frier opened #137 "Integrating the full language production/perception model from inserm to deal with complex sentences"
I.e. being able to deal with human request like "before grasping the banana, push the croco", both in language production and perception.

[2016-06-01 14:37] clement-moulin-frier opened #138 "Linking the language model to Goal module in #125"
so that action plans can be mapped to verbal sentences bidirectionally.

See D5.3 description. Work in collaboration between UPF and INSERM That's more or less the topic of the next WP5 deliverable in close collaboration with inserm)

[2016-06-01 14:39] clement-moulin-frier opened #139 "Integrating IIT peripersonal space in the demo"
That could be a good starting point to include a value system, e.g. differentiating between good objects (e.g. banana) associated with the small PPS, and bad objects (e.g. spider) with a bigger PPS. The value will be provided by a human (good/bad)

[2016-06-01 14:47] Tobias-Fischer commented on #133
Fixed with https://github.com/robotology/wysiwyd/pull/136

[2016-06-01 14:47] #133 closed

[2016-06-01 14:49] Tobias-Fischer opened #140 "Express knowledge about other agent using mirror neuron system"
Imperial will use their mirror neuron / perspective taking system to use the knowledge we acquired for the self (bodypart naming) when expressing our knowledge in terms of the partners body. As simple example, if the iCub learnt about his left arm, he will be able to point at the human's left arm saying its his left arm (this example is not very exciting, but I guess you get the idea)

[2016-06-03 07:02] pattacini commented on #127
Problem partially solved via https://github.com/robotology/yarp/commit/1aeb89b73132e677ba76faa20e6714979ec6c7e9.
Expected new Yarp release.